<a href="https://colab.research.google.com/github/blkbamboo74/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/1Assignment_Dennis_Batsite_DS_Unit_1_Sprint_3_Statistical_Tests_and_Experiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>






















# Data Science Unit 1 Sprint 3 Assignment 1
# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this 1980s congressional voting data. The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

    Load and clean the data (or determine the best method to drop observations when running tests)
    Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
    Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
    Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve 2 sample t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

    Refactor your code into functions so it's easy to rerun with arbitrary variables
    Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [ ]:

### YOUR CODE STARTS HERE

In [42]:
from scipy import stats
import pandas as pd




url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
names = ['party', 'handicapped_infants', 'water_project_cost_sharing', 'budget_resolution', 'physician_fee_freeze', 'el_salvador_aid', 'religious_groups_in_schools',
         'anti_satellite_test_ban', 'aid_to_nicaraguan_contras', 'mx_missile', 'immigration', 'synfuels_corporation_cutback', 'education_spending', 'superfund_right_to_sue',
         'crime', 'duty_free_exports', 'export_admin_act_south_africa']
votes = pd.read_csv(url, names=names, na_values=['?'])
votes.replace('n', 0, inplace=True)
votes.replace('y', 1, inplace=True)
votes.head()

        party  ...  export_admin_act_south_africa
0  republican  ...                            1.0
1  republican  ...                            NaN
2    democrat  ...                            0.0
3    democrat  ...                            1.0
4    democrat  ...                            1.0

[5 rows x 17 columns]

In [38]:
votes.dropna(subset=['handicapped_infants']).head(10)

         party  ...  export_admin_act_south_africa
0   republican  ...                            1.0
1   republican  ...                            NaN
3     democrat  ...                            1.0
4     democrat  ...                            1.0
5     democrat  ...                            1.0
6     democrat  ...                            1.0
7   republican  ...                            1.0
8   republican  ...                            1.0
9     democrat  ...                            NaN
10  republican  ...                            0.0

[10 rows x 17 columns]

In [0]:
import scipy

In [0]:
df = votes

In [0]:
republican_water = votes.where(df.party == 'republican').dropna(subset=['water_project_cost_sharing'])
democrat_water = votes.where(df.party == 'democrat').dropna(subset=['water_project_cost_sharing'])

In [64]:
ct1 = pd.crosstab(df.party, df.water_project_cost_sharing)
ct1

water_project_cost_sharing  0.0  1.0
party
democrat                    119  120
republican                   73   75

In [57]:
scipy.stats.ttest_ind(republican_water.water_project_cost_sharing, democrat_water.water_project_cost_sharing)

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823994811)

In [0]:
republican_esaid = votes.where(df.party == 'republican').dropna(subset=['el_salvador_aid'])
democrat_esaid = votes.where(df.party == 'democrat').dropna(subset=['el_salvador_aid'])

In [65]:
ct2 = pd.crosstab(df.party, df.el_salvador_aid)
ct2

el_salvador_aid  0.0  1.0
party
democrat         200   55
republican         8  157

In [62]:
scipy.stats.ttest_ind(republican_esaid.el_salvador_aid, democrat_esaid.el_salvador_aid)

Ttest_indResult(statistic=21.136692611732194, pvalue=5.600520111728605e-68)

In [0]:
republican_rs = votes.where(df.party == 'republican').dropna(subset=['religious_groups_in_schools'])
democrat_rs = votes.where(df.party == 'democrat').dropna(subset=['religious_groups_in_schools'])

In [69]:
ct2 = pd.crosstab(df.party, df.religious_groups_in_schools)
ct2

religious_groups_in_schools  0.0  1.0
party
democrat                     135  123
republican                    17  149

In [70]:
scipy.stats.ttest_ind(republican_rs.religious_groups_in_schools, democrat_rs.religious_groups_in_schools)

Ttest_indResult(statistic=9.737575825219457, pvalue=2.393672252059893e-20)

# Now I'm going to create some code to go through all the data in one clean swipe.

In [0]:
def ttest(x, y):
  return scipy.stats.ttest_ind(x, y)

In [0]:
dem_votes = votes.where(df.party == 'democrat')
rep_votes = votes.where(df.party == 'republican')

In [74]:
ttest(dem_votes.dropna(subset=['el_salvador_aid']).el_salvador_aid, rep_votes.dropna(subset=['el_salvador_aid']).el_salvador_aid)

Ttest_indResult(statistic=-21.136692611732194, pvalue=5.600520111728605e-68)

In [75]:
# Positive statistic means issue favored by dems, negative statistic means issue favored by reps

for i in range(1, len(names)):

  print(names[i] + ':', ttest(dem_votes.dropna(subset=[names[i]])[names[i]], rep_votes.dropna(subset=[names[i]])[names[i]]), sep='\t' if len(names[i]) >=

        len('anti_satellite_test_ban') else '\t\t' if len(names[i]) > len('immigration') else '\t\t\t' if len(names[i]) > len('crime') else '\t\t\t\t')

handicapped_infants:		Ttest_indResult(statistic=9.205264294809222, pvalue=1.613440327936998e-18)
water_project_cost_sharing:	Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823994811)
budget_resolution:		Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795405602e-77)
physician_fee_freeze:		Ttest_indResult(statistic=-49.367081573014055, pvalue=1.994262314074572e-177)
el_salvador_aid:		Ttest_indResult(statistic=-21.136692611732194, pvalue=5.600520111728605e-68)
religious_groups_in_schools:	Ttest_indResult(statistic=-9.737575825219457, pvalue=2.393672252059893e-20)
anti_satellite_test_ban:	Ttest_indResult(statistic=12.526187929077842, pvalue=8.521033017443427e-31)
aid_to_nicaraguan_contras:	Ttest_indResult(statistic=18.052093200819733, pvalue=2.824718413723432e-54)
mx_missile:			Ttest_indResult(statistic=16.43750326854299, pvalue=5.030792653107883e-47)
immigration:			Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425282)
synfuels_corporation_cutback:	Ttest_indResult(statistic=8.293603989407588, pvalue=1.5759322301054227e-15)
education_spending:		Ttest_indResult(statistic=-20.500685724563073, pvalue=1.8834203990447446e-64)
superfund_right_to_sue:		Ttest_indResult(statistic=-13.51064251060933, pvalue=1.2278581709672014e-34)
crime:				Ttest_indResult(statistic=-16.342085656197696, pvalue=9.9523427056044e-47)
duty_free_exports:		Ttest_indResult(statistic=12.853146132542978, pvalue=5.997697174348817e-32)
export_admin_act_south_africa:	Ttest_indResult(statistic=6.849454815841208, pvalue=3.652674361672202e-11)