<a href="https://colab.research.google.com/github/SamH3pn3r/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/Copy_of_LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [47]:
from google.colab import files
files.upload()

{}

In [0]:
### YOUR CODE STARTS HERE
import pandas as pd
df = pd.read_csv('house-votes-84.data')

In [49]:
df.head()

   republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0  republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1    democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2    democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3    democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4    democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y

In [0]:
column_names = ['Class', 'handicap infants', 'Water project', 'Budget res.', 
                'adopt budget res', 'phys fee freeze', 'el salv aid', 
                'relig. groups in schools', 'anti-sat test ban', 
                'aid to nicaragua', 'mx missile', 'immigration', 
                'synfuels cutback', 'edu spend', 'superfund right to sue',
               'crime', 'duty-free exports', 'export admin act S Africa']

In [0]:
df = pd.read_csv('house-votes-84.data', names = column_names, header=None, na_values = '?')
new_df = df.replace({'y': 1, 'n':0})

In [52]:
new_df.head()

        Class  handicap infants  ...  duty-free exports  export admin act S Africa
0  republican               0.0  ...                1.0                        NaN
1  republican               0.0  ...                NaN                        NaN
2    democrat               NaN  ...                0.0                        NaN
3    democrat               0.0  ...                1.0                        NaN
4    democrat               1.0  ...                1.0                        NaN

[5 rows x 18 columns]

In [53]:
new_df.isnull().sum()

Class                          0
handicap infants              12
Water project                 48
Budget res.                   11
adopt budget res              11
phys fee freeze               15
el salv aid                   11
relig. groups in schools      14
anti-sat test ban             15
aid to nicaragua              22
mx missile                     7
immigration                   21
synfuels cutback              31
edu spend                     25
superfund right to sue        17
crime                         28
duty-free exports            104
export admin act S Africa    435
dtype: int64

In [54]:
rep = new_df[new_df.Class=='republican']
rep.head()

         Class  handicap infants  ...  duty-free exports  export admin act S Africa
0   republican               0.0  ...                1.0                        NaN
1   republican               0.0  ...                NaN                        NaN
7   republican               0.0  ...                1.0                        NaN
8   republican               0.0  ...                1.0                        NaN
10  republican               0.0  ...                0.0                        NaN

[5 rows x 18 columns]

In [55]:
dem = new_df[new_df.Class=='democrat']
dem.head()

      Class  handicap infants  ...  duty-free exports  export admin act S Africa
2  democrat               NaN  ...                0.0                        NaN
3  democrat               0.0  ...                1.0                        NaN
4  democrat               1.0  ...                1.0                        NaN
5  democrat               0.0  ...                1.0                        NaN
6  democrat               0.0  ...                1.0                        NaN

[5 rows x 18 columns]

In [0]:
from scipy.stats import ttest_ind, ttest_1samp

1.   Null hypothesis: Democrat and Republican support is equal.
2.   Alt. Hypothesis: Support is not equal.  
Confidence interval = 90%

In [57]:
ttest_ind(rep['handicap infants'],dem['handicap infants'],  nan_policy='omit')

Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)

Reject null hypothesis!  
I believe that the democrats support handicap infants more than the republicans.  
  Let's see...
Null hypothesis: democratic support is greater than 60 percent.  
Alt hypothesis: democratic support is less than 60 percent.  
Confidence interval = 90%

In [58]:
ttest_1samp(dem['handicap infants'], .6, nan_policy='omit')

Ttest_1sampResult(statistic=0.15250547056429176, pvalue=0.8789079366662332)

Null hypothesis passes!   

Null hypothesis: Republican support is 50 percent or more.  
Alt. hypothesis: Republican support is less than 50 percent.  
Confidence interval = 90%

In [59]:
ttest_1samp(rep['handicap infants'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=-10.232833482397659, pvalue=2.572179359890009e-19)

Null hypothesis is rejected!

Therefore, Democratic support is greater than Republican support for handicapped infants.

Null hypothesis: Support is equal from both parties  
Alt. hypothesis: Support is not equal from both parties.  
Confidence interval = 90%

In [60]:
ttest_ind(rep['adopt budget res'],dem['adopt budget res'],  nan_policy='omit')

Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)

We will reject the null hypothesis!    
Which party favors it the most?

Null hypothesis: Dem support is 50 % or greater  
Alt hypothesis: Dem support is not 50% or greater.  
Confidence interval = 90%

In [61]:
ttest_1samp(dem['adopt budget res'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=-31.67705343439813, pvalue=6.796885728494356e-91)

We reject the null hypothesis

Null hypothesis: Rep support is 98 percent or greater.
Alt. hypothesis: Rep support is not 98 percent or greater

In [62]:
ttest_1samp(rep['adopt budget res'], .98, nan_policy='omit')

Ttest_1sampResult(statistic=0.9220542549545366, pvalue=0.35785473875299445)

We accept the null hypothesis!  
The Republicans supported to adopt the budget resolution more than the Democrats.

Null hypothesis: The suport from each party is equal.
Alt. hypothesis: The support from each party is not equal
Confidence interval = 90%

In [63]:
ttest_ind(rep['Water project'],dem['Water project'],  nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

The p-value > 1 - confidence interval = .1 (where 1 - confidence interval = .1)  
Thus, we accept the null hypothesis.