<a href="https://colab.research.google.com/github/misqualzarabi/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/Copy_of_LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
voting_data_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data"

missing_values = ["n/a", "na", "NaN", "?"]

In [0]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [3]:
df = pd.read_csv(voting_data_url, header=None)
df.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [0]:
column_names = ['Class Name','handicapped-infants','water-project-cost-sharing','budget-resolution',' physician-fee-freeze', 'el-salvador-aid','religious-groups-in-schools',
           
           'anti-satellite-test-ban', 'aid-to-nicaraguan-contras', 'mx-missile','immigration','synfuels-corporation','education-spending', 'superfund-right-to-sue',
           
           'crime','duty-free-exports','export-administration-act-south-africa']

In [5]:
df = pd.read_csv(voting_data_url, names=column_names, na_values=missing_values)
df.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [6]:
df.shape

(435, 17)

In [0]:
df.replace({'n':1, 'y':2},inplace=True)

In [8]:
df.head()

   Class Name  ...  export-administration-act-south-africa
0  republican  ...                                     2.0
1  republican  ...                                     NaN
2    democrat  ...                                     1.0
3    democrat  ...                                     2.0
4    democrat  ...                                     2.0

[5 rows x 17 columns]

In [9]:
df.isnull().sum()

Class Name                                  0
handicapped-infants                        12
water-project-cost-sharing                 48
budget-resolution                          11
 physician-fee-freeze                      11
el-salvador-aid                            15
religious-groups-in-schools                11
anti-satellite-test-ban                    14
aid-to-nicaraguan-contras                  15
mx-missile                                 22
immigration                                 7
synfuels-corporation                       21
education-spending                         31
superfund-right-to-sue                     25
crime                                      17
duty-free-exports                          28
export-administration-act-south-africa    104
dtype: int64

In [10]:
df.shape

(435, 17)

In [11]:
df.dtypes

Class Name                                 object
handicapped-infants                       float64
water-project-cost-sharing                float64
budget-resolution                         float64
 physician-fee-freeze                     float64
el-salvador-aid                           float64
religious-groups-in-schools               float64
anti-satellite-test-ban                   float64
aid-to-nicaraguan-contras                 float64
mx-missile                                float64
immigration                               float64
synfuels-corporation                      float64
education-spending                        float64
superfund-right-to-sue                    float64
crime                                     float64
duty-free-exports                         float64
export-administration-act-south-africa    float64
dtype: object

In [0]:
df_republican = df[df['Class Name']=='republican']
df_democrat = df[df['Class Name']=='democrat']              # Split the dataframe into two groups

In [13]:
df_republican.shape

(168, 17)

In [14]:
df_democrat.shape

(267, 17)

In [15]:
df_republican.mean()

handicapped-infants                       1.187879
water-project-cost-sharing                1.506757
budget-resolution                         1.134146
 physician-fee-freeze                     1.987879
el-salvador-aid                           1.951515
religious-groups-in-schools               1.897590
anti-satellite-test-ban                   1.240741
aid-to-nicaraguan-contras                 1.152866
mx-missile                                1.115152
immigration                               1.557576
synfuels-corporation                      1.132075
education-spending                        1.870968
superfund-right-to-sue                    1.860759
crime                                     1.981366
duty-free-exports                         1.089744
export-administration-act-south-africa    1.657534
dtype: float64

In [16]:
df_democrat.mean()

handicapped-infants                       1.604651
water-project-cost-sharing                1.502092
budget-resolution                         1.888462
 physician-fee-freeze                     1.054054
el-salvador-aid                           1.215686
religious-groups-in-schools               1.476744
anti-satellite-test-ban                   1.772201
aid-to-nicaraguan-contras                 1.828897
mx-missile                                1.758065
immigration                               1.471483
synfuels-corporation                      1.505882
education-spending                        1.144578
superfund-right-to-sue                    1.289683
crime                                     1.350195
duty-free-exports                         1.637450
export-administration-act-south-africa    1.935135
dtype: float64

In [18]:
# Null hypothesis is _ both parties vote same 

# Alternative hypothesis is democrats vote more than republicans

ttest_ind(df_republican.dropna()['crime'], df_democrat.dropna()['crime'], equal_var=False)

Ttest_indResult(statistic=14.151835852827407, pvalue=3.971778855767883e-29)

In [24]:
# Here our null hypothesis is_ both of the parties did the same voting
# Alternative hypothesis is republicans vote more than the democrats

ttest_ind(df_republican.dropna()['anti-satellite-test-ban'], df_democrat.dropna()['anti-satellite-test-ban'], equal_var=False)

Ttest_indResult(statistic=-8.67230995927103, pvalue=8.977463055481348e-16)

In [20]:
ttest_ind(df_republican.dropna()['water-project-cost-sharing'], df_democrat.dropna()['water-project-cost-sharing'], equal_var=False)

Ttest_indResult(statistic=0.31273939838768144, pvalue=0.7547677988488006)