<a href="https://colab.research.google.com/github/rick1270/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/Copy_of_LS_DS_142_Sampling_Confidence_Intervals_and_Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science Module 142
## Sampling, Confidence Intervals, and Hypothesis Testing

## Prepare - examine other available hypothesis tests

If you had to pick a single hypothesis test in your toolbox, t-test would probably be the best choice - but the good news is you don't have to pick just one! Here's some of the others to be aware of:

In [123]:
import numpy as np
from scipy.stats import chisquare  # One-way chi square test

# Chi square can take any crosstab/table and test the independence of rows/cols
# The null hypothesis is that the rows/cols are independent -> low chi square
# The alternative is that there is a dependence -> high chi square
# Be aware! Chi square does *not* tell you direction/causation

ind_obs = np.array([[1, 1], [2, 2]]).T
print(ind_obs)
print(chisquare(ind_obs, axis=None))

dep_obs = np.array([[16, 18, 16, 14, 12, 12], [32, 24, 16, 28, 20, 24]]).T
print(dep_obs)
print(chisquare(dep_obs, axis=None))

[[1 2]
 [1 2]]
Power_divergenceResult(statistic=0.6666666666666666, pvalue=0.8810148425137847)
[[16 32]
 [18 24]
 [16 16]
 [14 28]
 [12 20]
 [12 24]]
Power_divergenceResult(statistic=23.31034482758621, pvalue=0.015975692534127565)

In [124]:
# Distribution tests:
# We often assume that something is normal, but it can be important to *check*

# For example, later on with predictive modeling, a typical assumption is that
# residuals (prediction errors) are normal - checking is a good diagnostic

from scipy.stats import normaltest
# Poisson models arrival times and is related to the binomial (coinflip)
sample = np.random.poisson(5, 1000)
print(normaltest(sample))  # Pretty clearly not normal

NormaltestResult(statistic=13.684313516086755, pvalue=0.0010677979325861677)

In [125]:
# Kruskal-Wallis H-test - compare the median rank between 2+ groups
# Can be applied to ranking decisions/outcomes/recommendations
# The underlying math comes from chi-square distribution, and is best for n>5
from scipy.stats import kruskal

x1 = [1, 3, 5, 7, 9]
y1 = [2, 4, 6, 8, 10]
print(kruskal(x1, y1))  # x1 is a little better, but not "significantly" so

x2 = [1, 1, 1]
y2 = [2, 2, 2]
z = [2, 2]  # Hey, a third group, and of different size!
print(kruskal(x2, y2, z))  # x clearly dominates

KruskalResult(statistic=0.2727272727272734, pvalue=0.6015081344405895)
KruskalResult(statistic=7.0, pvalue=0.0301973834223185)

And there's many more! `scipy.stats` is fairly comprehensive, though there are even more available if you delve into the extended world of statistics packages. As tests get increasingly obscure and specialized, the importance of knowing them by heart becomes small - but being able to look them up and figure them out when they *are* relevant is still important.

## Live Lecture - let's explore some more of scipy.stats

In [0]:
# Taking requests! Come to lecture with a topic or problem and we'll try it.
from scipy import stats
b1 = stats.binom(n=100, p=0.6)

In [127]:
b1.mean()

60.0

In [128]:
b1.median()

60.0

In [129]:
import random
random.seed(100)  # Reproducibility! Next line should give 2386
random.randint(0, 10000)

2386

In [130]:
chi2 = stats.chi2(500)
chi2.mean()

500.0

In [131]:
chi2.median()

499.3334915888738

In [0]:
# Confidence intervals!
# Similar to hypothesis testing, but centered at sample mean
# Better than reporting the "point estimate" (sample mean)
# Why? Because point estimates aren't always perfect

import numpy as np
from scipy import stats

def confidence_interval(data, confidence=0.95):
  """
  Calculate a confidence interval around a sample mean for given data.
  Using t-distribution and two-tailed test, default 95% confidence. 
  
  Arguments:
    data - iterable (list or numpy array) of sample observations
    confidence - level of confidence for the interval
  
  Returns:
    tuple of (mean, lower bound, upper bound)
  """
  data = np.array(data)
  mean = np.mean(data)
  n = len(data)
  stderr = stats.sem(data)
  interval = stderr * stats.t.ppf((1 + confidence) / 2., n - 1)
  return (mean, mean - interval, mean + interval)

def report_confidence_interval(confidence_interval):
  """
  Return a string with a pretty report of a confidence interval.
  
  Arguments:
    confidence_interval - tuple of (mean, lower bound, upper bound)
  
  Returns:
    None, but prints to screen the report
  """
  #print('Mean: {}'.format(confidence_interval[0]))
  #print('Lower bound: {}'.format(confidence_interval[1]))
  #print('Upper bound: {}'.format(confidence_interval[2]))
  s = "our mean lies in the interval ]{:.2}, {:.2}[".format(
      confidence_interval[1], confidence_interval[2])
  return s

In [133]:
x = 2
print('x is: {}'.format(x))

x is: 2

In [134]:
coinflips = np.random.binomial(n=1, p=0.5, size=100)
print(coinflips)

[1 1 1 0 0 1 1 0 0 0 1 0 1 1 0 0 0 0 0 0 0 1 1 0 0 1 1 1 0 0 1 0 1 0 1 1 1
 1 1 0 0 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1
 1 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 1 1 0 0 0 1 1 1]

In [135]:
import pandas as pd
df = pd.DataFrame(coinflips)
df.describe()

                0
count  100.000000
mean     0.490000
std      0.502418
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [136]:
coinflip_interval = confidence_interval(coinflips, confidence=0.95)
coinflip_interval

(0.49, 0.3903092906280824, 0.5896907093719176)

In [137]:
report_confidence_interval(coinflip_interval)

'our mean lies in the interval ]0.39, 0.59['

## Assignment - Build a confidence interval

A confidence interval refers to a neighborhood around some point estimate, the size of which is determined by the desired p-value. For instance, we might say that 52% of Americans prefer tacos to burritos, with a 95% confidence interval of +/- 5%.

52% (0.52) is the point estimate, and +/- 5% (the interval $[0.47, 0.57]$) is the confidence interval. "95% confidence" means a p-value $\leq 1 - 0.95 = 0.05$.

In this case, the confidence interval includes $0.5$ - which is the natural null hypothesis (that half of Americans prefer tacos and half burritos, thus there is no clear favorite). So in this case, we could use the confidence interval to report that we've failed to reject the null hypothesis.

But providing the full analysis with a confidence interval, including a graphical representation of it, can be a helpful and powerful way to tell your story. Done well, it is also more intuitive to a layperson than simply saying "fail to reject the null hypothesis" - it shows that in fact the data does *not* give a single clear result (the point estimate) but a whole range of possibilities.

How is a confidence interval built, and how should it be interpreted? It does *not* mean that 95% of the data lies in that interval - instead, the frequentist interpretation is "if we were to repeat this experiment 100 times, we would expect the average result to lie in this interval ~95 times."

For a 95% confidence interval and a normal(-ish) distribution, you can simply remember that +/-2 standard deviations contains 95% of the probability mass, and so the 95% confidence interval based on a given sample is centered at the mean (point estimate) and has a range of +/- 2 (or technically 1.96) standard deviations.

Different distributions/assumptions (90% confidence, 99% confidence) will require different math, but the overall process and interpretation (with a frequentist approach) will be the same.

Your assignment - using the data from the prior module ([congressional voting records](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records)):

1. Generate and numerically represent a confidence interval
2. Graphically (with a plot) represent the confidence interval
3. Interpret the confidence interval - what does it tell you about the data and its distribution?

Stretch goals:

1. Write a summary of your findings, mixing prose and math/code/results. *Note* - yes, this is by definition a political topic. It is challenging but important to keep your writing voice *neutral* and stick to the facts of the data. Data science often involves considering controversial issues, so it's important to be sensitive about them (especially if you want to publish).
2. Apply the techniques you learned today to your project data or other data of your choice, and write/discuss your findings here.

In [0]:
# TODO - your code!

In [139]:
# Getting started with drug data
# http://archive.ics.uci.edu/ml/datasets/Drug+Review+Dataset+%28Drugs.com%29

!wget http://archive.ics.uci.edu/ml/machine-learning-databases/00462/drugsCom_raw.zip

--2018-12-04 22:47:50--  http://archive.ics.uci.edu/ml/machine-learning-databases/00462/drugsCom_raw.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.249
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.249|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 42989872 (41M) [application/zip]
Saving to: ‘drugsCom_raw.zip.3’

drugsCom_raw.zip.3  100%[===================>]  41.00M  18.9MB/s    in 2.2s

2018-12-04 22:47:52 (18.9 MB/s) - ‘drugsCom_raw.zip.3’ saved [42989872/42989872]

In [140]:
!unzip drugsCom_raw.zip

Archive:  drugsCom_raw.zip
replace drugsComTest_raw.tsv? [y]es, [n]o, [A]ll, [N]one, [r]ename: no
replace drugsComTrain_raw.tsv? [y]es, [n]o, [A]ll, [N]one, [r]ename: no

In [141]:
!head drugsComTrain_raw.tsv

	drugName	condition	review	rating	date	usefulCount
206461	Valsartan	Left Ventricular Dysfunction	"""It has no side effect, I take it in combination of Bystolic 5 Mg and Fish Oil"""	9.0	May 20, 2012	27
95260	Guanfacine	ADHD	"""My son is halfway through his fourth week of Intuniv. We became concerned when he began this last week, when he started taking the highest dose he will be on. For two days, he could hardly get out of bed, was very cranky, and slept for nearly 8 hours on a drive home from school vacation (very unusual for him.) I called his doctor on Monday morning and she said to stick it out a few days. See how he did at school, and with getting up in the morning. The last two days have been problem free. He is MUCH more agreeable than ever. He is less emotional (a good thing), less cranky. He is remembering all the things he should. Overall his behavior is better.
We have tried many different medications and so far this is the most effective."""	8.0	April 27, 2010	192
92703	Lybrel	Birth Control	"""I used to take another oral contraceptive, which had 21 pill cycle, and was very happy- very light periods, max 5 days, no other side effects. But it contained hormone gestodene, which is not available in US, so I switched to Lybrel, because the ingredients are similar. When my other pills ended, I started Lybrel immediately, on my first day of period, as the instructions said. And the period lasted for two weeks. When taking the second pack- same two weeks. And now, with third pack things got even worse- my third period lasted for two weeks and now it&#039;s the end of the third week- I still have daily brown discharge.
The positive side is that I didn&#039;t have any other side effects. The idea of being period free was so tempting... Alas."""	5.0	December 14, 2009	17
138000	Ortho Evra	Birth Control	"""This is my first time using any form of birth control. I&#039;m glad I went with the patch, I have been on it for 8 months. At first It decreased my libido but that subsided. The only downside is that it made my periods longer (5-6 days to be exact) I used to only have periods for 3-4 days max also made my cramps intense for the first two days of my period, I never had cramps before using birth control. Other than that in happy with the patch"""	8.0	November 3, 2015	10
35696	Buprenorphine / naloxone	Opiate Dependence	"""Suboxone has completely turned my life around.  I feel healthier, I&#039;m excelling at my job and I always have money in my pocket and my savings account.  I had none of those before Suboxone and spent years abusing oxycontin.  My paycheck was already spent by the time I got it and I started resorting to scheming and stealing to fund my addiction.  All that is history.  If you&#039;re ready to stop, there&#039;s a good chance that suboxone will put you on the path of great life again.  I have found the side-effects to be minimal compared to oxycontin.  I&#039;m actually sleeping better.   Slight constipation is about it for me.  It truly is amazing. The cost pales in comparison to what I spent on oxycontin."""	9.0	November 27, 2016	37
155963	Cialis	Benign Prostatic Hyperplasia	"""2nd day on 5mg started to work with rock hard erections however experianced headache, lower bowel preassure. 3rd day erections would wake me up &amp; hurt! Leg/ankles aches   severe lower bowel preassure like you need to go #2 but can&#039;t! Enjoyed the initial rockhard erections but not at these side effects or $230 for months supply! I&#039;m 50 &amp; work out 3Xs a week. Not worth side effects!"""	2.0	November 28, 2015	43
165907	Levonorgestrel	Emergency Contraception	"""He pulled out, but he cummed a bit in me. I took the Plan B 26 hours later, and took a pregnancy test two weeks later - - I&#039;m pregnant."""	1.0	March 7, 2017	5

In [142]:
df = pd.read_table('drugsComTrain_raw.tsv')
df.shape

(161297, 7)

In [143]:
df.head()

,Unnamed: 0,drugName,condition,review,rating,date,usefulCount
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9.0,"May 20, 2012",27
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8.0,"April 27, 2010",192
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5.0,"December 14, 2009",17
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8.0,"November 3, 2015",10
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9.0,"November 27, 2016",37

In [144]:
df_adhd = df[df['condition'] == 'ADHD']
df_adhd.shape

(3383, 7)

In [145]:
adhd_drugs = pd.unique(df_adhd['drugName'])
adhd_drugs

array(['Guanfacine', 'Daytrana', 'Intuniv', 'Focalin', 'Vyvanse',
       'Lisdexamfetamine', 'Amphetamine / dextroamphetamine',
       'Atomoxetine', 'Concerta', 'Strattera', 'Focalin XR',
       'Methylphenidate', 'Ritalin', 'Kapvay', 'Adderall', 'Bupropion',
       'Dexmethylphenidate', 'Wellbutrin SR', 'Zenzedi', 'Desoxyn',
       'Adderall XR', 'Adzenys XR-ODT', 'Pemoline', 'Nuvigil',
       'Dyanavel XR', 'Dextroamphetamine', 'Methylin ER', 'Dexedrine',
       'Amphetamine', 'Quillivant XR',
       'Omega-3 polyunsaturated fatty acids', 'Mydayis', 'Clonidine',
       'Catapres', 'Ritalin LA', 'ProCentra', 'Methylin', 'Metadate CD',
       'Amantadine', 'Wellbutrin', 'Modafinil', 'Methamphetamine',
       'Wellbutrin XL', 'Ritalin-SR', 'Armodafinil', 'Evekeo', 'Cylert',
       'Aptensio XR', 'Desipramine', 'Imipramine', 'Tenex', 'Provigil',
       'Selegiline', 'Pristiq', 'Desvenlafaxine'], dtype=object)

In [169]:
df_drugs = df[df['drugName'] == 'Adderall']
df_ratings = pd.DataFrame(df_drugs.transpose().loc['rating'])
df_ratings

       rating
1018        6
1712        8
3156       10
3356        4
3946        8
4018        9
4897        7
5936       10
6045        4
7662        2
8466        9
8585        8
8914       10
9388       10
9573       10
10677      10
11378      10
13902       1
13984      10
16761       2
16844      10
17918      10
18027       8
18346      10
18543       9
19086      10
21145       8
21340       4
22127       7
23082      10
...       ...
135744      8
138392     10
139573      8
139962     10
140291      8
142225     10
142818      8
144528     10
145217      9
145303      6
146093     10
146397     10
147284     10
147363      9
147941     10
148820     10
150092     10
153647     10
154188      7
156804      9
156839     10
157983     10
158026      9
158448      7
160182      3
160216      8
160467      9
160806     10
160848     10
160998      8

[201 rows x 1 columns]

In [172]:
avg_rating = pd.DataFrame(df_adhd.groupby(['drugName']).rating.mean()).transpose()
avg_rating

drugName,Adderall,Adderall XR,Adzenys XR-ODT,Amantadine,Amphetamine,Amphetamine / dextroamphetamine,Aptensio XR,Armodafinil,Atomoxetine,Bupropion,...,Ritalin LA,Ritalin-SR,Selegiline,Strattera,Tenex,Vyvanse,Wellbutrin,Wellbutrin SR,Wellbutrin XL,Zenzedi
rating,8.33125,8.140187,6.277778,8.666667,6.613636,7.997167,6.333333,7.375,5.408867,7.793103,...,9.0,9.0,10.0,5.507614,1.0,7.69898,5.5,8.0,9.0,8.5

In [175]:
df_count = pd.concat([ avg_rating['Adderall'], df_drugs['rating']])

rating     8.33125
1018       6.00000
1712       8.00000
3156      10.00000
3356       4.00000
3946       8.00000
4018       9.00000
4897       7.00000
5936      10.00000
6045       4.00000
7662       2.00000
8466       9.00000
8585       8.00000
8914      10.00000
9388      10.00000
9573      10.00000
10677     10.00000
11378     10.00000
13902      1.00000
13984     10.00000
16761      2.00000
16844     10.00000
17918     10.00000
18027      8.00000
18346     10.00000
18543      9.00000
19086     10.00000
21145      8.00000
21340      4.00000
22127      7.00000
            ...
135744     8.00000
138392    10.00000
139573     8.00000
139962    10.00000
140291     8.00000
142225    10.00000
142818     8.00000
144528    10.00000
145217     9.00000
145303     6.00000
146093    10.00000
146397    10.00000
147284    10.00000
147363     9.00000
147941    10.00000
148820    10.00000
150092    10.00000
153647    10.00000
154188     7.00000
156804     9.00000
156839    10.00000
157983    10.00000
158026     9.00000
158448     7.00000
160182     3.00000
160216     8.00000
160467     9.00000
160806    10.00000
160848    10.00000
160998     8.00000
Length: 202, dtype: float64

In [0]:
plt.barh(avg_rating, width = 1)