<a href="https://colab.research.google.com/github/Dpgofast/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/Dakota_DS_Unit_1_Sprint_Challenge_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

 Missing Attribute Values:
    37 cases (5%) have one or more missing values.  The missing
    values from particular attributes are:

    A1:  12
    A2:  12
    A4:   6
    A5:   6
    A6:   9
    A7:   9
    A14: 13
    
    A1:	b, a.
    A2:	continuous.
    A3:	continuous.
    A4:	u, y, l, t.
    A5:	g, p, gg.
    A6:	c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
    A7:	v, h, bb, j, n, z, dd, ff, o.
    A8:	continuous.
    A9:	t, f.
    A10:	t, f.
    A11:	continuous.
    A12:	t, f.
    A13:	g, p, s.
    A14:	continuous.
    A15:	continuous.
    A16: +,-         (class attribute)
    
    Number of Instances: 690

In [31]:
# TODO
import pandas as pd 
import numpy as np 
import matplotlib as plt 
import scipy.stats as st 
col_names= ['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12',
            'A13','A14','A15','A16']
url= 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data'
df = pd.read_csv(url,header= None, names= col_names)
df.head() #appears to be loaded correctly with header= None And column names changed to match description

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [32]:
df.shape  #Agrees with UCI number of instances

(690, 16)

In [35]:
df['A1'].unique() # appears nan values are marked with a "?"

array(['b', 'a', '?'], dtype=object)

In [36]:
df.replace('?',np.nan,inplace= True)
df.isna().sum() #shows correct number of nan values now

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [41]:
df.dtypes # need to change D types to float columns = a2, a11, a14, a15

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [0]:
df = df.astype({'A2':float, 'A11':float,'A14':float,'A15':float}) #Changing D types

In [52]:
df.dtypes #verifying change complete

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11    float64
A12     object
A13     object
A14    float64
A15    float64
A16     object
dtype: object

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" between them and the class label, and apply the Chi-squared test to them. There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end. This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

# ***For the remainder of this project '+' is refered to as approve(d) and '-' is refered to as denied  ***

---

In [61]:
denied = df[df['A16']=='-']
denied.head(10)
denied. describe()

,A2,A3,A8,A11,A14,A15
count,373.000000,383.000000,383.000000,383.000000,376.000000,383.000000
mean,29.808231,3.839948,1.257924,0.631854,199.699468,198.605744
std,10.919291,4.337662,2.120481,1.900049,181.564835,671.608839
min,15.170000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,0.835000,0.125000,0.000000,100.000000,0.000000
50%,27.330000,2.210000,0.415000,0.000000,167.500000,1.000000
75%,34.830000,5.000000,1.500000,0.000000,272.000000,67.000000
max,80.250000,26.335000,13.875000,20.000000,2000.000000,5552.000000

In [63]:
approve = df[df['A16']=='+']
approve.head()
approve.describe()

,A2,A3,A8,A11,A14,A15
count,305.000000,307.000000,307.000000,307.000000,301.000000,307.000000
mean,33.720492,5.904951,3.427899,4.605863,164.421927,2038.859935
std,12.809641,5.471485,4.120792,6.320242,161.770675,7659.763941
min,13.750000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.170000,1.500000,0.750000,0.000000,0.000000,0.000000
50%,30.500000,4.460000,2.000000,3.000000,120.000000,221.000000
75%,41.330000,9.520000,5.000000,7.000000,280.000000,1209.000000
max,76.750000,28.000000,28.500000,67.000000,840.000000,100000.000000

In [0]:
def confidence_interval(data, confidence=0.95):
  data = np.array(data)
  mean = np.mean(data)
  n= len(data)
  stderr = st.sem(data)
  interval= stderr * st.t.ppf((1 + confidence)/2., n - 1)
  
  return (mean,mean - interval, mean + interval)

def report_confidence_interval(confidence_interval):
  print('Mean: {}'.format(confidence_interval[0]))
  print('Lower bound: {}'.format(confidence_interval[1]))
  print('Upper bound: {}'.format(confidence_interval[2]))

In [68]:
report_confidence_interval(confidence_interval(denied['A11']))# Column A11 in the denied class

Mean: 0.6318537859007833
Lower bound: 0.440960034949925
Upper bound: 0.8227475368516417

In [70]:
report_confidence_interval(confidence_interval(approve['A11']))# column A11 in the approved class

Mean: 4.605863192182411
Lower bound: 3.8960669376542927
Upper bound: 5.315659446710529

**(Above)The mean of the measurements for column A11 have a way higher value in the accepted group using a Students T percent point function **

In [71]:
report_confidence_interval(confidence_interval(denied['A15']))

Mean: 198.60574412532637
Lower bound: 131.13068495819857
Upper bound: 266.08080329245416

In [72]:
report_confidence_interval(confidence_interval(approve['A15']))

Mean: 2038.85993485342
Lower bound: 1178.6283209729409
Upper bound: 2899.0915487338993

**Again a larger mean measurement in the approved data than in the denied data set for column A15 With  a Student's T Percent Point Function  **

In [75]:
report_confidence_interval(confidence_interval(denied['A3']))

Mean: 3.839947780678851
Lower bound: 3.4041524516216173
Upper bound: 4.2757431097360845

In [76]:
report_confidence_interval(confidence_interval(approve['A3']))

Mean: 5.9049511400651475
Lower bound: 5.290474713739196
Upper bound: 6.519427566391099

**Comparing the A3 columns shows a smaller difference in mean measurment but the bounds are much closer than the other columns. Approve still has a higher mean value.**

**For the categorical features, explore by creating "cross tabs" between them and the class label, and apply the Chi-squared test to them. There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.**

In [129]:
apptab = pd.crosstab([df['A7'],df['A10']],df['A16'])
apptab

st.chi2.pdf(apptab,df=30)

array([[7.16941279e-06, 4.91632922e-02],
       [1.61922219e-02, 3.73591990e-10],
       [2.12321744e-16, 3.73591990e-10],
       [2.12321744e-16, 2.12321744e-16],
       [2.10992574e-12, 4.91632922e-02],
       [1.36576435e-06, 1.61922219e-02],
       [5.25343903e-02, 2.24028780e-02],
       [4.34103860e-04, 1.11406945e-03],
       [2.10992574e-12, 1.27172330e-08],
       [2.12321744e-16, 2.12321744e-16],
       [2.12321744e-16, 2.12321744e-16],
       [2.12321744e-16, 2.12321744e-16],
       [2.12321744e-16, 2.12321744e-16],
       [2.96728818e-03, 7.04678707e-24],
       [5.77135115e-13, 3.68699057e-03],
       [2.12321744e-16, 2.12321744e-16],
       [1.75382222e-07, 2.12321744e-16]])

In [132]:
tab2 = pd.crosstab([df['A4'],df['A9']],df['A16'])
tab2

A16      +    -
A4 A9
l  f     2    0
u  f    13  210
   t   243   53
y  f     4   94
   t    41   24

In [133]:
st.chi2.pdf(tab2,df=30)

array([[2.10992574e-12, 0.00000000e+00],
       [2.07221357e-03, 2.84636925e-29],
       [1.49916692e-35, 1.49692526e-03],
       [1.27172330e-08, 5.70283773e-09],
       [1.65988816e-02, 4.52444501e-02]])

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

For the two T tests i found that the differences in the mean showed large differences in value between being approved(+) and denied(-), both columns A11 and A15 were large offset and obvious, and column A3 were smaller offset to where the variance areas were close to touching. 

With the chi squre test the diffferences were harder to see. I found it easier to see the correlation or lack there of in the crosstab setup. but of the features tested i received a reading consistent with independent. 

For me the most challenging part of this sprint was achieving a readable chi square result from the crosstab format. I wasnt aware that we had experienced this in class and thus did not practice before this challenge