<a href="https://colab.research.google.com/github/Baisal89/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/DS6_Assignment_Statistics_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
vote_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

# here i loaded the data

In [0]:
import pandas as pd
import numpy as np
vote_data = pd.read_csv(vote_data_url)

In [3]:
print(vote_data.shape)
vote_data.head()

(434, 17)

   republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0  republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1    democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2    democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3    democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4    democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y

In [4]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data | wc

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 18171  100 18171    0     0  88208      0 --:--:-- --:--:-- --:--:-- 88208
    435     435   18171

In [0]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.names

In [0]:
column_headers = ['Class Name', 'handicapped-infants', 
                  'water-project-cost-sharing', 
                  'adoption-of-the-budget-resolution', 
                  'physician-fee-freeze',
                                                  
                  'el-salvador-aid', 'religious-groups-in-schools', 
                  'anti-satellite-test-ban', 'aid-to-nicaraguan-contras', 
                  'mx-missele', 'immigration', 'synfuels-corporation-cutback', 
                  'education-spending', 'superfund-right-to-sue', 'crime', 
                  'duty-free-exports', 'export-administration-act-south-africa']

#renamed all the columns

In [0]:
vote_data = pd.read_csv(vote_data_url, names=column_headers)

In [8]:
vote_data.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
vote1 = vote_data[['Class Name', 'handicapped-infants', 
                  'water-project-cost-sharing', 
                  'adoption-of-the-budget-resolution', 
                  'physician-fee-freeze',
                                                  
                  'el-salvador-aid', 'religious-groups-in-schools', 
                  'anti-satellite-test-ban', 'aid-to-nicaraguan-contras', 
                  'mx-missele', 'immigration',
                                                    
                  'synfuels-corporation-cutback', 'education-spending', 
                  'superfund-right-to-sue', 'crime', 'duty-free-exports', 
                  'export-administration-act-south-africa']]
# replacing y/n to 1/0, '?' to 1

In [0]:
vote2 = vote1.replace(['y', 'n', '?'], [1, 0, 1])

In [24]:
vote2.head()

   Class Name  ...  export-administration-act-south-africa
0  republican  ...                                       1
1  republican  ...                                       1
2    democrat  ...                                       0
3    democrat  ...                                       1
4    democrat  ...                                       1

[5 rows x 17 columns]

In [0]:
vote2.isna().sum()

In [26]:
vote2.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           435.000000  ...                              435.000000
mean              0.457471  ...                                0.857471
std               0.498762  ...                                0.349994
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               0.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [0]:
dem = vote2.loc[vote2['Class Name']=='democrat']
rep = vote2.loc[vote2['Class Name']=='republican']

In [28]:
rep.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           168.000000  ...                              168.000000
mean              0.202381  ...                                0.702381
std               0.402976  ...                                0.458578
min               0.000000  ...                                0.000000
25%               0.000000  ...                                0.000000
50%               0.000000  ...                                1.000000
75%               0.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [29]:
rep.head()

    Class Name  ...  export-administration-act-south-africa
0   republican  ...                                       1
1   republican  ...                                       1
7   republican  ...                                       1
8   republican  ...                                       1
10  republican  ...                                       0

[5 rows x 17 columns]

In [30]:
dem.head()

  Class Name  ...  export-administration-act-south-africa
2   democrat  ...                                       0
3   democrat  ...                                       1
4   democrat  ...                                       1
5   democrat  ...                                       1
6   democrat  ...                                       1

[5 rows x 17 columns]

In [31]:
dem.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           267.000000  ...                              267.000000
mean              0.617978  ...                                0.955056
std               0.486794  ...                                0.207570
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               1.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [0]:
std = pd.DataFrame({'Democrats': dem.mean(), 'Republicans': rep.mean()})

In [33]:
std

                                        Democrats  Republicans
handicapped-infants                      0.617978     0.202381
water-project-cost-sharing               0.554307     0.565476
adoption-of-the-budget-resolution        0.891386     0.154762
physician-fee-freeze                     0.082397     0.988095
el-salvador-aid                          0.250936     0.952381
religious-groups-in-schools              0.494382     0.898810
anti-satellite-test-ban                  0.779026     0.267857
aid-to-nicaraguan-contras                0.831461     0.208333
mx-missele                               0.775281     0.130952
immigration                              0.479401     0.565476
synfuels-corporation-cutback             0.528090     0.178571
education-spending                       0.202247     0.880952
superfund-right-to-sue                   0.329588     0.869048
crime                                    0.374532     0.982143
duty-free-exports                        0.659176     0.154762
export-administration-act-south-africa   0.955056     0.702381

Load and clean the data (or determine the best method to drop observations when running tests)\
Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01\
Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01\
Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)