# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [6]:
import regex
from requests import get
from contextlib import closing
import numpy as np
import pandas as pd
from scipy.stats import mode
column_names_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.names'                             
text = None
with closing(get(column_names_url, stream=True)) as resp:
  text = resp.content.decode('UTF-8')
                             
stext = "Attribute Information:\n"
etext = "\n\n8.  Missing Attribute Values:"

ctext = text[text.index(stext)+len(stext):text.index(etext)]
r = regex.compile(r"(A\d{1,2})")                             
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data'
df = pd.read_csv(url,header=None, names=[name for name in r.findall(ctext)]) 
df.head(20)

   A1     A2      A3 A4 A5  A6 A7     A8 A9 A10  A11 A12 A13    A14    A15 A16
0   b  30.83   0.000  u  g   w  v  1.250  t   t    1   f   g  00202      0   +
1   a  58.67   4.460  u  g   q  h  3.040  t   t    6   f   g  00043    560   +
2   a  24.50   0.500  u  g   q  h  1.500  t   f    0   f   g  00280    824   +
3   b  27.83   1.540  u  g   w  v  3.750  t   t    5   t   g  00100      3   +
4   b  20.17   5.625  u  g   w  v  1.710  t   f    0   f   s  00120      0   +
5   b  32.08   4.000  u  g   m  v  2.500  t   f    0   t   g  00360      0   +
6   b  33.17   1.040  u  g   r  h  6.500  t   f    0   t   g  00164  31285   +
7   a  22.92  11.585  u  g  cc  v  0.040  t   f    0   f   g  00080   1349   +
8   b  54.42   0.500  y  p   k  h  3.960  t   f    0   f   g  00180    314   +
9   b  42.50   4.915  y  p   w  v  3.165  t   f    0   t   g  00052   1442   +
10  b  22.08   0.830  u  g   c  h  2.165  f   f    0   t   g  00128      0   +
11  b  29.92   1.835  u  g   c  h  4.335  t   f    0   f   g  00260    200   +
12  a  38.25   6.000  u  g   k  v  1.000  t   f    0   t   g  00000      0   +
13  b  48.08   6.040  u  g   k  v  0.040  f   f    0   f   g  00000   2690   +
14  a  45.83  10.500  u  g   q  v  5.000  t   t    7   t   g  00000      0   +
15  b  36.67   4.415  y  p   k  v  0.250  t   t   10   t   g  00320      0   +
16  b  28.25   0.875  u  g   m  v  0.960  t   t    3   t   g  00396      0   +
17  a  23.25   5.875  u  g   q  v  3.170  t   t   10   f   g  00120    245   +
18  b  21.83   0.250  u  g   d  h  0.665  t   f    0   t   g  00000      0   +
19  a  19.17   8.585  u  g  cc  h  0.750  t   t    7   f   g  00096      0   +

In [7]:
df[~df.A1.isin(['a','b'])]

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
248,?,24.50,12.750,u,g,c,bb,4.750,t,t,2,f,g,00073,444,+
327,?,40.83,3.500,u,g,i,bb,0.500,f,f,0,f,s,01160,0,-
346,?,32.25,1.500,u,g,c,v,0.250,f,f,0,t,g,00372,122,-
374,?,28.17,0.585,u,g,aa,v,0.040,f,f,0,f,g,00260,1004,-
453,?,29.75,0.665,u,g,w,v,0.250,f,f,0,t,g,00300,0,-
479,?,26.50,2.710,y,p,?,?,0.085,f,f,0,f,s,00080,0,-
489,?,45.33,1.000,u,g,q,v,0.125,f,f,0,t,g,00263,0,-
520,?,20.42,7.500,u,g,k,v,1.500,t,t,1,f,g,00160,234,+
598,?,20.08,0.125,u,g,q,v,1.000,f,t,1,f,g,00240,768,+
601,?,42.25,1.750,y,p,?,?,0.000,f,f,0,t,g,00150,1,-
641,?,33.17,2.250,y,p,cc,v,3.500,f,f,0,t,g,00200,141,-
673,?,29.50,2.000,y,p,e,h,2.000,f,f,0,f,g,00256,17,-

In [8]:
df['a1'] = df.A1.apply(lambda a1: 'b' if a1 == '?' else a1)
print(type(df.A2[0]))
A2 = df.A2[df.A2 != '?']
A2 = A2.apply(lambda a: float(a))
mean = A2.mean()
print(df.shape,len(A2),mean)
df['a2'] = df.A2.apply(lambda a: mean if a == '?' else float(a) )
df.head()
# from scipy.stats import mode
# df.A4 = df.A4.apply(lambda a: mode(df.A4).mode[0] if a == '?' else a)
# df.A5 = df.A5.apply(lambda a: mode(df.A5).mode[0] if a == '?' else a)
# df.A6 = df.A6.apply(lambda a: mode(df.A6).mode[0] if a == '?' else a)
# #df.A7 = df.A7.apply(lambda a: mode(df.A7).mode[0] if a == '?' else a)
# df.A7[~df.A7.isin( ['v', 'h', 'bb', 'j', 'n', 'z', 'dd', 'ff', 'o'])].count() 

#df.A14 = df.A14.apply(lambda a: mean if a == '?' else float(a) )

<class 'str'>
(690, 17) 678 31.56817109144546

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,a1,a2
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,00202,0,+,b,30.83
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+,a,58.67
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+,a,24.50
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+,b,27.83
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+,b,20.17

In [12]:
df['a4'] = df.A4.apply(lambda a: mode(df.A4).mode[0] if a == '?' else a)
df.head(20)

/home/mark/anaconda3/lib/python3.6/site-packages/scipy/stats/stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,a1,a2,a4
0,b,30.83,0.000,u,g,w,v,1.250,t,t,1,f,g,00202,0,+,b,30.83,u
1,a,58.67,4.460,u,g,q,h,3.040,t,t,6,f,g,00043,560,+,a,58.67,u
2,a,24.50,0.500,u,g,q,h,1.500,t,f,0,f,g,00280,824,+,a,24.50,u
3,b,27.83,1.540,u,g,w,v,3.750,t,t,5,t,g,00100,3,+,b,27.83,u
4,b,20.17,5.625,u,g,w,v,1.710,t,f,0,f,s,00120,0,+,b,20.17,u
5,b,32.08,4.000,u,g,m,v,2.500,t,f,0,t,g,00360,0,+,b,32.08,u
6,b,33.17,1.040,u,g,r,h,6.500,t,f,0,t,g,00164,31285,+,b,33.17,u
7,a,22.92,11.585,u,g,cc,v,0.040,t,f,0,f,g,00080,1349,+,a,22.92,u
8,b,54.42,0.500,y,p,k,h,3.960,t,f,0,f,g,00180,314,+,b,54.42,y
9,b,42.50,4.915,y,p,w,v,3.165,t,f,0,t,g,00052,1442,+,b,42.50,y
10,b,22.08,0.830,u,g,c,h,2.165,f,f,0,t,g,00128,0,+,b,22.08,u
11,b,29.92,1.835,u,g,c,h,4.335,t,f,0,f,g,00260,200,+,b,29.92,u
12,a,38.25,6.000,u,g,k,v,1.000,t,f,0,t,g,00000,0,+,a,38.25,u
13,b,48.08,6.040,u,g,k,v,0.040,f,f,0,f,g,00000,2690,+,b,48.08,u
14,a,45.83,10.500,u,g,q,v,5.000,t,t,7,t,g,00000,0,+,a,45.83,u
15,b,36.67,4.415,y,p,k,v,0.250,t,t,10,t,g,00320,0,+,b,36.67,y
16,b,28.25,0.875,u,g,m,v,0.960,t,t,3,t,g,00396,0,+,b,28.25,u
17,a,23.25,5.875,u,g,q,v,3.170,t,t,10,f,g,00120,245,+,a,23.25,u
18,b,21.83,0.250,u,g,d,h,0.665,t,f,0,t,g,00000,0,+,b,21.83,u
19,a,19.17,8.585,u,g,cc,h,0.750,t,t,7,f,g,00096,0,+,a,19.17,u

In [17]:
df.A5.shape

(690,)

In [22]:
A5 = df.A5[df.A5.isin(['g','p', 'gg'])]
df['a5'] = df.A5.apply(lambda a: mode(A5).mode[0] if a == '?' else a)
# df.A6 = df.A6.apply(lambda a: mode(df.A6).mode[0] if a == '?' else a)
# #df.A7 = df.A7.apply(lambda a: mode(df.A7).mode[0] if a == '?' else a)
# df.A7[~df.A7.isin( ['v', 'h', 'bb', 'j', 'n', 'z', 'dd', 'ff', 'o'])].count()
print(len(A5))
df.head()

684

/home/mark/anaconda3/lib/python3.6/site-packages/scipy/stats/stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,a1,a2,a4,a5
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,00202,0,+,b,30.83,u,g
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+,a,58.67,u,g
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+,a,24.50,u,g
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+,b,27.83,u,g
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+,b,20.17,u,g

In [25]:
#A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
#A7: v, h, bb, j, n, z, dd, ff, o.
A6 = df.A6[df.A6.isin(['c', 'd', 'cc', 'i', 'j', 'k', 'm', 'r', 'q', 'w', 'x', 'e', 'aa', 'ff'])]
df['a6'] = df.A6.apply(lambda a: mode(A6).mode[0] if a == '?' else a)
# df.A6 = df.A6.apply(lambda a: mode(df.A6).mode[0] if a == '?' else a)
# #df.A7 = df.A7.apply(lambda a: mode(df.A7).mode[0] if a == '?' else a)
# df.A7[~df.A7.isin( ['v', 'h', 'bb', 'j', 'n', 'z', 'dd', 'ff', 'o'])].count()
print(len(A6))
A7 = df.A7[df.A7.isin(['v', 'h', 'bb', 'j', 'n', 'z', 'dd', 'ff', 'o'])]
df['a7'] = df.A7.apply(lambda a: mode(A7).mode[0] if a == '?' else a)
# df.A6 = df.A6.apply(lambda a: mode(df.A6).mode[0] if a == '?' else a)
# #df.A7 = df.A7.apply(lambda a: mode(df.A7).mode[0] if a == '?' else a)
# df.A7[~df.A7.isin( ['v', 'h', 'bb', 'j', 'n', 'z', 'dd', 'ff', 'o'])].count()
print(len(A7))
df.head()

681
681

/home/mark/anaconda3/lib/python3.6/site-packages/scipy/stats/stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A14,A15,A16,a1,a2,a4,a5,a14,a6,a7
0,b,30.83,0.000,u,g,w,v,1.25,t,t,...,00202,0,+,b,30.83,u,g,00202,w,v
1,a,58.67,4.460,u,g,q,h,3.04,t,t,...,00043,560,+,a,58.67,u,g,00043,q,h
2,a,24.50,0.500,u,g,q,h,1.50,t,f,...,00280,824,+,a,24.50,u,g,00280,q,h
3,b,27.83,1.540,u,g,w,v,3.75,t,t,...,00100,3,+,b,27.83,u,g,00100,w,v
4,b,20.17,5.625,u,g,w,v,1.71,t,f,...,00120,0,+,b,20.17,u,g,00120,w,v

In [34]:
A14 = df.A14[df.A14 != '?']
A14 = A14.apply(lambda a: float(a))
mean = A14.mean()
print(len(A14),mean)
df['a14'] = df.A14.apply(lambda a: mode(A14).mode[0] if a == '?' else float(a))

677 184.01477104874445

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" between them and the class label, and apply the Chi-squared test to them. There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end. This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [47]:
from scipy import stats
import math
d_columns = []
r_columns = []
e_columns = []
min_approved_p_column = None
min_approved_p = .1
max_approved_p_column = None
max_approved_p = 0
max_dis_p_column = None
max_dis_p = 0
max_p = 0.01
for column in ['a2','A3','A8','A11','a14','A15']:
  statistic, p_value = stats.ttest_ind(df[df['A16'] == '+'][column],df[df['A16'] == '-'][column])
  # print(f"for {column} d statistic: {statistic} pvalue: {p_value}")
  if statistic > 0 and p_value < max_p:
    d_columns.append(f"{column} statistic {statistic}  pvalue {p_value}")
    if p_value < min_approved_p:
        min_approved_p_column = column
        min_approved_p = p_value
    if p_value > max_approved_p:
        max_approved_p_column = column
        max_approved_p = p_value        
  elif statistic < 0 and p_value < max_p:
    r_columns.append(f"{column} statistic {statistic}  pvalue {p_value}")
    if p_value > max_dis_p:
      max_dis_p_column = column
      max_dis_p = p_value  
  elif p_value > 0.1:
    e_columns.append(f"{column} statistic {statistic}  pvalue {p_value}")

print('approved')
for line in d_columns:
  print('\t' + line)

print('rejected:')
for line in r_columns:
  print('\t' + line)

print('no meaingful diffence between approved and rejected:')
if len(e_columns)== 0:
    print('\tNone')
else: 
  for line in e_columns:
    print('\t' + line)

print(f'strongest association with approved column {min_approved_p_column}')
print(f'weakest association with approved column {max_approved_p_column.upper()}')
print(f'weakest association with disapproved column {max_dis_p_column.upper()}')
if max_approved_p > max_dis_p:
  print(f'overall weakest association for column {max_approved_p_column}')
else:
  print(f'overall weakest association for column {max_dis_p_column}')

approved
	a2 statistic 4.295929647669026  pvalue 1.9902200656148825e-05
	A3 statistic 5.52998337614816  pvalue 4.551680702308068e-08
	A8 statistic 8.935819983773698  pvalue 3.6710537401601785e-18
	A11 statistic 11.667004222431277  pvalue 7.957718568079967e-29
	A15 statistic 4.680216020964486  pvalue 3.4520256956287944e-06
rejected:
	a14 statistic -2.6254915751389047  pvalue 0.008844680277712815
no meaingful diffence between approved and rejected:
	None
strongest association with approved column A11
weakest association with approved column A2
weakest association with disapproved column A14
overall weakest association for column a14

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*