<a href="https://colab.research.google.com/github/albert-h-wong/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/DS_Unit_1_Sprint_Challenge_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [0]:
# Import libraries

import numpy as np
import pandas as pd

In [5]:
# Load and check the data and adjusted header

data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data'
df_raw = pd.read_csv(data_url,header=None)
df_raw.head(15)

   0      1       2  3  4   5  6      7  8  9   10 11 12     13     14 15
0   b  30.83   0.000  u  g   w  v  1.250  t  t   1  f  g  00202      0  +
1   a  58.67   4.460  u  g   q  h  3.040  t  t   6  f  g  00043    560  +
2   a  24.50   0.500  u  g   q  h  1.500  t  f   0  f  g  00280    824  +
3   b  27.83   1.540  u  g   w  v  3.750  t  t   5  t  g  00100      3  +
4   b  20.17   5.625  u  g   w  v  1.710  t  f   0  f  s  00120      0  +
5   b  32.08   4.000  u  g   m  v  2.500  t  f   0  t  g  00360      0  +
6   b  33.17   1.040  u  g   r  h  6.500  t  f   0  t  g  00164  31285  +
7   a  22.92  11.585  u  g  cc  v  0.040  t  f   0  f  g  00080   1349  +
8   b  54.42   0.500  y  p   k  h  3.960  t  f   0  f  g  00180    314  +
9   b  42.50   4.915  y  p   w  v  3.165  t  f   0  t  g  00052   1442  +
10  b  22.08   0.830  u  g   c  h  2.165  f  f   0  t  g  00128      0  +
11  b  29.92   1.835  u  g   c  h  4.335  t  f   0  f  g  00260    200  +
12  a  38.25   6.000  u  g   k  v  1.000  t  f   0  t  g  00000      0  +
13  b  48.08   6.040  u  g   k  v  0.040  f  f   0  f  g  00000   2690  +
14  a  45.83  10.500  u  g   q  v  5.000  t  t   7  t  g  00000      0  +

In [6]:
# Check for data types

df_raw.dtypes

0      object
1      object
2     float64
3      object
4      object
5      object
6      object
7     float64
8      object
9      object
10      int64
11     object
12     object
13     object
14      int64
15     object
dtype: object

In [8]:
# Confirm the number of instances and attributes with the UCI data source

df_raw.shape

(690, 16)

In [9]:
# Check for null values, the missing values noted in the data source is not
# showing up as NA, need to find out what is input for missing values

df_raw.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [13]:
# Increased the display height to check what is used as missing value 
# in column 0, find out that "?" is being used

pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
df_raw[0]

0      b
1      a
2      a
3      b
4      b
5      b
6      b
7      a
8      b
9      b
10     b
11     b
12     a
13     b
14     a
15     b
16     b
17     a
18     b
19     a
20     b
21     b
22     a
23     a
24     a
25     a
26     a
27     b
28     b
29     b
30     b
31     b
32     b
33     a
34     a
35     b
36     b
37     a
38     b
39     b
40     b
41     b
42     b
43     b
44     b
45     b
46     a
47     b
48     b
49     b
50     a
51     b
52     b
53     b
54     b
55     b
56     b
57     b
58     b
59     b
60     b
61     b
62     a
63     a
64     b
65     b
66     a
67     b
68     b
69     b
70     b
71     b
72     a
73     b
74     b
75     b
76     b
77     a
78     b
79     b
80     b
81     a
82     b
83     a
84     b
85     b
86     b
87     b
88     b
89     a
90     b
91     b
92     b
93     b
94     b
95     a
96     b
97     b
98     a
99     a
100    b
101    b
102    b
103    b
104    b
105    b
106    b
107    a
108    b
109    a
110    b
111    a
112    b
113    a
114    b
115    a
116    b
117    b
118    b
119    a
120    b
121    b
122    a
123    a
124    a
125    b
126    b
127    b
128    b
129    a
130    b
131    b
132    a
133    b
134    b
135    b
136    b
137    b
138    a
139    a
140    a
141    a
142    b
143    b
144    b
145    b
146    b
147    a
148    a
149    a
150    a
151    a
152    b
153    b
154    b
155    a
156    a
157    a
158    b
159    b
160    b
161    b
162    b
163    b
164    a
165    a
166    b
167    a
168    b
169    b
170    a
171    b
172    b
173    a
174    b
175    b
176    b
177    a
178    a
179    b
180    b
181    a
182    a
183    a
184    a
185    b
186    b
187    b
188    a
189    a
190    b
191    b
192    b
193    b
194    b
195    b
196    b
197    b
198    b
199    b
200    a
201    a
202    b
203    a
204    b
205    a
206    a
207    b
208    b
209    b
210    b
211    b
212    b
213    b
214    b
215    b
216    b
217    b
218    b
219    a
220    a
221    b
222    a
223    a
224    a
225    b
226    b
227    a
228    b
229    b
230    b
231    a
232    b
233    b
234    a
235    a
236    b
237    b
238    b
239    b
240    b
241    b
242    b
243    a
244    b
245    b
246    b
247    a
248    ?
249    b
      ..
440    b
441    b
442    b
443    b
444    a
445    a
446    b
447    a
448    b
449    b
450    b
451    b
452    b
453    ?
454    b
455    b
456    b
457    b
458    b
459    b
460    a
461    b
462    b
463    a
464    a
465    a
466    b
467    a
468    b
469    b
470    a
471    b
472    b
473    b
474    b
475    b
476    b
477    b
478    b
479    ?
480    a
481    b
482    a
483    b
484    b
485    b
486    b
487    b
488    b
489    ?
490    a
491    b
492    b
493    a
494    a
495    b
496    a
497    b
498    b
499    b
500    b
501    b
502    a
503    b
504    a
505    b
506    a
507    a
508    a
509    b
510    b
511    a
512    a
513    b
514    b
515    b
516    a
517    b
518    a
519    b
520    ?
521    a
522    b
523    a
524    a
525    b
526    b
527    a
528    a
529    b
530    a
531    a
532    b
533    b
534    b
535    a
536    a
537    b
538    b
539    b
540    b
541    b
542    b
543    b
544    b
545    b
546    b
547    b
548    b
549    b
550    b
551    b
552    b
553    b
554    a
555    b
556    b
557    a
558    b
559    a
560    a
561    b
562    b
563    b
564    b
565    a
566    b
567    a
568    b
569    a
570    b
571    b
572    b
573    a
574    a
575    b
576    b
577    b
578    b
579    b
580    b
581    b
582    b
583    b
584    a
585    b
586    b
587    b
588    b
589    b
590    b
591    b
592    b
593    b
594    b
595    b
596    a
597    a
598    ?
599    b
600    a
601    ?
602    b
603    b
604    b
605    a
606    b
607    b
608    b
609    b
610    b
611    b
612    b
613    b
614    a
615    b
616    b
617    b
618    b
619    b
620    b
621    b
622    a
623    b
624    b
625    b
626    b
627    b
628    b
629    a
630    a
631    a
632    a
633    b
634    a
635    b
636    b
637    b
638    b
639    b
640    b
641    ?
642    b
643    a
644    b
645    b
646    a
647    b
648    b
649    a
650    b
651    a
652    a
653    b
654    a
655    a
656    b
657    a
658    a
659    a
660    b
661    b
662    a
663    b
664    b
665    b
666    a
667    a
668    b
669    b
670    b
671    b
672    a
673    ?
674    a
675    a
676    a
677    b
678    a
679    a
680    b
681    b
682    b
683    b
684    b
685    b
686    a
687    a
688    b
689    b
Name: 0, Length: 690, dtype: object

In [23]:
# Checked for number of "?" in each column to compare with data
# source and confirmed that it ties. Did not find the right code
# that summarized the count by column so had to run the code below
# several times to confirm for each column

df_raw[df_raw[13]=="?"].count()

0     13
1     13
2     13
3     13
4     13
5     13
6     13
7     13
8     13
9     13
10    13
11    13
12    13
13    13
14    13
15    13
dtype: int64

In [0]:
# Replaced the "?" with Nan values

df_raw.replace('?', np.nan, inplace=True)

In [25]:
# Checked to confirm NaN values show up in the df

df_raw.isnull().sum()

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

In [0]:
# Decided to drop the Nan values since there were small number
# of them whereby it would not affect sample size and without 
# knowing what the data was and how it was ordered, did not want
# to use medians or filling methods inappropriately

df_drop = df_raw.dropna()

In [29]:
# Confirmed that the Nan values were now dropped

df_drop.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [0]:
# Tried several methods to convert datatype from object
# and integer to float

df_drop[1] = df_drop[1].astype(float)
df_drop[10] = df_drop[10].astype(float)
df_drop[13] = df_drop[13].astype(float)
df_drop[14] = df_drop[14].astype(float)

In [76]:
# Confirmed the data is now in the correct datatype

df_drop.dtypes

0      object
1     float64
2     float64
3      object
4      object
5      object
6      object
7     float64
8      object
9      object
10    float64
11     object
12     object
13    float64
14    float64
15     object
dtype: object

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" between them and the class label, and apply the Chi-squared test to them. There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end. This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [135]:
# Import libraries

import numpy as np
from scipy import stats
from scipy.stats import chisquare

# Re-print data head
df_drop.head()

  0      1      2  3  4  5  6     7  8  9    10 11 12     13     14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t  1.0  f  g  202.0    0.0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t  6.0  f  g   43.0  560.0  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f  0.0  f  g  280.0  824.0  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t  5.0  t  g  100.0    3.0  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f  0.0  f  s  120.0    0.0  +

### Exploring and Testing Continuous Variables

In [79]:
# Explored the central tendency of the numeric variables

df_drop.describe()

               1           2           7           10           13             14
count  653.000000  653.000000  653.000000  653.000000   653.000000     653.000000
mean    31.503813    4.829533    2.244296    2.502297   180.359877    1013.761103
std     11.838267    5.027077    3.371120    4.968497   168.296811    5253.278504
min     13.750000    0.000000    0.000000    0.000000     0.000000       0.000000
25%     22.580000    1.040000    0.165000    0.000000    73.000000       0.000000
50%     28.420000    2.835000    1.000000    0.000000   160.000000       5.000000
75%     38.250000    7.500000    2.625000    3.000000   272.000000     400.000000
max     76.750000   28.000000   28.500000   67.000000  2000.000000  100000.000000

In [112]:
# Created pivot table to group the "+ / -" class or essentially the 
# application pass and reject class to examine the mean values for each
# continuous variables by class. By comparing the class means with the 
# overall standard deviations and mean, I can see some basic preliminary
# differences in column 10 and 14. In all cases but column variable 13,
# the application pass rate is linked to a higher relative value. 

data_pivot = pd.pivot_table(df_drop,index=[15])
print(data_pivot)

           1         2         7         10          13           14
15
+   33.845473  5.971943  3.475186  4.716216  164.621622  2009.726351
-   29.562269  3.882325  1.223725  0.666667  193.408964   187.974790

In [113]:
# Checked to see how the pivot table columns are indexed

data_pivot.columns

Index([1, 2, 7, 10, 13, 14], dtype='object')

In [0]:
# Split the DF into two class dataframes between the pass and reject
# applications

pass_df = df_drop.loc[df_drop[15] == '+']
reject_df = df_drop.loc[df_drop[15] == '-']

In [136]:
# Checked the data head for the new split dataframe for passing
# applications

print(pass_df.head(10))

  0      1       2  3  4   5  6      7  8  9    10 11 12     13       14 15
0  b  30.83   0.000  u  g   w  v  1.250  t  t  1.0  f  g  202.0      0.0  +
1  a  58.67   4.460  u  g   q  h  3.040  t  t  6.0  f  g   43.0    560.0  +
2  a  24.50   0.500  u  g   q  h  1.500  t  f  0.0  f  g  280.0    824.0  +
3  b  27.83   1.540  u  g   w  v  3.750  t  t  5.0  t  g  100.0      3.0  +
4  b  20.17   5.625  u  g   w  v  1.710  t  f  0.0  f  s  120.0      0.0  +
5  b  32.08   4.000  u  g   m  v  2.500  t  f  0.0  t  g  360.0      0.0  +
6  b  33.17   1.040  u  g   r  h  6.500  t  f  0.0  t  g  164.0  31285.0  +
7  a  22.92  11.585  u  g  cc  v  0.040  t  f  0.0  f  g   80.0   1349.0  +
8  b  54.42   0.500  y  p   k  h  3.960  t  f  0.0  f  g  180.0    314.0  +
9  b  42.50   4.915  y  p   w  v  3.165  t  f  0.0  t  g   52.0   1442.0  +

In [123]:
# Ran 2-sample t-test on column variable 14, resulted in a p-value lower than
# alpha to reject the null hypothesis, and the positive t-stat indicates that
# a higher value of the variable has an impact on a passed or failed application

stats.ttest_ind(pass_df[14],reject_df[14])

Ttest_indResult(statistic=4.475369764700449, pvalue=9.003915641872878e-06)

In [124]:
# Ran another t-test for column variable 13, and confirmed that a lower value 
# increased probability of passing and that it is statistically significant even
# though it is not as significant relative to other variables

stats.ttest_ind(pass_df[13],reject_df[13])

Ttest_indResult(statistic=-2.18221936438708, pvalue=0.029450100409286473)

In [125]:
# Ran test for the other variables

stats.ttest_ind(pass_df[10],reject_df[10])

Ttest_indResult(statistic=11.336964562239809, pvalue=2.5864649620278843e-27)

In [126]:
# Ran test for the other variables

stats.ttest_ind(pass_df[7],reject_df[7])

Ttest_indResult(statistic=9.002392498622463, pvalue=2.4079238505859142e-18)

In [127]:
# Ran test for the other variables

stats.ttest_ind(pass_df[2],reject_df[2])

Ttest_indResult(statistic=5.400813416576192, pvalue=9.310154396147606e-08)

In [128]:
# Ran test for the other variables

stats.ttest_ind(pass_df[1],reject_df[1])

Ttest_indResult(statistic=4.675662433767456, pvalue=3.5636710933835225e-06)

### Exploring and Testing Categorical Variables

In [84]:
# Explored different combination of crosstabs to check for any glaring patterns

#pd.crosstab(df_drop[15],df_drop[5])

5   aa   c  cc   d   e  ff   i  j   k   m   q  r   w   x
15
+   19  60  29   7  14   7  14  3  13  16  49  2  33  30
-   33  73  11  19  10  43  41  7  35  22  26  1  30   6

In [85]:
# Explored different combination of crosstabs to check for any glaring patterns

#pd.crosstab(df_drop[15],df_drop[6])

6   bb  dd  ff   h  j  n  o    v  z
15
+   24   2   8  87  3  2  1  163  6
-   29   4  46  50  5  2  1  218  2

In [108]:
# Explored different combination of crosstabs to check for any glaring patterns
# This variable appeared to be a little more ambiguous and worth checking for
# dependency

ct_11 = pd.crosstab(df_drop[15],df_drop[11])
print(ct_11)

11    f    t
15
+   151  145
-   200  157

In [110]:
# Explored different combination of crosstabs to check for any glaring patterns
# This variable appeared to be a little more ambiguous and worth checking for
# dependency

ct_12 = pd.crosstab(df_drop[15],df_drop[12])
print(ct_12)

12    g  p   s
15
+   280  1  15
-   318  1  38

In [103]:
# Explored different combination of crosstabs to check for any glaring patterns
# This variable appeared to have a larger difference and a likely candidate for
# testing dependency

ct_9 = pd.crosstab(df_drop[15],df_drop[9])
ct_9.columns
ct_9['t']

15
+    203
-     84
Name: t, dtype: int64

In [102]:
# Explored different combination of crosstabs to check for any glaring patterns
# This variable appeared to have a larger difference and a likely candidate for
# testing dependency but the breakdown is similar to column variable 9 and
# a good choice to compare for dependency between the two

ct_8 = pd.crosstab(df_drop[15],df_drop[8])
ct_8.columns
ct_8['t']

15
+    278
-     71
Name: t, dtype: int64

In [105]:
# Explored different combination of crosstabs to check for any glaring patterns
# This variable appeared to be a little more ambiguous and possibly worth 
# checking for dependency

ct_4 = pd.crosstab(df_drop[15],df_drop[4])
print(ct_4)

4     g  gg    p
15
+   249   2   45
-   250   0  107

In [106]:
# Explored different combination of crosstabs to check for any glaring patterns
# This variable appeared to be a little more ambiguous and possibly worth 
# checking for dependency

ct_3 = pd.crosstab(df_drop[15],df_drop[3])
print(ct_3)

3   l    u    y
15
+   2  249   45
-   0  250  107

In [82]:
# Explored other multiple grouping crosstabs

pd.crosstab([df_drop[15], df_drop[0]], [df_drop[3], df_drop[4]])

3     l    u   y
4    gg    g   p
15 0
+  a  1   83  11
   b  1  166  34
-  a  0   80  28
   b  0  170  79

In [94]:
# Explored other multiple grouping crosstabs

pd.crosstab(df_drop[15],[df_drop[8], df_drop[9]])

8     f       t
9     f   t   f    t
15
+    17   1  76  202
-   223  63  50   21

In [134]:
# Ran Chi-square test between column variable 8 and 9 which resulted in a lower
# p-value than alpha to reject the null hypothesis and indicate that the two
# variables are dependent

column8_9 = np.array([ct_8['t'], ct_9['t']]).T
print(column8_9)
print(chisquare(column8_9, axis=None))

[[278 203]
 [ 71  84]]
Power_divergenceResult(statistic=185.32075471698113, pvalue=6.256570011547808e-40)

In [111]:
# Ran Chi-square test between column variable 11 and 12 which resulted in a lower
# p-value than alpha to reject the null hypothesis and indicate that the two
# variables are dependent

column11_12 = np.array([ct_11['t'], ct_12['g']]).T
print(column11_12)
print(chisquare(column11_12, axis=None))

[[145 280]
 [157 318]]
Power_divergenceResult(statistic=100.88, pvalue=1.0052445656448748e-21)

In [107]:
# Ran Chi-square test between column variable 3 and 4 which resulted in a lower
# p-value than alpha to reject the null hypothesis and indicate that the two
# variables are dependent

column3_4 = np.array([ct_3['y'], ct_4['p']]).T
print(column3_4)
print(chisquare(column3_4, axis=None))

[[ 45  45]
 [107 107]]
Power_divergenceResult(statistic=50.578947368421055, pvalue=6.014385811714266e-11)

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

### T-Test
1. I believe the feature in column 10 (attribute 11) is some kind of financial ratio and the t-stat indicated that a higher positive value increased the probability of an approval(passed) application for credit. It had the lowest p-value (2.6e-27) suggesting strong statistical significance that the variable was instrumental in application criteria. The feature in column 13 had a negative t-test statistic indicating that a lower value in the variable improved the probability of passing the application. It was statistically significant with a p-value of 0.03 but relatively less confident compared to other variables. Both features indicate significance for rejecting the null hypothesis that approval of credit application was not based on the value of the features. 

### Chi-Square
2. The Chi square test run from column 8 and 9 for true or false questions had a p-value of 6.2e-40 which indicates the feature of answering true on both questions was not independent and therefore rejecting the null hypothesis. Another test was run on column 3 and 4 variables which had a p-value of 6.0e-11 which indicates a statistical significance to reject the null where 'y' and 'g' were selected respectively on the questions.

### Challenging part of Sprint
3. The most challenging part of the sprint was time management for me. As I work through any problems I run into, it took a longer time to troubleshoot the issue or I had gone down a more inefficient path for the solution. Otherwise the other challenge is inability to use intuition to quickly filter through the process of ranking features to test and compare. Without knowing what exactly the labels could be, it took a little more time to look through descriptive statistics with the describe function and pivot table for the continuous variables. The independence test with Chi-Square for the categorical features was also more difficult to choose for assessment when it is not a simple true/false or option with more common responses. Overall it took longer to break down each feature independently to check for any relationship.

*Your words here!*