# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [26]:
import pandas as pd

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', header=None)
df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [27]:
df.describe()

               2           7          10             14
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000

In [28]:
import numpy as np

df.replace('?',np.nan,inplace=True)
df.isna().sum()

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

In [29]:
df[df.isnull().any(axis=1)] #show all rows with NaN in any column

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
71,b,34.83,4.000,u,g,d,bb,12.500,t,f,0,t,g,NaN,0,-
83,a,NaN,3.500,u,g,d,v,3.000,t,f,0,t,g,00300,0,-
86,b,NaN,0.375,u,g,d,v,0.875,t,f,0,t,s,00928,0,-
92,b,NaN,5.000,y,p,aa,v,8.500,t,f,0,f,g,00000,0,-
97,b,NaN,0.500,u,g,c,bb,0.835,t,f,0,t,s,00320,0,-
202,b,24.83,2.750,u,g,c,v,2.250,t,t,6,f,g,NaN,600,+
206,a,71.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,+
243,a,18.75,7.500,u,g,q,v,2.710,t,t,5,f,g,NaN,26726,+
248,NaN,24.50,12.750,u,g,c,bb,4.750,t,t,2,f,g,00073,444,+
254,b,NaN,0.625,u,g,k,v,0.250,f,f,0,f,g,00380,2010,-
270,b,37.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,+
278,b,24.58,13.500,y,p,ff,ff,0.000,f,f,0,f,g,NaN,0,-
286,a,NaN,1.500,u,g,ff,ff,0.000,f,t,2,t,g,00200,105,-
327,NaN,40.83,3.500,u,g,i,bb,0.500,f,f,0,f,s,01160,0,-
329,b,NaN,4.000,y,p,i,v,0.085,f,f,0,t,g,00411,0,-
330,b,20.42,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,-
346,NaN,32.25,1.500,u,g,c,v,0.250,f,f,0,t,g,00372,122,-
374,NaN,28.17,0.585,u,g,aa,v,0.040,f,f,0,f,g,00260,1004,-
406,a,40.33,8.125,y,p,k,v,0.165,f,t,2,f,g,NaN,18,-
445,a,NaN,11.250,u,g,ff,ff,0.000,f,f,0,f,g,NaN,5200,-
450,b,NaN,3.000,y,p,i,bb,7.000,f,f,0,f,g,00000,1,-
453,NaN,29.75,0.665,u,g,w,v,0.250,f,f,0,t,g,00300,0,-
456,b,34.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,-
479,NaN,26.50,2.710,y,p,NaN,NaN,0.085,f,f,0,f,s,00080,0,-
489,NaN,45.33,1.000,u,g,q,v,0.125,f,f,0,t,g,00263,0,-
500,b,NaN,4.000,u,g,x,v,5.000,t,t,3,t,g,00290,2279,+
515,b,NaN,10.500,u,g,x,v,6.500,t,f,0,f,g,00000,0,+
520,NaN,20.42,7.500,u,g,k,v,1.500,t,t,1,f,g,00160,234,+
539,b,80.25,5.500,u,g,NaN,NaN,0.540,t,f,0,f,g,00000,340,-
592,b,23.17,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,+
598,NaN,20.08,0.125,u,g,q,v,1.000,f,t,1,f,g,00240,768,+
601,NaN,42.25,1.750,y,p,NaN,NaN,0.000,f,f,0,t,g,00150,1,-
608,b,NaN,0.040,y,p,d,v,4.250,f,f,0,t,g,00460,0,-
622,a,25.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,+
626,b,22.00,7.835,y,p,i,bb,0.165,f,f,0,t,g,NaN,0,-
641,NaN,33.17,2.250,y,p,cc,v,3.500,f,f,0,t,g,00200,141,-
673,NaN,29.50,2.000,y,p,e,h,2.000,f,f,0,f,g,00256,17,-

In [33]:
"""Attribute Information:

A1: b, a.
A2: continuous.
A3: continuous.
A4: u, y, l, t.
A5: g, p, gg.
A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
A7: v, h, bb, j, n, z, dd, ff, o.
A8: continuous.
A9: t, f.
A10: t, f.
A11: continuous.
A12: t, f.
A13: g, p, s.
A14: continuous.
A15: continuous.
A16: +,- (class attribute)"""

df[[1,10,13,14]] = df[[1,10,13,14]].astype(float)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
0     678 non-null object
1     678 non-null float64
2     690 non-null float64
3     684 non-null object
4     684 non-null object
5     681 non-null object
6     681 non-null object
7     690 non-null float64
8     690 non-null object
9     690 non-null object
10    690 non-null float64
11    690 non-null object
12    690 non-null object
13    677 non-null float64
14    690 non-null float64
15    690 non-null object
dtypes: float64(6), object(10)
memory usage: 86.3+ KB

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" between them and the class label, and apply the Chi-squared test to them. There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end. This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [52]:
approved = df[df[15] == '+']
approved.describe(include='all')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,304,305.000000,307.000000,303,303,303,303,307.000000,307,307,307.000000,307,307,301.000000,307.000000,307
unique,2,NaN,NaN,3,3,14,9,NaN,2,2,NaN,2,3,NaN,NaN,1
top,b,NaN,NaN,u,g,c,v,NaN,t,t,NaN,f,g,NaN,NaN,+
freq,206,NaN,NaN,256,256,62,169,NaN,284,209,NaN,161,287,NaN,NaN,307
mean,NaN,33.720492,5.904951,NaN,NaN,NaN,NaN,3.427899,NaN,NaN,4.605863,NaN,NaN,164.421927,2038.859935,NaN
std,NaN,12.809641,5.471485,NaN,NaN,NaN,NaN,4.120792,NaN,NaN,6.320242,NaN,NaN,161.770675,7659.763941,NaN
min,NaN,13.750000,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,NaN
25%,NaN,23.170000,1.500000,NaN,NaN,NaN,NaN,0.750000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,NaN
50%,NaN,30.500000,4.460000,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,3.000000,NaN,NaN,120.000000,221.000000,NaN
75%,NaN,41.330000,9.520000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,7.000000,NaN,NaN,280.000000,1209.000000,NaN
max,NaN,76.750000,28.000000,NaN,NaN,NaN,NaN,28.500000,NaN,NaN,67.000000,NaN,NaN,840.000000,100000.000000,NaN

In [50]:
"""
Categorical
A1 top is b
A4 top is u
A5 top is g
A6 top is c
A7 top is v
A9 top is t  --- diff from denied
A10 top is t --- diff from denied
A12 top is f
A13 top is g

A2 mean is 33.72 - higher
A3 mean is 5.9 - higher
A8 mean is 3.42 - higher
A11 mean is 4.6 - higher
A14 mean is 164.42 - lower
A15 mean is 2038.85  --- extreme diff from denied (higher)
"""

'\nCategorical\nA1 top is b\nA4 top is u\nA5 top is g\nA6 top is c\nA7 top is v\nA9 top is t  --- diff from denied\nA10 top is t --- diff from denied\nA12 top is f\nA13 top is g\n\nA2 mean is 33.72 - higher\nA3 mean is 5.9 - higher\nA8 mean is 3.42 - higher\nA11 mean is 4.6 - higher\nA14 mean is 164.42 - lower\nA15 mean is 2038.85  --- extreme diff from denied (higher)\n'

In [53]:
denied = df[df[15] != '+']
denied.describe(include='all')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,374,373.000000,383.000000,381,381,378,378,383.000000,383,383,383.000000,383,383,376.000000,383.000000,383
unique,2,NaN,NaN,2,2,14,9,NaN,2,2,NaN,2,3,NaN,NaN,1
top,b,NaN,NaN,u,g,c,v,NaN,f,f,NaN,f,g,NaN,NaN,-
freq,262,NaN,NaN,263,263,75,230,NaN,306,297,NaN,213,338,NaN,NaN,383
mean,NaN,29.808231,3.839948,NaN,NaN,NaN,NaN,1.257924,NaN,NaN,0.631854,NaN,NaN,199.699468,198.605744,NaN
std,NaN,10.919291,4.337662,NaN,NaN,NaN,NaN,2.120481,NaN,NaN,1.900049,NaN,NaN,181.564835,671.608839,NaN
min,NaN,15.170000,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,NaN
25%,NaN,22.000000,0.835000,NaN,NaN,NaN,NaN,0.125000,NaN,NaN,0.000000,NaN,NaN,100.000000,0.000000,NaN
50%,NaN,27.330000,2.210000,NaN,NaN,NaN,NaN,0.415000,NaN,NaN,0.000000,NaN,NaN,167.500000,1.000000,NaN
75%,NaN,34.830000,5.000000,NaN,NaN,NaN,NaN,1.500000,NaN,NaN,0.000000,NaN,NaN,272.000000,67.000000,NaN
max,NaN,80.250000,26.335000,NaN,NaN,NaN,NaN,13.875000,NaN,NaN,20.000000,NaN,NaN,2000.000000,5552.000000,NaN

In [44]:
"""
Discrete
A1 top is b
A4 top is u
A5 top is g
A6 top is c
A7 top is v
A9 top is f
A10 top is f
A12 top is f
A13 top is g

Continuous
A2 mean is 29.80
A3 mean is 3.84
A8 mean is 1.26
A11 mean is .63
A14 mean is 199.7
A15 mean is 198.61
"""

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,374,373.000000,383.000000,381,381,378,378,383.000000,383,383,383.000000,383,383,376.000000,383.000000,383
unique,2,NaN,NaN,2,2,14,9,NaN,2,2,NaN,2,3,NaN,NaN,1
top,b,NaN,NaN,u,g,c,v,NaN,f,f,NaN,f,g,NaN,NaN,-
freq,262,NaN,NaN,263,263,75,230,NaN,306,297,NaN,213,338,NaN,NaN,383
mean,NaN,29.808231,3.839948,NaN,NaN,NaN,NaN,1.257924,NaN,NaN,0.631854,NaN,NaN,199.699468,198.605744,NaN
std,NaN,10.919291,4.337662,NaN,NaN,NaN,NaN,2.120481,NaN,NaN,1.900049,NaN,NaN,181.564835,671.608839,NaN
min,NaN,15.170000,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,NaN
25%,NaN,22.000000,0.835000,NaN,NaN,NaN,NaN,0.125000,NaN,NaN,0.000000,NaN,NaN,100.000000,0.000000,NaN
50%,NaN,27.330000,2.210000,NaN,NaN,NaN,NaN,0.415000,NaN,NaN,0.000000,NaN,NaN,167.500000,1.000000,NaN
75%,NaN,34.830000,5.000000,NaN,NaN,NaN,NaN,1.500000,NaN,NaN,0.000000,NaN,NaN,272.000000,67.000000,NaN
max,NaN,80.250000,26.335000,NaN,NaN,NaN,NaN,13.875000,NaN,NaN,20.000000,NaN,NaN,2000.000000,5552.000000,NaN

In [57]:
# T Tests against A15 which mean is 2038.85 for approved and 198.61 for denied
# and A14 where mean is 164.42 for approved and 199.7 for denied
# A2 where mean is 33.72 for approved and 29.8 for denied

import scipy.stats as stats

A15_test = stats.ttest_ind(approved[14], denied[14],nan_policy='omit',equal_var=False)
A14_test = stats.ttest_ind(approved[13], denied[13],nan_policy='omit',equal_var=False)
A2_test = stats.ttest_ind(approved[1], denied[1],nan_policy='omit',equal_var=False)

print(A15_test)
print(A14_test)
print(A2_test)

#T Tests show that all 3 of these continuous attributes have a significant 
#difference in affecting the outcome of the credit approval

Ttest_indResult(statistic=4.196600236397611, pvalue=3.5433798702024966e-05)
Ttest_indResult(statistic=-2.6696493137915973, pvalue=0.0077778250827957)
Ttest_indResult(statistic=4.224490929851236, pvalue=2.7673850124552034e-05)

In [87]:
#Chi Square tests for categorical attributes
#A9 shows to be mostly t for approved and f for denied
#A11 shows both denied and approved have mostly f

from scipy.stats import chisquare

a9 = pd.crosstab(df[8], df[15])
a11 = pd.crosstab(df[11], df[15])

print(a9)
print(chisquare(a9, axis=None))

print(a11)
print(chisquare(a11, axis=None))

# High significance between a true giving an approved result and f giving denied for A9
# Significance between A11 and the results, but not really high

15    +    -
8
f    23  306
t   284   77
Power_divergenceResult(statistic=357.8260869565217, pvalue=3.013264071882276e-77)
15    +    -
11
f   161  213
t   146  170
Power_divergenceResult(statistic=14.382608695652173, pvalue=0.0024280203352694887)

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

## Answers

### T Tests Results

From the T Tests I ran for both A15 and A2, there is a significant relationship between higher values and getting approved with p values of .00003543 and .00002767 respectively.

The test for A14 showed that there was a significant relationship between a lower value and getting approved with a p value of .00778.


### Chi Square Results

The Chi Square test run for A9 showed a very high significance between a T and getting approved with a p value of 3.0133e-77.

There was a slight significance for a F on A11 and getting denied with a p value of .00243.

### What was most challenging?

The most challenging part of this sprint assignment was understanding the results of the chi square test, specifically for the closer results (A11). While the p value still looks significant, the numbers don't easily help interpret what the significance is.