<a href="https://colab.research.google.com/github/ElisabethShah/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/DS_Unit_1_Sprint_Challenge_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 3

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [0]:
# Import libraries.
from IPython.display import display
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats
import seaborn as sns

### Load the data as a `pandas` data frame.

In [2]:
# Display metadata.
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.names

1. Title: Credit Approval

2. Sources:
    (confidential)
    Submitted by quinlan@cs.su.oz.au

3.  Past Usage:

    See Quinlan,
    * "Simplifying decision trees", Int J Man-Machine Studies 27,
      Dec 1987, pp. 221-234.
    * "C4.5: Programs for Machine Learning", Morgan Kaufmann, Oct 1992

4.  Relevant Information:

    This file concerns credit card applications.  All attribute names
    and values have been changed to meaningless symbols to protect
    confidentiality of the data.

    This dataset is interesting because there is a good mix of
    attributes -- continuous, nominal with small numbers of
    values, and nominal with larger numbers of values.  There
    are also a few missing values.

5.  Number of Instances: 690

6.  Number of Attributes: 15 + class attribute

7.  Attribute Information:

    A1:	b, a.
    A2:	continuous.
    A3:	continuous.
    A4:	u, y, l, t.
    A5:	g, p, gg.
    A6:	c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
    A7:	v, h, bb, j, n, z, dd, ff, o.
    A8:	continuous.
    A9:	t, f.
    A10:	t, f.
    A11:	continuous.
    A12:	t, f.
    A13:	g, p, s.
    A14:	continuous.
    A15:	continuous.
    A16: +,-         (class attribute)

8.  Missing Attribute Values:
    37 cases (5%) have one or more missing values.  The missing
    values from particular attributes are:

    A1:  12
    A2:  12
    A4:   6
    A5:   6
    A6:   9
    A7:   9
    A14: 13

9.  Class Distribution

    +: 307 (44.5%)
    -: 383 (55.5%)

In [0]:
# Define column names.
attributes = ['A{}'.format(x) for x in range(1,17)]

In [0]:
# Load data.
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/'
                 'credit-screening/crx.data', 
                 header=None, names=attributes, 
                 true_values='+', false_values='-', na_values='?')

### Validate that it has the appropriate number of observations.

In [5]:
# Verify:
# Number of Instances - 690
# Number of Attributes - 15 + class attribute
print('Instances: {}\nAttributes: {}'.format(df.shape[0], df.shape[1]))

Instances: 690
Attributes: 16

In [6]:
# Preview first rows.
display(df.head())

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15   A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0  True
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560  True
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824  True
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3  True
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0  True

In [7]:
# Preview last rows.
display(df.tail())

    A1     A2      A3 A4 A5  A6  A7  ...  A10 A11 A12  A13    A14  A15    A16
685  b  21.08  10.085  y  p   e   h  ...    f   0   f    g  260.0    0  False
686  a  22.67   0.750  u  g   c   v  ...    t   2   t    g  200.0  394  False
687  a  25.25  13.500  y  p  ff  ff  ...    t   1   t    g  200.0    1  False
688  b  17.92   0.205  u  g  aa   v  ...    f   0   f    g  280.0  750  False
689  b  35.00   3.375  u  g   c   h  ...    f   0   t    g    0.0    0  False

[5 rows x 16 columns]

### UCI says there should be missing data - check

In [8]:
# Verify:
# Missing Attribute Values - 37 cases (5%) have one or more missing values.
print('Number of rows with missing values: {}'.format(df.isnull().any(axis=1).sum()))

Number of rows with missing values: 37

In [9]:
# Verify: 
# The missing values from particular attributes are
#     A1:  12
#     A2:  12
#     A4:   6
#     A5:   6
#     A6:   9
#     A7:   9
#     A14: 13
display(df.isnull().sum()[df.isnull().sum()!=0])

A1     12
A2     12
A4      6
A5      6
A6      9
A7      9
A14    13
dtype: int64

### Make sure that the loaded features are of the types described above
- continuous values should be treated as float
- correct as necessary

In [10]:
# Summarize data.
display(df.describe(include='all'))

         A1          A2          A3  ...          A14            A15    A16
count   678  678.000000  690.000000  ...   677.000000     690.000000    690
unique    2         NaN         NaN  ...          NaN            NaN      2
top       b         NaN         NaN  ...          NaN            NaN  False
freq    468         NaN         NaN  ...          NaN            NaN    383
mean    NaN   31.568171    4.758725  ...   184.014771    1017.385507    NaN
std     NaN   11.957862    4.978163  ...   173.806768    5210.102598    NaN
min     NaN   13.750000    0.000000  ...     0.000000       0.000000    NaN
25%     NaN   22.602500    1.000000  ...    75.000000       0.000000    NaN
50%     NaN   28.460000    2.750000  ...   160.000000       5.000000    NaN
75%     NaN   38.230000    7.207500  ...   276.000000     395.500000    NaN
max     NaN   80.250000   28.000000  ...  2000.000000  100000.000000    NaN

[11 rows x 16 columns]

In [11]:
# Check data types.
# Continuous attributes - A2, A3, A8, A11, A14, A15
display(df.dtypes)

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14    float64
A15      int64
A16       bool
dtype: object

In [0]:
# Convert ints to floats, as per instructions above.
df['A11'] = df['A11'].astype(float)
df['A15'] = df['A15'].astype(float)

In [13]:
# Recheck data types.
# Continuous attributes - A2, A3, A8, A11, A14, A15
display(df.dtypes)

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11    float64
A12     object
A13     object
A14    float64
A15    float64
A16       bool
dtype: object

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [0]:
# TODO

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*