<a href="https://colab.research.google.com/github/veritaem/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/DS_Unit_1_Sprint_Challenge_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame. [x]
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [0]:
# TODO
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
import random
import scipy

In [190]:
creditcard_url= 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data'

df = pd.read_csv(creditcard_url, header = None)
df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [191]:
df.shape

(690, 16)

In [192]:
df[15].replace({'+': 1, '-': 0}, inplace = True)
df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14  15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0   1
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560   1
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824   1
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3   1
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0   1

In [193]:
df2 = df.replace('?', np.nan)

df2.isna().sum()

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

In [194]:
df.describe(include = 'all')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,690,690,690.000000,690,690,690,690,690.000000,690,690,690.00000,690,690,690,690.000000,690.000000
unique,3,350,NaN,4,4,15,10,NaN,2,2,NaN,2,3,171,NaN,NaN
top,b,?,NaN,u,g,c,v,NaN,t,f,NaN,f,g,00000,NaN,NaN
freq,468,12,NaN,519,519,137,399,NaN,361,395,NaN,374,625,132,NaN,NaN
mean,NaN,NaN,4.758725,NaN,NaN,NaN,NaN,2.223406,NaN,NaN,2.40000,NaN,NaN,NaN,1017.385507,0.444928
std,NaN,NaN,4.978163,NaN,NaN,NaN,NaN,3.346513,NaN,NaN,4.86294,NaN,NaN,NaN,5210.102598,0.497318
min,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.00000,NaN,NaN,NaN,0.000000,0.000000
25%,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,0.165000,NaN,NaN,0.00000,NaN,NaN,NaN,0.000000,0.000000
50%,NaN,NaN,2.750000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.00000,NaN,NaN,NaN,5.000000,0.000000
75%,NaN,NaN,7.207500,NaN,NaN,NaN,NaN,2.625000,NaN,NaN,3.00000,NaN,NaN,NaN,395.500000,1.000000
max,NaN,NaN,28.000000,NaN,NaN,NaN,NaN,28.500000,NaN,NaN,67.00000,NaN,NaN,NaN,100000.000000,1.000000

In [212]:
df3 = df.dropna()
df3.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" between them and the class label, and apply the Chi-squared test to them. There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end. This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [0]:
s = .5
no = df[df[15] < s]
yes = df[df[15] > s]

In [204]:
print(scipy.stats.ttest_ind(no[10], yes[10]))
#this ones pvalue is very very small, with a larger statistic for the ttest, meaning this one is much more extreme, also rejecting the null hypothesis

Ttest_indResult(statistic=-11.667004222431277, pvalue=7.957718568079967e-29)

In [217]:
#These two have a very small ttest stat and small pvalue, meaning that we can certainly reject the null hypothesis, however it is less extreme than the other
print(scipy.stats.ttest_ind(no[14], yes[14]))

Ttest_indResult(statistic=-4.680216020964486, pvalue=3.4520256956287944e-06)

In [0]:
ct1 = pd.crosstab(df[15], df[0])
ct2 = pd.crosstab(df[15], df[3])
ct3 = pd.crosstab(df[15], df[4])
ct4 = pd.crosstab(df[15], df[5])
ct5 = pd.crosstab(df[15], df[6])
ct6 = pd.crosstab(df[15], df[8])
ct7 = pd.crosstab(df[15], df[9])
ct8 = pd.crosstab(df[15], df[11])
ct9 = pd.crosstab(df[15], df[12])

In [218]:
print(scipy.stats.chisquare(ct1, axis=None))
print(scipy.stats.chisquare(ct2, axis=None), '-----more extreme')
print(scipy.stats.chisquare(ct3, axis=None))
print(scipy.stats.chisquare(ct4, axis=None))
print(scipy.stats.chisquare(ct5, axis=None), '-----less extreme')
print(scipy.stats.chisquare(ct6, axis=None))
print(scipy.stats.chisquare(ct7, axis=None))
print(scipy.stats.chisquare(ct8, axis=None)) 
print(scipy.stats.chisquare(ct9, axis=None))

Power_divergenceResult(statistic=469.2869565217391, pvalue=3.3914236368487018e-99)
Power_divergenceResult(statistic=1056.991304347826, pvalue=5.825554166604882e-224) -----more extreme
Power_divergenceResult(statistic=1056.9913043478261, pvalue=5.825554166604218e-224)
Power_divergenceResult(statistic=447.82608695652175, pvalue=1.397271228892487e-76)
Power_divergenceResult(statistic=2093.246376811594, pvalue=0.0) -----less extreme
Power_divergenceResult(statistic=357.82608695652175, pvalue=3.01326407188219e-77)
Power_divergenceResult(statistic=173.1304347826087, pvalue=2.6842170765821316e-37)
Power_divergenceResult(statistic=14.382608695652173, pvalue=0.0024280203352694887)
Power_divergenceResult(statistic=1037.2695652173913, pvalue=5.124924990548949e-222)

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

***Your words here!***

1) My ttest examples show that the continuous features are mostly statistically signifigant, however column 10 seems to be extremely different depending on your final classification, suggesting that it has quite a bit of influence on your outcome , while column 14 seems important, but it has enough wiggle room to suggest that this isnt an 'open and shut' bit of data.

<br>

2) The Chi Square tests showed me that not every feature correlates strongly to the final classification, in particular df column 6 doesnt seem to matter to the classification much.

On the other hand, certain columns greatly determine a yes or no, such as column 3 which has a pvalue so small, one can say that this factor is extremely signifigant in regards to your final classification).

<br>

3) The most difficult part fo this challenge is definitely the code cleaning.  Things gave me an error if i ran them but not if i turned it off and back on, turning false into a 0 gives me an error but not if i turn it into a two(i mean come on!), things that seem like they should logically do a thing dont.  

The actual math and analysis is not too bad considering ive only seen it for the past couple days, but learning a little of how to clean out specific issues that I hadnt seen before took up 95% of my time(so much so that i had to rush through to the tests without getting the data completely cleaned of them).