<a href="https://colab.research.google.com/github/donw385/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/DS_Unit_1_Sprint_Challenge_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [35]:
#load data

credit = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', header=None)
credit.head(100)
credit.shape

(690, 16)

In [14]:
#appropriate number of observations, all have same
credit.describe(include='all')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,690,690,690.000000,690,690,690,690,690.000000,690,690,690.00000,690,690,690,690.000000,690
unique,3,350,NaN,4,4,15,10,NaN,2,2,NaN,2,3,171,NaN,2
top,b,?,NaN,u,g,c,v,NaN,t,f,NaN,f,g,00000,NaN,-
freq,468,12,NaN,519,519,137,399,NaN,361,395,NaN,374,625,132,NaN,383
mean,NaN,NaN,4.758725,NaN,NaN,NaN,NaN,2.223406,NaN,NaN,2.40000,NaN,NaN,NaN,1017.385507,NaN
std,NaN,NaN,4.978163,NaN,NaN,NaN,NaN,3.346513,NaN,NaN,4.86294,NaN,NaN,NaN,5210.102598,NaN
min,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.00000,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,0.165000,NaN,NaN,0.00000,NaN,NaN,NaN,0.000000,NaN
50%,NaN,NaN,2.750000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.00000,NaN,NaN,NaN,5.000000,NaN
75%,NaN,NaN,7.207500,NaN,NaN,NaN,NaN,2.625000,NaN,NaN,3.00000,NaN,NaN,NaN,395.500000,NaN
max,NaN,NaN,28.000000,NaN,NaN,NaN,NaN,28.500000,NaN,NaN,67.00000,NaN,NaN,NaN,100000.000000,NaN

In [53]:
#replace missing value question marks with na

credit = credit.replace({'?':'na'})

credit.head(100)

   0      1       2  3  4   5   6       7  8  9   10 11 12     13     14 15
0   b  30.83   0.000  u  g   w   v   1.250  t  t   1  f  g  00202      0  +
1   a  58.67   4.460  u  g   q   h   3.040  t  t   6  f  g  00043    560  +
2   a  24.50   0.500  u  g   q   h   1.500  t  f   0  f  g  00280    824  +
3   b  27.83   1.540  u  g   w   v   3.750  t  t   5  t  g  00100      3  +
4   b  20.17   5.625  u  g   w   v   1.710  t  f   0  f  s  00120      0  +
5   b  32.08   4.000  u  g   m   v   2.500  t  f   0  t  g  00360      0  +
6   b  33.17   1.040  u  g   r   h   6.500  t  f   0  t  g  00164  31285  +
7   a  22.92  11.585  u  g  cc   v   0.040  t  f   0  f  g  00080   1349  +
8   b  54.42   0.500  y  p   k   h   3.960  t  f   0  f  g  00180    314  +
9   b  42.50   4.915  y  p   w   v   3.165  t  f   0  t  g  00052   1442  +
10  b  22.08   0.830  u  g   c   h   2.165  f  f   0  t  g  00128      0  +
11  b  29.92   1.835  u  g   c   h   4.335  t  f   0  f  g  00260    200  +
12  a  38.25   6.000  u  g   k   v   1.000  t  f   0  t  g  00000      0  +
13  b  48.08   6.040  u  g   k   v   0.040  f  f   0  f  g  00000   2690  +
14  a  45.83  10.500  u  g   q   v   5.000  t  t   7  t  g  00000      0  +
15  b  36.67   4.415  y  p   k   v   0.250  t  t  10  t  g  00320      0  +
16  b  28.25   0.875  u  g   m   v   0.960  t  t   3  t  g  00396      0  +
17  a  23.25   5.875  u  g   q   v   3.170  t  t  10  f  g  00120    245  +
18  b  21.83   0.250  u  g   d   h   0.665  t  f   0  t  g  00000      0  +
19  a  19.17   8.585  u  g  cc   h   0.750  t  t   7  f  g  00096      0  +
20  b  25.00  11.250  u  g   c   v   2.500  t  t  17  f  g  00200   1208  +
21  b  23.25   1.000  u  g   c   v   0.835  t  f   0  f  s  00300      0  +
22  a  47.75   8.000  u  g   c   v   7.875  t  t   6  t  g  00000   1260  +
23  a  27.42  14.500  u  g   x   h   3.085  t  t   1  f  g  00120     11  +
24  a  41.17   6.500  u  g   q   v   0.500  t  t   3  t  g  00145      0  +
25  a  15.83   0.585  u  g   c   h   1.500  t  t   2  f  g  00100      0  +
26  a  47.00  13.000  u  g   i  bb   5.165  t  t   9  t  g  00000      0  +
27  b  56.58  18.500  u  g   d  bb  15.000  t  t  17  t  g  00000      0  +
28  b  57.42   8.500  u  g   e   h   7.000  t  t   3  f  g  00000      0  +
29  b  42.08   1.040  u  g   w   v   5.000  t  t   6  t  g  00500  10000  +
.. ..    ...     ... .. ..  ..  ..     ... .. ..  .. .. ..    ...    ... ..
70  b  32.33   7.500  u  g   e  bb   1.585  t  f   0  t  s  00420      0  -
71  b  34.83   4.000  u  g   d  bb  12.500  t  f   0  t  g     na      0  -
72  a  38.58   5.000  u  g  cc   v  13.500  t  f   0  t  g  00980      0  -
73  b  44.25   0.500  u  g   m   v  10.750  t  f   0  f  s  00400      0  -
74  b  44.83   7.000  y  p   c   v   1.625  f  f   0  f  g  00160      2  -
75  b  20.67   5.290  u  g   q   v   0.375  t  t   1  f  g  00160      0  -
76  b  34.08   6.500  u  g  aa   v   0.125  t  f   0  t  g  00443      0  -
77  a  19.17   0.585  y  p  aa   v   0.585  t  f   0  t  g  00160      0  -
78  b  21.67   1.165  y  p   k   v   2.500  t  t   1  f  g  00180     20  -
79  b  21.50   9.750  u  g   c   v   0.250  t  f   0  f  g  00140      0  -
80  b  49.58  19.000  u  g  ff  ff   0.000  t  t   1  f  g  00094      0  -
81  a  27.67   1.500  u  g   m   v   2.000  t  f   0  f  s  00368      0  -
82  b  39.83   0.500  u  g   m   v   0.250  t  f   0  f  s  00288      0  -
83  a     na   3.500  u  g   d   v   3.000  t  f   0  t  g  00300      0  -
84  b  27.25   0.625  u  g  aa   v   0.455  t  f   0  t  g  00200      0  -
85  b  37.17   4.000  u  g   c  bb   5.000  t  f   0  t  s  00280      0  -
86  b     na   0.375  u  g   d   v   0.875  t  f   0  t  s  00928      0  -
87  b  25.67   2.210  y  p  aa   v   4.000  t  f   0  f  g  00188      0  -
88  b  34.00   4.500  u  g  aa   v   1.000  t  f   0  t  g  00240      0  -
89  a  49.00   1.500  u  g   j   j   0.000  t  f   0  t  g  00100     27  -
90  b  62.50  12.750  y  p   c   h   5.000  t  f   0  f  g  00112      0  -
91  b  31.42  15.500  u  g   c   v   0.500  t  f   0  f  g  00120      0  -
92  b     na   5.000  y  p  aa   v   8.500  t  f   0  f  g  00000      0  -
93  b  52.33   1.375  y  p   c   h   9.460  t  f   0  t  g  00200    100  -
94  b  28.75   1.500  y  p   c   v   1.500  t  f   0  t  g  00000    225  -
95  a  28.58   3.540  u  g   i  bb   0.500  t  f   0  t  g  00171      0  -
96  b  23.00   0.625  y  p  aa   v   0.125  t  f   0  f  g  00180      1  -
97  b     na   0.500  u  g   c  bb   0.835  t  f   0  t  s  00320      0  -
98  a  22.50  11.000  y  p   q   v   3.000  t  f   0  t  g  00268      0  -
99  a  28.50   1.000  u  g   q   v   1.000  t  t   2  t  g  00167    500  -

[100 rows x 16 columns]

In [34]:
#validate types, nas are objects so numbers column classified as object

credit.dtypes

0      object
1      object
2     float64
3      object
4      object
5      object
6      object
7     float64
8      object
9      object
10      int64
11     object
12     object
13     object
14      int64
15     object
dtype: object

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [47]:
plus = credit[credit[15] == '+']
plus.shape

(307, 16)

In [48]:
minus = credit[credit[15] == '-']
minus.shape

(383, 16)

In [66]:
#column 1 crosstab
pd.crosstab(credit[15],credit[0], dropna=True)

    __dummy__  __dummy__  __dummy__
15
+          98        206          3
-         112        262          9

In [58]:
credit[0].value_counts()

b     468
a     210
na     12
Name: 0, dtype: int64

In [0]:
column 8 number, column 2, column 3, column 11, column 14, column 15

In [67]:
# column 4, crosstab
pd.crosstab(credit[15],credit[3])

3   l  na    u    y
15
+   2   4  256   45
-   0   2  263  118

In [68]:
# column 5, crosstab
pd.crosstab(credit[15],credit[4])

4     g  gg  na    p
15
+   256   2   4   45
-   263   0   2  118

In [69]:
# column 6, crosstab
pd.crosstab(credit[15],credit[5])

5   aa   c  cc   d   e  ff   i  j   k   m  na   q  r   w   x
15
+   19  62  29   7  14   7  14  3  14  16   4  51  2  33  32
-   35  75  12  23  11  46  45  7  37  22   5  27  1  31   6

In [70]:
# column 7, crosstab
pd.crosstab(credit[15],credit[6])

6   bb  dd  ff   h  j  n  na  o    v  z
15
+   25   2   8  87  3  2   4  1  169  6
-   34   4  49  51  5  2   5  1  230  2

In [71]:
# column 9, crosstab
pd.crosstab(credit[15],credit[8])

8     f    t
15
+    23  284
-   306   77

In [72]:
# column 10, crosstab
pd.crosstab(credit[15],credit[9])

9     f    t
15
+    98  209
-   297   86

In [73]:
# column 12, crosstab
pd.crosstab(credit[15],credit[11])

11    f    t
15
+   161  146
-   213  170

In [75]:
# column 13, crosstab
pd.crosstab(credit[15],credit[12])

12    g  p   s
15
+   287  5  15
-   338  3  42

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*