# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

# Load Data

## 1 Sorry this is so messy, tried my best to organize it but was trying to answer all the questions!

In [0]:
import pandas as pd

In [539]:
# load data and imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy

data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data'
names_credit = ['A1', 'A2','A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11',
                'A12', 'A13', 'A14', 'A15', 'A16']

df_credit_dirty = pd.read_csv(data_url, na_values='?', names=names_credit)
df_credit_dirty.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0   +

In [0]:
dcc = df_credit_dirty.copy()

In [541]:
dcc.sample(10)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
250,b,40.25,21.500,u,g,e,z,20.000,t,t,11,f,g,0.0,1200,+
26,a,47.00,13.000,u,g,i,bb,5.165,t,t,9,t,g,0.0,0,+
187,b,40.58,5.000,u,g,c,v,5.000,t,t,7,f,g,0.0,3065,+
472,b,17.42,6.500,u,g,i,v,0.125,f,f,0,f,g,60.0,100,-
172,b,56.00,12.500,u,g,k,h,8.000,t,f,0,t,g,24.0,2028,+
222,a,17.58,9.000,u,g,aa,v,1.375,t,f,0,t,g,0.0,0,+
479,NaN,26.50,2.710,y,p,NaN,NaN,0.085,f,f,0,f,s,80.0,0,-
566,b,23.08,11.500,u,g,w,h,2.125,t,t,11,t,g,290.0,284,+
353,b,30.75,1.585,u,g,d,v,0.585,f,f,0,t,s,0.0,0,-
528,a,55.75,7.080,u,g,k,h,6.750,t,t,3,t,g,100.0,50,-

## 2

In [542]:
dcc.shape

(690, 16)

While the docs lists 15, attributes, they just don't count A16. Or they count degrees of freedom, either way, we're good!

##3

In [546]:
dcc.isnull().sum()

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [0]:
dcc = dcc.dropna()

In [552]:
dcc.isnull().sum()

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    0
A15    0
A16    0
dtype: int64

This is a bit of a trick question. Yes there are missing values, but they are entered as ''?'. We can actually take care of that as we're loading the datafram in by assinging them as null, then dropping all nulls.

##4 DTypes

In [458]:
dcc.dtypes

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [0]:
dcc["A2"] = dcc.A2.astype(float)

In [0]:
dcc["A11"] = dcc.A11.astype(float)

In [0]:
dcc["A14"] = dcc.A14.astype(float)

In [482]:
dcc.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11    float64
A12     object
A13     object
A14    float64
A15      int64
A16     object
dtype: object

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

We've got the types! Let's do stuff...or try to

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" between them and the class label, and apply the Chi-squared test to them. There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end. This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [0]:
dfplus = dcc[dcc.A16 == '+']
dfminus = dcc[dcc.A16 == '-']

In [477]:
dfplus.describe()

,A2,A3,A8,A11,A14,A15
count,305.000000,307.000000,307.000000,307.000000,301.000000,307.000000
mean,33.720492,5.904951,3.427899,4.605863,164.421927,2038.859935
std,12.809641,5.471485,4.120792,6.320242,161.770675,7659.763941
min,13.750000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.170000,1.500000,0.750000,0.000000,0.000000,0.000000
50%,30.500000,4.460000,2.000000,3.000000,120.000000,221.000000
75%,41.330000,9.520000,5.000000,7.000000,280.000000,1209.000000
max,76.750000,28.000000,28.500000,67.000000,840.000000,100000.000000

In [478]:
dfminus.describe()

,A2,A3,A8,A11,A14,A15
count,373.000000,383.000000,383.000000,383.000000,376.000000,383.000000
mean,29.808231,3.839948,1.257924,0.631854,199.699468,198.605744
std,10.919291,4.337662,2.120481,1.900049,181.564835,671.608839
min,15.170000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,0.835000,0.125000,0.000000,100.000000,0.000000
50%,27.330000,2.210000,0.415000,0.000000,167.500000,1.000000
75%,34.830000,5.000000,1.500000,0.000000,272.000000,67.000000
max,80.250000,26.335000,13.875000,20.000000,2000.000000,5552.000000

# Get skippy with it

In [0]:
from scipy import stats
from scipy.stats import ttest_1samp
from scipy.stats import chisquare

# TTESTS

In [515]:
ttest_1samp(dfplus.A8, 0.5)

Ttest_1sampResult(statistic=12.449289487126055, pvalue=4.6132667541039515e-29)

In [516]:
ttest_1samp(dfminus.A8, 0.5)

Ttest_1sampResult(statistic=6.995051170689755, pvalue=1.1936831195754194e-11)

In [527]:
ttest_1samp(dfplus.A11, 0.5)

Ttest_1sampResult(statistic=11.382560629001722, pvalue=2.8798299332810433e-25)

In [528]:
ttest_1samp(dfminus.A11, 0.5)

Ttest_1sampResult(statistic=1.3580856177707235, pvalue=0.17523808826084886)

## Contingency Tables

In [517]:
plus_a9 = pd.crosstab(dfplus.A9, dfplus.A16)
plus_a9

A16    +
A9
f     23
t    284

In [0]:
minus_a9 = pd.crosstab(dfminus.A9, dfminus.A16)

In [522]:
minus_a9

A16    -
A9
f    306
t     77

In [530]:
plus_a6 = pd.crosstab(dfplus.A6, dfplus.A16)
minus_a6 = pd.crosstab(dfminus.A6, dfminus.A16)
plus_a6

A16   +
A6
aa   19
c    62
cc   29
d     7
e    14
ff    7
i    14
j     3
k    14
m    16
q    51
r     2
w    33
x    32

In [531]:
minus_a6

A16   -
A6
aa   35
c    75
cc   12
d    23
e    11
ff   46
i    45
j     7
k    37
m    22
q    27
r     1
w    31
x     6

# Chi

In [534]:
chisquare(plus_a9)

Power_divergenceResult(statistic=array([221.89250814]), pvalue=array([3.49612666e-50]))

In [524]:
chisquare(minus_a9)

Power_divergenceResult(statistic=array([136.92167102]), pvalue=array([1.25436798e-31]))

In [535]:
chisquare(plus_a6)

Power_divergenceResult(statistic=array([192.08250825]), pvalue=array([5.74696418e-34]))

In [537]:
chisquare(minus_a6)

Power_divergenceResult(statistic=array([192.88888889]), pvalue=array([3.92856583e-34]))


Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

In [0]:
dcc.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11    float64
A12     object
A13     object
A14    float64
A15      int64
A16     object
dtype: object

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

The T-tests I ran looked at specific continous features as they related to the class labels. Another way to think about it is to compore the popmean(population mean) vs the sample mean. The null hyptehesis states: There is no meaningful difference. With a parameter of .5, we are asking if the distribution is random, as uniform numbers would average out to about .5. For three of the test ran, we can reject the null hypothesis. The test for the minus class label for the continous feature A11 however, had a p of .1752, which means that we have failed to reject the null hypothesis.

The chisquared tests I ran lookled at A6 and A9. The bigger the relationship between the datasets, the smaller chisquared becomes. All four chi tests came back with very small numbers, so it is safe to say that our distribution does not match the expected values. In other words, being a 't' or an 'f' does not lead to randomly becoming a '+' or '-'. The null hypothesis that these values are uniformly distributed can be rejected. If we assume that t and f stand for true and false, then it might be a good idea to find out what is being represented as true or false here, as it seems to be a good indicator. Could stand for past credit default.

The hardest part of this challenge was definitely getting the formatting right. I kept getting the error: TypeError: unsupported operand type(s) for /: 'str' and 'int', but due to the directions in part 1 I did not want to mess with the object types. I got around the issue but took me a bit of time. Definitely had to change my pants though, this was spooky.

I also spent way more time importing the dataframe than I expected. I don't know if I was nervous or if it was tricky, but I had to step away from my computer and come back before I got my data in the way I wanted it.

Also felt as though the missing value question was a trick question.

*Your words here!*