<a href="https://colab.research.google.com/github/mjh09/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/DS_Unit_1_Sprint_Challenge_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [0]:
import pandas as pd
import numpy as np

In [0]:
headers = ['A1', 'A2', 'A3','A4', 'A5','A6','A7','A8','A9','A10','A11','A12','A13','A14','A15','A16']

In [0]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', names=headers)

In [42]:
print(df.shape)
df.head(40)

(690, 16)

   A1     A2      A3 A4 A5  A6  A7  ...  A10   A11 A12  A13    A14    A15  A16
0   b  30.83   0.000  u  g   w   v  ...    t   1.0   f    g  202.0      0    +
1   a  58.67   4.460  u  g   q   h  ...    t   6.0   f    g   43.0    560    +
2   a  24.50   0.500  u  g   q   h  ...    f   0.0   f    g  280.0    824    +
3   b  27.83   1.540  u  g   w   v  ...    t   5.0   t    g  100.0      3    +
4   b  20.17   5.625  u  g   w   v  ...    f   0.0   f    s  120.0      0    +
5   b  32.08   4.000  u  g   m   v  ...    f   0.0   t    g  360.0      0    +
6   b  33.17   1.040  u  g   r   h  ...    f   0.0   t    g  164.0  31285    +
7   a  22.92  11.585  u  g  cc   v  ...    f   0.0   f    g   80.0   1349    +
8   b  54.42   0.500  y  p   k   h  ...    f   0.0   f    g  180.0    314    +
9   b  42.50   4.915  y  p   w   v  ...    f   0.0   t    g   52.0   1442    +
10  b  22.08   0.830  u  g   c   h  ...    f   0.0   t    g  128.0      0    +
11  b  29.92   1.835  u  g   c   h  ...    f   0.0   f    g  260.0    200    +
12  a  38.25   6.000  u  g   k   v  ...    f   0.0   t    g    0.0      0    +
13  b  48.08   6.040  u  g   k   v  ...    f   0.0   f    g    0.0   2690    +
14  a  45.83  10.500  u  g   q   v  ...    t   7.0   t    g    0.0      0    +
15  b  36.67   4.415  y  p   k   v  ...    t  10.0   t    g  320.0      0    +
16  b  28.25   0.875  u  g   m   v  ...    t   3.0   t    g  396.0      0    +
17  a  23.25   5.875  u  g   q   v  ...    t  10.0   f    g  120.0    245    +
18  b  21.83   0.250  u  g   d   h  ...    f   0.0   t    g    0.0      0    +
19  a  19.17   8.585  u  g  cc   h  ...    t   7.0   f    g   96.0      0    +
20  b  25.00  11.250  u  g   c   v  ...    t  17.0   f    g  200.0   1208    +
21  b  23.25   1.000  u  g   c   v  ...    f   0.0   f    s  300.0      0    +
22  a  47.75   8.000  u  g   c   v  ...    t   6.0   t    g    0.0   1260    +
23  a  27.42  14.500  u  g   x   h  ...    t   1.0   f    g  120.0     11    +
24  a  41.17   6.500  u  g   q   v  ...    t   3.0   t    g  145.0      0    +
25  a  15.83   0.585  u  g   c   h  ...    t   2.0   f    g  100.0      0    +
26  a  47.00  13.000  u  g   i  bb  ...    t   9.0   t    g    0.0      0    +
27  b  56.58  18.500  u  g   d  bb  ...    t  17.0   t    g    0.0      0    +
28  b  57.42   8.500  u  g   e   h  ...    t   3.0   f    g    0.0      0    +
29  b  42.08   1.040  u  g   w   v  ...    t   6.0   t    g  500.0  10000    +
30  b  29.25  14.790  u  g  aa   v  ...    t   5.0   t    g  168.0      0    +
31  b  42.00   9.790  u  g   x   h  ...    t   8.0   f    g    0.0      0    +
32  b  49.50   7.585  u  g   i  bb  ...    t  15.0   t    g    0.0   5000    +
33  a  36.75   5.125  u  g   e   v  ...    f   0.0   t    g    0.0   4000    +
34  a  22.58  10.750  u  g   q   v  ...    t   5.0   t    g    0.0    560    +
35  b  27.83   1.500  u  g   w   v  ...    t  11.0   t    g  434.0     35    +
36  b  27.25   1.585  u  g  cc   h  ...    t  12.0   t    g  583.0    713    +
37  a  23.00  11.750  u  g   x   h  ...    t   2.0   t    g  300.0    551    +
38  b  27.75   0.585  y  p  cc   v  ...    t   2.0   f    g  260.0    500    +
39  b  54.58   9.415  u  g  ff  ff  ...    t  11.0   t    g   30.0    300    +

[40 rows x 16 columns]

In [0]:
df = df.replace({'?':np.NaN})

In [30]:
df.isna().sum()

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
A1     678 non-null object
A2     678 non-null float64
A3     690 non-null float64
A4     684 non-null object
A5     684 non-null object
A6     681 non-null object
A7     681 non-null object
A8     690 non-null float64
A9     690 non-null object
A10    690 non-null object
A11    690 non-null float64
A12    690 non-null object
A13    690 non-null object
A14    677 non-null float64
A15    690 non-null float64
A16    690 non-null object
dtypes: float64(6), object(10)
memory usage: 86.3+ KB

In [0]:
df['A2'] = df['A2'].astype(float)
df['A11']= df['A11'].astype(float)
df['A14'] = df['A14'].astype(float)
df['A15'] = df['A15'].astype(float)

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [0]:
from scipy.stats import ttest_ind

In [0]:
df_approve = df[df['A16'] == '+']
df_reject = df[df["A16"] == '-']

In [0]:
df_a_contf = df_approve[['A2','A3','A8','A11','A14','A15']]
df_r_contf = df_reject[['A2','A3','A8','A11','A14','A15']]

In [55]:
df_a_contf.describe()

               A2          A3  ...         A14            A15
count  305.000000  307.000000  ...  301.000000     307.000000
mean    33.720492    5.904951  ...  164.421927    2038.859935
std     12.809641    5.471485  ...  161.770675    7659.763941
min     13.750000    0.000000  ...    0.000000       0.000000
25%     23.170000    1.500000  ...    0.000000       0.000000
50%     30.500000    4.460000  ...  120.000000     221.000000
75%     41.330000    9.520000  ...  280.000000    1209.000000
max     76.750000   28.000000  ...  840.000000  100000.000000

[8 rows x 6 columns]

In [56]:
df_r_contf.describe()

               A2          A3          A8         A11          A14          A15
count  373.000000  383.000000  383.000000  383.000000   376.000000   383.000000
mean    29.808231    3.839948    1.257924    0.631854   199.699468   198.605744
std     10.919291    4.337662    2.120481    1.900049   181.564835   671.608839
min     15.170000    0.000000    0.000000    0.000000     0.000000     0.000000
25%     22.000000    0.835000    0.125000    0.000000   100.000000     0.000000
50%     27.330000    2.210000    0.415000    0.000000   167.500000     1.000000
75%     34.830000    5.000000    1.500000    0.000000   272.000000    67.000000
max     80.250000   26.335000   13.875000   20.000000  2000.000000  5552.000000

In [0]:
# means are all lower on reject except for in A14
# std is fairly divergent in A11 approved compared to reject
# median of A15 in reject is 1 compared to 221 in approved
#etc

In [68]:
#different
ttest_ind(df_a_contf['A11'], df_r_contf['A11'], nan_policy='omit')

Ttest_indResult(statistic=11.667004222431277, pvalue=7.957718568079967e-29)

In [63]:
#fairly similiar
ttest_ind(df_a_contf['A14'], df_r_contf['A14'], nan_policy='omit')

Ttest_indResult(statistic=-2.6358251986645476, pvalue=0.008586135473979569)

In [0]:
df_categ = df[['A1','A4','A5','A6','A7','A8','A9','A10','A12','A13']]

In [87]:
cont_table1 = pd.crosstab(df['A16'], df['A9'], margins='True')
cont_table

A9     f    t  All
A16
+     23  284  307
-    306   77  383
All  329  361  690

In [107]:
cont_table2 = pd.crosstab(df['A16'], df['A1'], margins=True)
cont_table2

A1     a    b  All
A16
+     98  206  304
-    112  262  374
All  210  468  678

In [0]:
from scipy.stats import chi2_contingency

In [88]:
# test statistic is 358, seems high, reject null
chi2_contingency(cont_table1)

(358.10032647163285,
 3.125328283651242e-76,
 4,
 array([[146.38115942, 160.61884058, 307.        ],
        [182.61884058, 200.38115942, 383.        ],
        [329.        , 361.        , 690.        ]]))

In [108]:
# test statistic is low, fail to reject null
chi2_contingency(cont_table2)

(0.41143508194591916,
 0.981530018361231,
 4,
 array([[ 94.15929204, 209.84070796, 304.        ],
        [115.84070796, 258.15929204, 374.        ],
        [210.        , 468.        , 678.        ]]))

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*

1.   I did the two ttest to check for similarity between the averages of each independent sample. Getting a
higher test statistic tells me that their average diverges more, and to *some extent* the direction of skewness between the two via'+/-''.  The relationship between the class label and continuous features *can imply a correlation or dependency*, but I would be hestitant to make that assertion without further investigation. I suppose running the chi2 test here might be a decent first step. Given that at least one of the continuous feature had similiar averages,
it's probably fair to say that not all of the features are directly or independently correlated. There isn't much to infere with the numbers alone in that instance, other than they haven't changed the outcome much.
2.   The two chi-squared tests I did checked for dependency. For the cetegorical features I selected, there appears to be a dependency on approval given A9s value. Conversely, A1 appeared to be independent of approval. In easier terms: can the outcome be (probably) infered by the value of the feature, and/or does the outcome(class label) appear to rely on the value of the feature(?).
3.   The most challenging part of this sprint test(for me) was this section. I have a hard time nailing down semantics with language. A piece of that comes from not being 100% confident in my understanding of topics to speak with authority combined with my awareness of the possibility of mistakes and oversights. Other than that, in general, I find the time constraint to be the hardest. The added bit of pressure can mess with my ability to think and act in a direct manner. I would say its good practice though. You guys do a good job.