<a href="https://colab.research.google.com/github/Captmoonshot/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/DS_Unit_1_Sprint_Challenge_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [70]:
# TODO
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', na_values=['?', np.nan])
df.head()

   b  30.83      0  u  g  w  v  1.25  t t.1  01  f g.1  00202  0.1  +
0  a  58.67  4.460  u  g  q  h  3.04  t   t   6  f   g   43.0  560  +
1  a  24.50  0.500  u  g  q  h  1.50  t   f   0  f   g  280.0  824  +
2  b  27.83  1.540  u  g  w  v  3.75  t   t   5  t   g  100.0    3  +
3  b  20.17  5.625  u  g  w  v  1.71  t   f   0  f   s  120.0    0  +
4  b  32.08  4.000  u  g  m  v  2.50  t   f   0  t   g  360.0    0  +

In [71]:
print("The dataset shape: {}".format(df.shape))

The dataset shape: (689, 16)

In [72]:
df.isna().sum()

b        12
30.83    12
0         0
u         6
g         6
w         9
v         9
1.25      0
t         0
t.1       0
01        0
f         0
g.1       0
00202    13
0.1       0
+         0
dtype: int64

In [73]:
df.dtypes

b         object
30.83    float64
0        float64
u         object
g         object
w         object
v         object
1.25     float64
t         object
t.1       object
01         int64
f         object
g.1       object
00202    float64
0.1        int64
+         object
dtype: object

In [74]:
# Let's get rid of NaNs

df['30.83'].fillna(df['30.83'].mean(), inplace=True)
df.isna().sum()

b        12
30.83     0
0         0
u         6
g         6
w         9
v         9
1.25      0
t         0
t.1       0
01        0
f         0
g.1       0
00202    13
0.1       0
+         0
dtype: int64

In [0]:
df.dropna(inplace=True)

In [76]:
df.isna().sum()

b        0
30.83    0
0        0
u        0
g        0
w        0
v        0
1.25     0
t        0
t.1      0
01       0
f        0
g.1      0
00202    0
0.1      0
+        0
dtype: int64

In [77]:
df.describe()

,30.83,0,1.25,01,00202,0.1
count,663.000000,663.000000,663.000000,663.000000,663.000000,663.000000
mean,31.505915,4.806523,2.263303,2.470588,182.295626,1005.099548
std,11.748488,5.004879,3.369936,4.939082,170.914548,5214.980025
min,13.750000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.670000,1.020000,0.165000,0.000000,71.500000,0.000000
50%,28.580000,2.875000,1.000000,0.000000,160.000000,5.000000
75%,37.750000,7.165000,2.750000,3.000000,278.000000,398.000000
max,76.750000,28.000000,28.500000,67.000000,2000.000000,100000.000000

In [78]:
# Replacing the target categorical variable with a more readable name

df.rename({'+': 'approved'}, inplace=True, axis=1)
df.head()

   b  30.83      0  u  g  w  v  1.25  t t.1  01  f g.1  00202  0.1 approved
0  a  58.67  4.460  u  g  q  h  3.04  t   t   6  f   g   43.0  560        +
1  a  24.50  0.500  u  g  q  h  1.50  t   f   0  f   g  280.0  824        +
2  b  27.83  1.540  u  g  w  v  3.75  t   t   5  t   g  100.0    3        +
3  b  20.17  5.625  u  g  w  v  1.71  t   f   0  f   s  120.0    0        +
4  b  32.08  4.000  u  g  m  v  2.50  t   f   0  t   g  360.0    0        +

In [79]:
# Replacing the '+' and '-' of the df.approved column to run analysis

df['approved'] = np.where(df['approved'] == '+', 1, 0)
df.head()

   b  30.83      0  u  g  w  v  1.25  t t.1  01  f g.1  00202  0.1  approved
0  a  58.67  4.460  u  g  q  h  3.04  t   t   6  f   g   43.0  560         1
1  a  24.50  0.500  u  g  q  h  1.50  t   f   0  f   g  280.0  824         1
2  b  27.83  1.540  u  g  w  v  3.75  t   t   5  t   g  100.0    3         1
3  b  20.17  5.625  u  g  w  v  1.71  t   f   0  f   s  120.0    0         1
4  b  32.08  4.000  u  g  m  v  2.50  t   f   0  t   g  360.0    0         1

In [80]:
df['approved'].value_counts()

0    366
1    297
Name: approved, dtype: int64

In [81]:
df.head()

   b  30.83      0  u  g  w  v  1.25  t t.1  01  f g.1  00202  0.1  approved
0  a  58.67  4.460  u  g  q  h  3.04  t   t   6  f   g   43.0  560         1
1  a  24.50  0.500  u  g  q  h  1.50  t   f   0  f   g  280.0  824         1
2  b  27.83  1.540  u  g  w  v  3.75  t   t   5  t   g  100.0    3         1
3  b  20.17  5.625  u  g  w  v  1.71  t   f   0  f   s  120.0    0         1
4  b  32.08  4.000  u  g  m  v  2.50  t   f   0  t   g  360.0    0         1

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" between them and the class label, and apply the Chi-squared test to them. There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end. This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [82]:
# TODO
df.groupby(df['approved']).mean()

,30.83,0,1.25,01,00202,0.1,approved
approved,,,,,,,
0,29.611621,3.837514,1.261380,0.655738,196.846995,189.133880,0.0
1,33.840298,6.000657,3.497997,4.707071,164.363636,2010.632997,1.0

In [0]:
# Let's create an approved DataFrame and a not_approved DataFrame for easier analysis

approved = df[df['approved']==1]
not_approved = df[df['approved']==0]

In [84]:
approved.head()

   b  30.83      0  u  g  w  v  1.25  t t.1  01  f g.1  00202  0.1  approved
0  a  58.67  4.460  u  g  q  h  3.04  t   t   6  f   g   43.0  560         1
1  a  24.50  0.500  u  g  q  h  1.50  t   f   0  f   g  280.0  824         1
2  b  27.83  1.540  u  g  w  v  3.75  t   t   5  t   g  100.0    3         1
3  b  20.17  5.625  u  g  w  v  1.71  t   f   0  f   s  120.0    0         1
4  b  32.08  4.000  u  g  m  v  2.50  t   f   0  t   g  360.0    0         1

In [85]:
not_approved.head()

,b,30.83,0,u,g,w,v,1.25,t,t.1,01,f,g.1,00202,0.1,approved
69,b,32.33,7.50,u,g,e,bb,1.585,t,f,0,t,s,420.0,0,0
71,a,38.58,5.00,u,g,cc,v,13.500,t,f,0,t,g,980.0,0,0
72,b,44.25,0.50,u,g,m,v,10.750,t,f,0,f,s,400.0,0,0
73,b,44.83,7.00,y,p,c,v,1.625,f,f,0,f,g,160.0,2,0
74,b,20.67,5.29,u,g,q,v,0.375,t,t,1,f,g,160.0,0,0

In [86]:
# One feature that is extremely different between the two classes is '0.1', and another one that is notably less different is
# '1.25'

import scipy

scipy.stats.ttest_ind(approved['0.1'], not_approved['0.1'], equal_var=False)

Ttest_indResult(statistic=4.0931332285325235, pvalue=5.4795709490123715e-05)

### The above t-test shows that the t-stat is large in the negative, and very small p-value, so we reject the null hypothesis of no difference between the approved and unapproved versions of the '0.1' variable

In [87]:
scipy.stats.ttest_ind(approved['1.25'], not_approved['1.25'], equal_var=False)

Ttest_indResult(statistic=8.448273497581583, pvalue=5.085002490469372e-16)

### Again, we reject the null hypothesis of no difference in means of approved and not_approved versions of '1.25'.  

### Surprisingly, the p-value for the t-test for '1.25' is even smaller than the one for '0.1' even though the difference in actual means is larger for '0.1' which I thought would mean a stronger t-test for '0.1' over '1.25'.

In [88]:
categorical_df = df.select_dtypes(include=['object']).copy()
categorical_df.head()

   b  u  g  w  v  t t.1  f g.1
0  a  u  g  q  h  t   t  f   g
1  a  u  g  q  h  t   f  f   g
2  b  u  g  w  v  t   t  t   g
3  b  u  g  w  v  t   f  f   s
4  b  u  g  m  v  t   f  t   g

In [89]:
categorical_df['approved'] = df['approved']
categorical_df.head()

   b  u  g  w  v  t t.1  f g.1  approved
0  a  u  g  q  h  t   t  f   g         1
1  a  u  g  q  h  t   f  f   g         1
2  b  u  g  w  v  t   t  t   g         1
3  b  u  g  w  v  t   f  f   s         1
4  b  u  g  m  v  t   f  t   g         1

### Chi-Square Test of Categorical Variables

In [90]:
from scipy.stats import chisquare



ct_b = pd.crosstab(categorical_df['approved'], categorical_df['b'], margins=True)
ct_b

b           a    b  All
approved
0         110  256  366
1          95  202  297
All       205  458  663

### Example of extreme Chi-Square Test Result

In [91]:
chisquare(ct_b, axis=None)

Power_divergenceResult(statistic=880.7647058823529, pvalue=7.955629214797575e-185)

### Example of lesser extreme Chi-Square Test Result, although still statistically significant

In [92]:
ct_u = pd.crosstab(categorical_df['approved'], categorical_df['u'], margins=True)
chisquare(ct_u, axis=None)

Power_divergenceResult(statistic=2248.334841628959, pvalue=0.0)

### One more Chi-Square

In [93]:
ct_g_1 = pd.crosstab(categorical_df['approved'], categorical_df['g.1'], margins=True)
chisquare(ct_g_1, axis=None)

Power_divergenceResult(statistic=2861.176470588235, pvalue=0.0)

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*

### The t-tests that we ran on the continuous features tell us something very important when comparing two sample sets of data.  Oftentimes, we want to know whether the means of different sample-sets are different or not.  So, when we run a t-test like in our example, we are comparing two groups of the same feature: 

1. Approved
2. Not Approved

### The null hypothesis for comparing two means is that there is no difference between them.  If we run the t-test and get a large t-stat, and a small p-value that is less than for example 0.05 level of significance, then we get indication that the two means indeed may not be the same.  

### These tests are especially important in the medical sciences where we want to know the effect of some procedure or drug on a sick person.

### The chi-square, on the other hand, specifically tells you that a relationship may exist between the rows and the columns of a dataset, but the feauture variables must be categorical variables.  

###  The chi-square compares the expected chi-square distribution when the null hypothesis is true with the observed distribution in the dataset to see if there's differences.   If the observed frequencies don't follow the expected null-hypothesis distribution, then it should return a very high value for the chi-square test stat, and a low and probably significant value p-value less than something like 0.05

### The most challeging part of this Sprint Challenge was data cleaning.