<a href="https://colab.research.google.com/github/ssingh1187/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/DS_Unit_1_Sprint_Challenge_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [103]:
import pandas as pd

import numpy as np

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data'
cols = ['A' + str(i) for i in range (1,17)]

df = pd.read_csv(url, names=cols, header = None,na_values= '?')
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0   +

In [104]:
df.isnull().sum()

# This shows that there are missing values in columns A2 and A14

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

To get successful t-test, missing values in contionuous columns can be filled with their respective column means

In [107]:
values = {'A2': df.A2.mean(), 'A14': df.A14.mean()}
df.fillna(value=values, inplace=True)

df.describe(include=np.number)

,A2,A3,A8,A11,A14,A15
count,690.000000,690.000000,690.000000,690.00000,690.000000,690.000000
mean,31.568171,4.758725,2.223406,2.40000,184.014771,1017.385507
std,11.853273,4.978163,3.346513,4.86294,172.159274,5210.102598
min,13.750000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,22.670000,1.000000,0.165000,0.00000,80.000000,0.000000
50%,28.625000,2.750000,1.000000,0.00000,160.000000,5.000000
75%,37.707500,7.207500,2.625000,3.00000,272.000000,395.500000
max,80.250000,28.000000,28.500000,67.00000,2000.000000,100000.000000

In [0]:
df.describe(exclude=np.number)

For non continuous columns, NaN values can be replaced by ffill or bfill method

In [111]:
df.fillna(method ='ffill',inplace=True)
df.isnull().sum()

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    0
A15    0
A16    0
dtype: int64

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

###Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?

In [0]:
# Dividing dataframe based on two classes
cols_cont = ['A2','A3','A8','A11','A14', 'A15']

df_pos = df[df.A16 == '+']
df_neg = df[df.A16 == '-']

In [174]:
from scipy import stats

for cols in cols_cont:
 result = stats.ttest_ind(df_pos[cols], df_neg[cols])
 print(cols)
 if result[0] > 1 and result[1] < 0.01:
  print ('Column affecting positive class label')
  s = 'Statistic value is '+ str(result[0]) + ', P-Value is ' + str(result[1])
  print(s)
  print('---')
  
 elif result[0] < 1 and result[1] < 0.01:
  print ('Column affecting negative class label')
  s = 'Statistic value is '+ str(result[0]) + ', P-Value is ' + str(result[1])
  print(s)
  print('---')

A2
Column affecting positive class label
Statistic value is 4.295929647669026, P-Value is 1.9902200656148825e-05
---
A3
Column affecting positive class label
Statistic value is 5.52998337614816, P-Value is 4.551680702308068e-08
---
A8
Column affecting positive class label
Statistic value is 8.935819983773698, P-Value is 3.6710537401601785e-18
---
A11
Column affecting positive class label
Statistic value is 11.667004222431277, P-Value is 7.957718568079967e-29
---
A14
Column affecting negative class label
Statistic value is -2.635453311174974, P-Value is 0.008591788512202131
---
A15
Column affecting positive class label
Statistic value is 4.680216020964486, P-Value is 3.4520256956287944e-06
---

###Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?

In [0]:
# For non-categorical columns

from scipy.stats import chi2_contingency
col_cat = ['A1', 'A4','A5','A6','A7','A9','A10','A12','A13']

# for cols in col_cat:
#   contingency = pd.crosstab(df[cols], df.A16)

In [198]:
# Null hypothesis: Columns are independent of class labels

for cols in col_cat:
 contingency = pd.crosstab(df[cols], df.A16)
 result = chi2_contingency(contingency)

 print(cols)
 if result[1] > 0.01:
  print ('Column is affecting class label')
  s = 'Chi value is '+ str(result[0]) + ', P-Value is ' + str(result[1])
  print(s)
  print('---')
  
 elif result[1] < 0.01:
  print ('Column is not affecting class label')
  s = 'Chi value is '+ str(result[0]) + ', P-Value is ' + str(result[1])
  print(s)
  print('---')

A1
Column is affecting class label
Chi value is 0.503725416086821, P-Value is 0.47786776443128076
---
A4
Column is not affecting class label
Chi value is 27.381959088907596, P-Value is 1.1326171463492873e-06
---
A5
Column is not affecting class label
Chi value is 27.381959088907596, P-Value is 1.1326171463492873e-06
---
A6
Column is not affecting class label
Chi value is 101.15724449221703, P-Value is 9.895986843584506e-16
---
A7
Column is not affecting class label
Chi value is 47.13464777583941, P-Value is 1.4453572730810954e-07
---
A9
Column is not affecting class label
Chi value is 355.2038167412799, P-Value is 3.1185900878457007e-79
---
A10
Column is not affecting class label
Chi value is 143.06956205083145, P-Value is 5.675727374527571e-33
---
A12
Column is affecting class label
Chi value is 0.568273300792113, P-Value is 0.45094587758631943
---
A13
Column is affecting class label
Chi value is 9.191570451545383, P-Value is 0.010094291370456362
---

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

From the t-test,
1.  Features affecting positive class labels are: 
  `A2, A3, A8, A11, A15`
  
2. Feature affecting negative class labels is `A14`


* `A11` has highest statistic value, it is extremely different.
* `A14` has the lowest statistic value, hence it is less extreme.


From chi-squared test:
1. Features affecting class labels are:
`A1, A12, A13`

2. Features not affecting class labels are:
`A4, A5, A6, A7, A9, A10`

###What was the most challenging part of this sprint challenge?

No proper given information about data and meaningless symbols made interpretation difficult.