<a href="https://colab.research.google.com/github/zacherymoy/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/DSPT3_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
import pandas as pd

In [2]:
#Rename
cols = ['Class Name', 'Handicapped Infants', 'Water Project Cost Sharing', 'Adoption of the Budget Resolution', 'Physician Fee Freeze', 
        'El Salvador Aid', 'Religious Groups in Schools', 'Anti Satellite Test Ban', 'Aid to Nicaraguan Contras', 'mx missile', 
       'immigration', 'Synfuels Corporation Cutback', 'Education Spending', 'Superfund Right to Sue', 'Crime', 'Duty Free Exports', 
       'Export Administration Act South Africa']
gov_data = pd.read_csv(data_url, header=None, names=cols)
gov_data.head()

   Class Name  ... Export Administration Act South Africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [3]:
gov_data.shape

(435, 17)

## Water Project

In [0]:
cleanedwater = gov_data[gov_data['Water Project Cost Sharing'] != '?']

In [20]:
cleanedwater['Water Project Cost Sharing'].replace('y', 1, inplace=True)
cleanedwater['Water Project Cost Sharing'].replace('n', 0, inplace=True)
cleanedwater.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

   Class Name  ... Export Administration Act South Africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [15]:
#Check to drop
cleanedwater.shape

(387, 17)

In [41]:
#Democrats Sequencing
narrowedDems = cleanedwater[cleanedwater['Class Name'] == 'democrat']
narrowedDems.head()

  Class Name  ... Export Administration Act South Africa
2   democrat  ...                                      n
3   democrat  ...                                      y
4   democrat  ...                                      y
5   democrat  ...                                      y
6   democrat  ...                                      y

[5 rows x 17 columns]

In [44]:
#Democrat Dateframe done
finalnarrowedDems = narrowedDems['Water Project Cost Sharing']
finalnarrowedDems.shape

(239,)

In [45]:
#Republicans Sequencing
narrowedReps = cleanedwater[cleanedwater['Class Name'] == 'republican']
narrowedReps.head()

    Class Name  ... Export Administration Act South Africa
0   republican  ...                                      y
1   republican  ...                                      ?
7   republican  ...                                      y
8   republican  ...                                      y
10  republican  ...                                      n

[5 rows x 17 columns]

In [47]:
#Democrat Dateframe done
finalnarrowedReps = narrowedReps['Water Project Cost Sharing']
finalnarrowedReps.shape

(148,)

In [25]:
#Used this to check work above
narrowed = pd.crosstab(cleanedwater['Class Name'], cleanedwater['Water Project Cost Sharing'])
narrowed

Water Project Cost Sharing    0    1
Class Name
democrat                    119  120
republican                   73   75

In [0]:
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel
import numpy as np

In [54]:
ttest_ind(finalnarrowedReps, finalnarrowedDems)

TypeError: ignored

In [32]:
#narrowedDem = narrowed[narrowed['Class Name']==['democrat']]
#narrowedDem = narrowed.loc[narrowed['Class Name'] == 'democrat']
#cleanedwater = gov_data[gov_data['Water Project Cost Sharing'] != '?']
#narrowedDem = narrowed[narrowed['Class Name'] == 'democrat']

KeyError: ignored

## Adoption of the Budget Resolution

In [0]:
budget = gov_data[gov_data['Adoption of the Budget Resolution'] != '?']

In [21]:
budget['Adoption of the Budget Resolution'].replace('y', 1, inplace=True)
budget['Adoption of the Budget Resolution'].replace('n', 0, inplace=True)
budget.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

   Class Name  ... Export Administration Act South Africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [22]:
budget.shape

(424, 17)

In [55]:
#Democrats Sequencing
narrowedDems2 = budget[budget['Class Name'] == 'democrat']
narrowedDems2.head()

  Class Name  ... Export Administration Act South Africa
2   democrat  ...                                      n
3   democrat  ...                                      y
4   democrat  ...                                      y
5   democrat  ...                                      y
6   democrat  ...                                      y

[5 rows x 17 columns]

In [63]:
#Democrat Dateframe done
finalnarrowedDems2 = narrowedDems2['Adoption of the Budget Resolution']
finalnarrowedDems2.head()

2    1
3    1
4    1
5    1
6    0
Name: Adoption of the Budget Resolution, dtype: int64

In [64]:
#Republicans Sequencing
narrowedReps2 = budget[budget['Class Name'] == 'republican']
narrowedReps2.head()

    Class Name  ... Export Administration Act South Africa
0   republican  ...                                      y
1   republican  ...                                      ?
7   republican  ...                                      y
8   republican  ...                                      y
10  republican  ...                                      n

[5 rows x 17 columns]

In [66]:
#Democrat Dateframe done
finalnarrowedReps2 = narrowedReps2['Adoption of the Budget Resolution']
finalnarrowedReps2.shape

(164,)

In [23]:
pd.crosstab(budget['Class Name'], budget['Adoption of the Budget Resolution'])

Adoption of the Budget Resolution    0    1
Class Name
democrat                            29  231
republican                         142   22

In [0]:
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel
import numpy as np

In [68]:
ttest_ind(finalnarrowedReps, finalnarrowedDems, equal_var=False)

TypeError: ignored

##Adoption of the Budget Resolution

Attribute:  #Missing Values:
           Index:  0
           Class Name:  0
           Handicapped:  12
           Water:  48
           Budget:  11
           6:  11
           7:  15
           8:  11
           9:  14
          10:  15
          11:  22
          12:  7
          13:  21
          14:  31
          15:  25
          16:  17
          17:  28

9. Class Distribution: (2 classes)
   1. 45.2 percent are democrat
   2. 54.8 percent are republican

More information: 
https://docs.google.com/document/d/19MmwuMoeRlRJYq6TTZMIz5VrebsKyPHtzSprejAn04I/edit?usp=sharing