<a href="https://colab.research.google.com/github/ericriveraisme/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/ERIC_RIVERA_Copy_of_DS_Unit_1_Sprint_Challenge_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 3

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 is a variable that indicates whether or not a person's request for credit has been approved or denied. This is a good candidate for a y variable since we might want to use the other features to predict this one. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

Hint: If a column has the datatype of "object" even though it's made up of float or integer values, you can coerce it to act as a numeric column by using the `pd.to_numeric()` function.

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [9]:
# TODO

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data')
df.columns = ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16']
df.shape
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
1  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
2  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
3  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +
4  b  32.08  4.000  u  g  m  v  2.50  t   f    0   t   g  00360    0   +

In [10]:
dataurl = "https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data"

columnnames = ['A'+str(i) for i in range (1, 17)]

df = pd.read_csv(dataurl, header=None, names=columnnames, na_values= '?')

df.isnull().sum()
df.describe()

               A2          A3  ...          A14            A15
count  678.000000  690.000000  ...   677.000000     690.000000
mean    31.568171    4.758725  ...   184.014771    1017.385507
std     11.957862    4.978163  ...   173.806768    5210.102598
min     13.750000    0.000000  ...     0.000000       0.000000
25%     22.602500    1.000000  ...    75.000000       0.000000
50%     28.460000    2.750000  ...   160.000000       5.000000
75%     38.230000    7.207500  ...   276.000000     395.500000
max     80.250000   28.000000  ...  2000.000000  100000.000000

[8 rows x 6 columns]

In [11]:
values = {'A2': df.A2.mean(), 'A14': df.A14.mean()}
df.fillna(value=values, inplace=True)

df.describe()

               A2          A3  ...          A14            A15
count  690.000000  690.000000  ...   690.000000     690.000000
mean    31.568171    4.758725  ...   184.014771    1017.385507
std     11.853273    4.978163  ...   172.159274    5210.102598
min     13.750000    0.000000  ...     0.000000       0.000000
25%     22.670000    1.000000  ...    80.000000       0.000000
50%     28.625000    2.750000  ...   160.000000       5.000000
75%     37.707500    7.207500  ...   272.000000     395.500000
max     80.250000   28.000000  ...  2000.000000  100000.000000

[8 rows x 6 columns]

In [12]:
df.describe(exclude=[np.number])

         A1   A4   A5   A6   A7   A9  A10  A12  A13  A16
count   678  684  684  681  681  690  690  690  690  690
unique    2    3    3   14    9    2    2    2    3    2
top       b    u    g    c    v    t    f    f    g    -
freq    468  519  519  137  399  361  395  374  625  383

In [13]:
df.isnull().sum()

A1     12
A2      0
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14     0
A15     0
A16     0
dtype: int64

In [14]:
df.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14    float64
A15      int64
A16     object
dtype: object

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [0]:
# TODO

In [16]:
dfgrouped = df.groupby('A16')
continousdatacols = ['A2', 'A3', 'A8', 'A11', 'A14', 'A15']

for i in continousdatacols:
  print("\nColumn {}\n".format(i))
  print(dfgrouped[i].describe())

Column A2

     count       mean        std    min     25%    50%    75%    max
A16
+    307.0  33.706470  12.768888  13.75  23.210  30.67  41.33  76.75
-    383.0  29.854182  10.779084  15.17  22.125  27.67  34.79  80.25

Column A3

     count      mean       std  min    25%   50%   75%     max
A16
+    307.0  5.904951  5.471485  0.0  1.500  4.46  9.52  28.000
-    383.0  3.839948  4.337662  0.0  0.835  2.21  5.00  26.335

Column A8

     count      mean       std  min    25%    50%  75%     max
A16
+    307.0  3.427899  4.120792  0.0  0.750  2.000  5.0  28.500
-    383.0  1.257924  2.120481  0.0  0.125  0.415  1.5  13.875

Column A11

     count      mean       std  min  25%  50%  75%   max
A16
+    307.0  4.605863  6.320242  0.0  0.0  3.0  7.0  67.0
-    383.0  0.631854  1.900049  0.0  0.0  0.0  0.0  20.0

Column A14

     count        mean         std  min    25%    50%    75%     max
A16
+    307.0  164.804849  160.199872  0.0    0.0  120.0  277.0   840.0
-    383.0  199.412803  179.905892  0.0  100.0  174.0  270.0  2000.0

Column A15

     count         mean          std  min  25%    50%     75%       max
A16
+    307.0  2038.859935  7659.763941  0.0  0.0  221.0  1209.0  100000.0
-    383.0   198.605744   671.608839  0.0  0.0    1.0    67.0    5552.0

In [0]:
dfA16pos = df[df.A16 == '+']
dfA16pneg = df[df.A16 == '-']

In [24]:
s1 = "Features that significantly affects positive class attribute\n"
s2 = "Features that significantly affects negative class attribute\n"
s3 = "Features that have no significant affect on class attribute\n"

for column in continousdatacols:
  statistics, pvalue = stats.ttest_ind(dfA16pos[column], 
                          dfA16pneg[column], 
                          equal_var=True)
  if statistics > 0 and pvalue < 0.01:
    s1 += "{:10} {:<10.5} {:.4}\n".format(column, statistics, pvalue)
  elif statistics < 0 and pvalue < 0.01:
    s2 += "{:10} {:<10.5} {:.4}\n".format(column, statistics, pvalue)
  else:
    s3 += "{:10} {:<10.5} {:.4}\n".format(column, statistics, pvalue)

print("{}\n{}\n{}".format(s1, s2, s3))

Features that significantly affects positive class attribute
A2         4.2959     1.99e-05
A3         5.53       4.552e-08
A8         8.9358     3.671e-18
A11        11.667     7.958e-29
A15        4.6802     3.452e-06

Features that significantly affects negative class attribute
A14        -2.6355    0.008592

Features that have no significant affect on class attribute

In [25]:
categoricaldatacols = [i for i in df.columns if i not in continousdatacols]
categoricaldatacols.remove('A16')

s1 = "Features that significantly affects class attribute\n"
s2 = "Features that have no significant affect on class attribute\n"

for column in categoricaldatacols:
  statistics, pvalue = stats.chisquare(pd.crosstab(df[column], df.A16), 
                                      axis=None)
  if pvalue < 0.01:
    s1 += "{:10} {:<10.5} {:.4}\n".format(column, statistics, pvalue)
  else:
    s2 += "{:10} {:<10.5} {:.4}\n".format(column, statistics, pvalue)
    
print("{}\n{}".format(s1, s2))

Features that significantly affects class attribute
A1         108.01     2.947e-23
A4         637.56     1.545e-135
A5         637.56     1.545e-135
A6         393.32     1.144e-66
A7         1855.9     0.0
A9         357.83     3.013e-77
A10        173.13     2.684e-37
A12        14.383     0.002428
A13        1037.3     5.125e-222

Features that have no significant affect on class attribute

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*