<a href="https://colab.research.google.com/github/Hallowtipz/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/Jesse__Ghansah_LS_DS_131_Statistics_Probability_and_Inference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import scipy.stats #dont import whole lib

In [0]:
# Loading the data
  !wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-10-05 17:13:59--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.03s

2019-10-05 17:13:59 (628 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [0]:
df = pd.read_csv('house-votes-84.data')

In [0]:
df.head()

   republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0  republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1    democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2    democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3    democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4    democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y

In [0]:
df.shape

(434, 17)

In [0]:
#fix the headers
header_names=['class_name','handicapped_infants','water_project',
                        'budget_resolution','physician_fee_freeze', 'el_salvador_aid',
                        'religious_groups_in_schools','anti_satellite_test_ban',
                        'aid_to_nicaraguan_contras','mx_missile','immigration',
                        'synfuels_corporation_cutback', 'education_spending', 'superfund_right_to_sue','crime','duty_free_exports',
                        'export_administration_act_south_africa']

In [0]:
df = pd.read_csv('house-votes-84.data',
               header=None,
               names=header_names)

In [0]:
df.head()

   class_name  ... export_administration_act_south_africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
df = df.replace({'?':np.NaN,'n':0,'y':1})

In [0]:
df.head()

   class_name  ...  export_administration_act_south_africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
df.isna().sum()

class_name                                  0
handicapped_infants                        12
water_project                              48
budget_resolution                          11
physician_fee_freeze                       11
el_salvador_aid                            15
religious_groups_in_schools                11
anti_satellite_test_ban                    14
aid_to_nicaraguan_contras                  15
mx_missile                                 22
immigration                                 7
synfuels_corporation_cutback               21
education_spending                         31
superfund_right_to_sue                     25
crime                                      17
duty_free_exports                          28
export_administration_act_south_africa    104
dtype: int64

In [0]:
df.describe()

       handicapped_infants  ...  export_administration_act_south_africa
count           423.000000  ...                              331.000000
mean              0.442080  ...                                0.812689
std               0.497222  ...                                0.390752
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               0.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [0]:
#create samples dataframes
dem_sub = df[df['class_name'] == 'democrat']

In [0]:
dem_sub.head()

  class_name  ...  export_administration_act_south_africa
2   democrat  ...                                     0.0
3   democrat  ...                                     1.0
4   democrat  ...                                     1.0
5   democrat  ...                                     1.0
6   democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
#check the shape
dem_sub.shape

(267, 17)

In [0]:
#create republican samples dataframes
rep_sub = df[df['class_name'] == 'republican']

In [0]:
rep_sub.head()

    class_name  ...  export_administration_act_south_africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

In [0]:
issues =['handicapped_infants','water_project',
                        'budget_resolution','physician_fee_freeze', 'el_salvador_aid',
                        'religious_groups_in_schools','anti_satellite_test_ban',
                        'aid_to_nicaraguan_contras','mx_missile','immigration',
                        'synfuels_corporation_cutback', 'education_spending', 'superfund_right_to_sue','crime','duty_free_exports',
                        'export_administration_act_south_africa']

In [0]:
rep_sub.columns.tolist()

['class_name',
 'handicapped_infants',
 'water_project',
 'budget_resolution',
 'physician_fee_freeze',
 'el_salvador_aid',
 'religious_groups_in_schools',
 'anti_satellite_test_ban',
 'aid_to_nicaraguan_contras',
 'mx_missile',
 'immigration',
 'synfuels_corporation_cutback',
 'education_spending',
 'superfund_right_to_sue',
 'crime',
 'duty_free_exports',
 'export_administration_act_south_africa']

In [0]:
# The mean of democrats that voted yes for issue
dem_sub[issues].mean()

handicapped_infants                       0.604651
water_project                             0.502092
budget_resolution                         0.888462
physician_fee_freeze                      0.054054
el_salvador_aid                           0.215686
religious_groups_in_schools               0.476744
anti_satellite_test_ban                   0.772201
aid_to_nicaraguan_contras                 0.828897
mx_missile                                0.758065
immigration                               0.471483
synfuels_corporation_cutback              0.505882
education_spending                        0.144578
superfund_right_to_sue                    0.289683
crime                                     0.350195
duty_free_exports                         0.637450
export_administration_act_south_africa    0.935135
dtype: float64

In [0]:
# The mean of republican that that voted yes for issue
rep_sub[issues].mean()

handicapped_infants                       0.187879
water_project                             0.506757
budget_resolution                         0.134146
physician_fee_freeze                      0.987879
el_salvador_aid                           0.951515
religious_groups_in_schools               0.897590
anti_satellite_test_ban                   0.240741
aid_to_nicaraguan_contras                 0.152866
mx_missile                                0.115152
immigration                               0.557576
synfuels_corporation_cutback              0.132075
education_spending                        0.870968
superfund_right_to_sue                    0.860759
crime                                     0.981366
duty_free_exports                         0.089744
export_administration_act_south_africa    0.657534
dtype: float64

In [0]:
#stretch goals

In [0]:
# Refactor your code into functions so it's easy to rerun with arbitrary variables

In [0]:

def hypothesis_testing (a,b): # Using hypothesis testing, find an issue
  t_stat,Pvalue = scipy.stats.ttest_ind(a,b,nan_policy='omit')
  #Pvalue = scipy.stats.ttest_ind(a,b,nan_policy='omit',equal_var=False).pvalue
  print(f'Pvalue is: {Pvalue:.4f}.,T-stat is: {t_stat}')      
  
#   if a.mean() > b.mean() and Pvalue < 0.01:  # that democrats support more than republicans with p < 0.01
#     print("This issue democrats support more than the republicans")
    
#   elif a.mean() < b.mean() and Pvalue < 0.01:   # that republicans support more than democrats with p < 0.01 
#     print("This issue republicans support more than the democrats")
    
#   else:   # where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)
#     print("Both republicans and democrats support this issue")

In [0]:
for issue in issues:   
    print("") 
    print(issue)
    hypothesis_testing(dem_sub[issue], rep_sub[issue])#store dem in a df

handicapped_infants
Pvalue is: 0.0000.,T-stat is: 9.205264294809222

water_project
Pvalue is: 0.9292.,T-stat is: -0.08896538137868286

budget_resolution
Pvalue is: 0.0000.,T-stat is: 23.21277691701378

physician_fee_freeze
Pvalue is: 0.0000.,T-stat is: -49.36708157301406

el_salvador_aid
Pvalue is: 0.0000.,T-stat is: -21.13669261173219

religious_groups_in_schools
Pvalue is: 0.0000.,T-stat is: -9.737575825219457

anti_satellite_test_ban
Pvalue is: 0.0000.,T-stat is: 12.526187929077842

aid_to_nicaraguan_contras
Pvalue is: 0.0000.,T-stat is: 18.052093200819733

mx_missile
Pvalue is: 0.0000.,T-stat is: 16.437503268542994

immigration
Pvalue is: 0.0833.,T-stat is: -1.7359117329695164

synfuels_corporation_cutback
Pvalue is: 0.0000.,T-stat is: 8.293603989407588

education_spending
Pvalue is: 0.0000.,T-stat is: -20.500685724563073

superfund_right_to_sue
Pvalue is: 0.0000.,T-stat is: -13.51064251060933

crime
Pvalue is: 0.0000.,T-stat is: -16.342085656197696

duty_free_exports
Pvalue is: 0.0000.,T-stat is: 12.853146132542978

export_administration_act_south_africa
Pvalue is: 0.0000.,T-stat is: 6.849454815841208