<a href="https://colab.research.google.com/github/Nolanole/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/Josh_Mancuso_DS3_Repl_Code_Challenge_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

url='https://github.com/pierretd/data-dump/raw/master/before-hours/Real_Estate_Valuation.csv'
df = pd.read_csv(url)

print(df.head(1))

   No      Date   Age     Metro  Stores  Latitude  Longitude  Price
0   1  2012.917  32.0  84.87882      10  24.98298  121.54024   37.9

Questions

1) What is the minimum value of Age?

In [6]:
df['Age'].min()

0.0

2) What is the maximum value of Stores?

In [7]:
df['Stores'].max()

10

3) What is the median Longitude?

In [8]:
df['Longitude'].median()

121.53863

4) What is the sample variance of Metro?

In [11]:
df['Metro'].std()**2

1592920.6308205705

5) What is the standard deviation of Stores?

In [12]:
df['Stores'].std()

2.945561805663617

6) What is the skew of Latitude?

In [13]:
df['Latitude'].skew()

-0.4385984450391146

7) What is the Kurtosis of Price?

In [14]:
df['Price'].kurtosis()

2.1790970477396163

8) Create a Correlation Matrix of Values

In [15]:
df.corr()

,No,Date,Age,Metro,Stores,Latitude,Longitude,Price
No,1.000000,-0.048658,-0.032808,-0.013573,-0.012699,-0.010110,-0.011059,-0.028587
Date,-0.048658,1.000000,0.017549,0.060880,0.009635,0.035058,-0.041082,0.087491
Age,-0.032808,0.017549,1.000000,0.025622,0.049593,0.054420,-0.048520,-0.210567
Metro,-0.013573,0.060880,0.025622,1.000000,-0.602519,-0.591067,-0.806317,-0.673613
Stores,-0.012699,0.009635,0.049593,-0.602519,1.000000,0.444143,0.449099,0.571005
Latitude,-0.010110,0.035058,0.054420,-0.591067,0.444143,1.000000,0.412924,0.546307
Longitude,-0.011059,-0.041082,-0.048520,-0.806317,0.449099,0.412924,1.000000,0.523287
Price,-0.028587,0.087491,-0.210567,-0.673613,0.571005,0.546307,0.523287,1.000000

9) Create a Covariance Matrix of Values

In [16]:
df.cov()

,No,Date,Age,Metro,Stores,Latitude,Longitude,Price
No,14317.500000,-1.641671,-44.723245,-2.049851e+03,-4.475787,-0.015012,-0.020309,-46.542615
Date,-1.641671,0.079506,0.056372,2.166557e+01,0.008003,0.000123,-0.000178,0.335665
Age,-44.723245,0.056372,129.788704,3.684082e+02,1.664189,0.007694,-0.008483,-32.640356
Metro,-2049.850694,21.665566,368.408249,1.592921e+06,-2239.938319,-9.257892,-15.618216,-11567.871845
Stores,-4.475787,0.008003,1.664189,-2.239938e+03,8.676334,0.016236,0.020302,22.885163
Latitude,-0.015012,0.000123,0.007694,-9.257892e+00,0.016236,0.000154,0.000079,0.092249
Longitude,-0.020309,-0.000178,-0.008483,-1.561822e+01,0.020302,0.000079,0.000236,0.109273
Price,-46.542615,0.335665,-32.640356,-1.156787e+04,22.885163,0.092249,0.109273,185.136507