<a href="https://colab.research.google.com/github/hBar2013/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/Kim_Lowry_DS_Unit_1_Sprint_Challenge_3_Pandas23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [1]:
!pip install pandas==0.23.4

Requirement already satisfied: pandas==0.23.4 in /usr/local/lib/python3.6/dist-packages (0.23.4)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (2.5.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (1.16.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas==0.23.4) (1.12.0)

In [0]:
import pandas as pd

In [0]:
import numpy as np

In [0]:
credit_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data'
credit = pd.read_csv(credit_url)

In [0]:
credit.rename(columns={credit.columns[0]: 'A1',
                       credit.columns[1]: 'A2',
                       credit.columns[2]: 'A3',
                       credit.columns[3]: 'A4', 
                       credit.columns[4]: 'A5',
                       credit.columns[5]: 'A6',
                       credit.columns[6]: 'A7',
                       credit.columns[7]: 'A8',
                       credit.columns[8]: 'A9',
                       credit.columns[9]: 'A10',
                       credit.columns[10]: 'A11',
                       credit.columns[11]: 'A12',
                       credit.columns[12]: 'A13',
                       credit.columns[13]: 'A14',
                       credit.columns[14]: 'A15',
                       credit.columns[15]: 'A16'},
                inplace=True)

In [6]:
credit.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
1  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
2  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
3  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +
4  b  32.08  4.000  u  g  m  v  2.50  t   f    0   t   g  00360    0   +

In [7]:
credit.shape

(689, 16)

In [8]:
credit.dtypes

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [0]:
convert_dict = {'A2': float, 'A11': float, 'A14': float, 'A15': float}

In [0]:
credit = credit.replace('?', np.nan)

In [0]:
credit = credit.astype(convert_dict)

In [12]:
credit.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11    float64
A12     object
A13     object
A14    float64
A15    float64
A16     object
dtype: object

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [0]:
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
credit_pos = credit[credit['A16'] == '+']

In [15]:
credit_pos.shape

(306, 16)

In [16]:
credit_pos.describe()

,A2,A3,A8,A11,A14,A15
count,304.000000,306.000000,306.000000,306.000000,300.000000,306.000000
mean,33.730000,5.924248,3.435016,4.617647,164.296667,2045.522876
std,12.829683,5.469973,4.125652,6.327215,162.026347,7671.419484
min,13.750000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.170000,1.500000,0.750000,0.000000,0.000000,0.000000
50%,30.335000,4.460000,2.000000,3.000000,120.000000,227.500000
75%,41.352500,9.530000,5.000000,7.000000,280.000000,1209.500000
max,76.750000,28.000000,28.500000,67.000000,840.000000,100000.000000

In [0]:
credit_neg = credit[credit['A16'] == '-']

In [18]:
credit_neg.shape

(383, 16)

In [19]:
credit_neg.describe()

,A2,A3,A8,A11,A14,A15
count,373.000000,383.000000,383.000000,383.000000,376.000000,383.000000
mean,29.808231,3.839948,1.257924,0.631854,199.699468,198.605744
std,10.919291,4.337662,2.120481,1.900049,181.564835,671.608839
min,15.170000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,0.835000,0.125000,0.000000,100.000000,0.000000
50%,27.330000,2.210000,0.415000,0.000000,167.500000,1.000000
75%,34.830000,5.000000,1.500000,0.000000,272.000000,67.000000
max,80.250000,26.335000,13.875000,20.000000,2000.000000,5552.000000

In [20]:
A15_tresult = stats.ttest_ind(credit_pos['A15'], credit_neg['A15'], nan_policy='omit')
A15_tresult

Ttest_indResult(statistic=4.69003486307862, pvalue=3.296216085672561e-06)

In [21]:
A2_tresult = stats.ttest_ind(credit_pos['A2'], credit_neg['A2'], nan_policy='omit')
A2_tresult

Ttest_indResult(statistic=4.295769602362607, pvalue=1.9966966407405674e-05)

In [22]:
A8_tresult = stats.ttest_ind(credit_pos['A8'], credit_neg['A8'], nan_policy='omit')
A8_tresult

Ttest_indResult(statistic=8.953578558992847, pvalue=3.188202861884123e-18)

In [0]:
from scipy.stats import chi2_contingency

In [24]:
credit.describe(exclude=np.number)

         A1   A4   A5   A6   A7   A9  A10  A12  A13  A16
count   677  683  683  680  680  689  689  689  689  689
unique    2    3    3   14    9    2    2    2    3    2
top       b    u    g    c    v    t    f    f    g    -
freq    467  518  518  137  398  360  395  373  624  383

In [0]:
a7_contingency = pd.crosstab(credit['A16'], credit['A7'])

In [39]:
a7_contingency

A7   bb  dd  ff   h  j  n  o    v  z
A16
+    25   2   8  87  3  2  1  168  6
-    34   4  49  51  5  2  1  230  2

In [40]:
c, p, dof, expected = chi2_contingency(a7_contingency)
print(c, p, dof)
print(expected)

45.15024169904093 3.4463863501804394e-07 8
[[ 26.20294118   2.66470588  25.31470588  61.28823529   3.55294118
    1.77647059   0.88823529 176.75882353   3.55294118]
 [ 32.79705882   3.33529412  31.68529412  76.71176471   4.44705882
    2.22352941   1.11176471 221.24117647   4.44705882]]

In [0]:
a13_contingency = pd.crosstab(credit['A16'], credit['A13'])

In [44]:
a13_contingency

A13    g  p   s
A16
+    286  5  15
-    338  3  42

In [45]:
c, p, dof, expected = chi2_contingency(a13_contingency)
print(c, p, dof)
print(expected)

9.131631022234679 0.010401393295183721 2
[[277.13207547   3.55297533  25.3149492 ]
 [346.86792453   4.44702467  31.6850508 ]]

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

I ran t-tests on A15 and A2 mean for the positive and negative groups means. For both A15 and A2 we can reject the null hypothesis that the difference between the postive and negative groups is zero at a confidence level of 95%. The p-values for both tests were well below 0.05. For both of the attributes tested, the t-scores for the approved credit card applicants are significantly higher than the t-scores for the rejected applicants.

For the chi square test of independence I chose the categorical variables A7 and A13. The null hypotheses the chi square tests:

There is no statistcally significant  relationship between credit card approval status and A7 category. They are independent

There is no statistcally significant  relationship between credit card approval status and A13 category. They are independent

Once again, we can reject the null hypothesis for both of these tests as the p-value is below the significance threshhold of 0.05. Therefore we cannot reject the alternative hypotheses that there is a statistically significant relationship between credit card approval status and A7 category and A13 category, respectively.

These results are not surprising in the context of the data set we analyzed as it would make sense that the only factors included in the dataset would be those used as a basis for credit decisions. What would be interesting to explore is the relative weight of the attiributes relative to the likelihood of approval versus disapproval.

I really enjoyed this sprint! My biggest challenge was spending too much time diving into the equations and theory behind the methods and not leaving adequate time for assignments. I will spend time today playing with visualizations which I did not spend a lot of time on during the week.

*Your words here!*