<a href="https://colab.research.google.com/github/KryssyCo/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/Krista_Shepard_DSPT2_U1S3M1_Statistic_Probability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp

In [0]:
voting_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

!curl 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

In [0]:
column_headers = ['Class Name', 'handicapped-infants', 'water-project-cost-sharing', 
                  'adoption-of-the-budget-resolution', 'physician-fee-freeze',  
                  'el-salvador-aid', 'religious-groups-in-schools', 
                  'anti-satellite-test-ban', 'aid-to-nicaraguan-contras', 
                  'mx-missile', 'immigration', 'synfuels-corporation-cutback', 
                  'education-spending',  'superfund-right-to-sue', 'crime', 
                  'duty-free-exports', 'export-administration-act-south-africa']

voting_data = pd.read_csv(voting_url, names=column_headers)
voting_data.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
voting_data.describe()

       Class Name  ... export-administration-act-south-africa
count         435  ...                                    435
unique          2  ...                                      3
top      democrat  ...                                      y
freq          267  ...                                    269

[4 rows x 17 columns]

In [0]:
voting_data.replace(('y', 'n'), (1, 0), inplace=True)
voting_data.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      1
1  republican  ...                                      ?
2    democrat  ...                                      0
3    democrat  ...                                      1
4    democrat  ...                                      1

[5 rows x 17 columns]

In [0]:
voting_data.replace(('?'), (np.NaN), inplace=True)
voting_data.head()

   Class Name  ...  export-administration-act-south-africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
rep = voting_data[voting_data['Class Name'] == 'republican']

dem = voting_data[voting_data['Class Name'] == 'democrat']

In [0]:
rep['crime'].value_counts()

1.0    158
0.0      3
Name: crime, dtype: int64

In [0]:
rep['crime'].isnull().sum()

7

In [0]:
from scipy.stats import ttest_ind

In [0]:
print("Democrat Support: ", dem['crime'].mean())
print("Republican Support: ", rep['crime'].mean())

Democrat Support:  0.35019455252918286
Republican Support:  0.9813664596273292

In [0]:
ttest_ind(dem['crime'], rep['crime'], nan_policy='omit')

Ttest_indResult(statistic=-16.342085656197696, pvalue=9.952342705606092e-47)

Null Hypothesis: The mean of dem support == The mean of republican support. (Theses two parties support this bill at the same rate)

Alternative Hypothesis: The means are different (not the same level of support)

Given the results of the above test, I would REJECT the null hypotheis that there is the same level of support for this bill among democrats and republicans.

 **This is an issue that republicans support more than democrats with p < 0.01**

In [0]:
print("Democrat Support: ", dem['mx-missile'].mean())
print("Republican Support: ", rep['mx-missile'].mean())

Democrat Support:  0.7580645161290323
Republican Support:  0.11515151515151516

In [0]:
ttest_ind(dem['mx-missile'], rep['mx-missile'], nan_policy='omit')

Ttest_indResult(statistic=16.437503268542994, pvalue=5.03079265310811e-47)

Null Hypothesis: The mean of dem support == The mean of republican support. (Theses two parties support this bill at the same rate)

Alternative Hypothesis: The means are different (not the same level of support)

Given the results of the above test, I would REJECT the null hypotheis that there is the same level of support for this bill among democrats and republicans.

**This is an issue that democrats support more than republicans with p < 0.01**

In [0]:
print("Democrat Support: ", dem['water-project-cost-sharing'].mean())
print("Republican Support: ", rep['water-project-cost-sharing'].mean())

Democrat Support:  0.502092050209205
Republican Support:  0.5067567567567568

In [0]:
ttest_ind(dem['water-project-cost-sharing'], rep['water-project-cost-sharing'], nan_policy='omit')

Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

Null Hypothesis: The mean of dem support == The mean of republican support. (Theses two parties support this bill at the same rate)

Alternative Hypothesis: The means are different (not the same level of support)

Given the results of the above test, I Failed to reject the null hypotheis that there is the same level of support for this bill among democrats and republicans.

**This is an issue that democrats support as do republican republicans with p > 0.1**