<a href="https://colab.research.google.com/github/maiormarso/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0. 01 - 1:09
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
df = pd.DataFrame({'a':[1,2,3,4,5], 'b':[2,4,5,6,10]})
df.head()

   a   b
0  1   2
1  2   4
2  3   5
3  4   6
4  5  10

Index of voting-records

02 Dec 1996      135 Index
30 Jun 1993     6868 house-votes-84.names
30 May 1989    18171 house-votes-84.data

In [0]:
df = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
df = pd.read_csv(politics, header=None) 
df.head(1)

In [0]:
column_headers = ['democrat_republican','handicapped_infants','water_project_cost_sharing','adoption_of_the_budget_resolution','physician_fee_freeze','el_salvador_aid','religious_groups_in_schools','anti_satellite-test-ban','aid_to_nicaraguan_contras','mx_missile','immigration','synfuels_corporation_cutback','education_spending','superfund_right_to_sue','crime','duty_free_exports','export_administration_act_south_africa']
df = pd.read_csv(politics, names=column_headers )
df.head(1)

  democrat_republican  ... export_administration_act_south_africa
0          republican  ...                                      y

[1 rows x 17 columns]

In [0]:
df=df.replace(['y','n','?'],[0,1,.5])

In [0]:
dfr = df[df['democrat_republican']=='republican']
dfr.head(1)

  democrat_republican  ...  export_administration_act_south_africa
0          republican  ...                                     0.0

[1 rows x 17 columns]

In [0]:
dfd = df[df['democrat_republican']=='democrat']
dfd.head(1)

In [0]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.names

In [0]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.names

In [0]:
df.isnull().sum()

In [0]:
#republican = df[df['democrat_republican']=='republican']

In [0]:
#democrat=df[df['democrat_republican']=='democrat

In [0]:
#df[df['handicapped_infants']=='y']

In [0]:
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [0]:
ttest_ind

In [0]:
ttest_ind(dfr.immigration,dfd.immigration)

Ttest_indResult(statistic=-1.73501663568666, pvalue=0.08344939720307337)

it is random, and it is not significant

In [0]:
ttest_ind(dfr.crime,dfd.crime)

Ttest_indResult(statistic=-16.09453857734642, pvalue=5.09559045451787e-46)

In [0]:
ttest_ind(dfr.mx_missile,dfd.mx_missile)

Ttest_indResult(statistic=16.326540222505365, pvalue=4.863267267891218e-47)

In [0]:
ttest_ind(dfr.education_spending,dfd.education_spending)

Ttest_indResult(statistic=-19.74462398332553, pvalue=2.3836284905384893e-62)

In [0]:
import seaborn as sns

from matplotlib import style
import numpy as np