<a href="https://colab.research.google.com/github/albert-h-wong/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/LS_DS_141_Statistics_Probability_and_Inference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science Module 141
## Statistics, Probability, and Inference

## Prepare - examine what's available in SciPy

As we delve into statistics, we'll be using more libraries - in particular the [stats package from SciPy](https://docs.scipy.org/doc/scipy/reference/tutorial/stats.html).

In [0]:
from scipy import stats
dir(stats)

In [0]:
# As usual, lots of stuff here! There's our friend, the normal distribution
norm = stats.norm()
print(norm.mean())
print(norm.std())
print(norm.var())

In [0]:
# And a new friend - t
t1 = stats.t(5)  # 5 is df "shape" parameter
print(t1.mean())
print(t1.std())
print(t1.var())

![T distribution PDF with different shape parameters](https://upload.wikimedia.org/wikipedia/commons/4/41/Student_t_pdf.svg)

*(Picture from [Wikipedia](https://en.wikipedia.org/wiki/Student's_t-distribution#/media/File:Student_t_pdf.svg))*

The t-distribution is "normal-ish" - the larger the parameter (which reflects its degrees of freedom - more input data/features will increase it), the closer to true normal.

In [0]:
t2 = stats.t(30)  # Will be closer to normal
print(t2.mean())
print(t2.std())
print(t2.var())

Why is it different from normal? To better reflect the tendencies of small data and situations with unknown population standard deviation. In other words, the normal distribution is still the nice pure ideal in the limit (thanks to the central limit theorem), but the t-distribution is much more useful in many real-world situations.

History sidenote - this is "Student":

![William Sealy Gosset](https://upload.wikimedia.org/wikipedia/commons/4/42/William_Sealy_Gosset.jpg)

*(Picture from [Wikipedia](https://en.wikipedia.org/wiki/File:William_Sealy_Gosset.jpg))*

His real name is William Sealy Gosset, and he published under the pen name "Student" because he was not an academic. He was a brewer, working at Guinness and using trial and error to determine the best ways to yield barley. He's also proof that, even 100 years ago, you don't need official credentials to do real data science!

## Live Lecture - let's perform and interpret a t-test

We'll generate our own data, so we can know and alter the "ground truth" that the t-test should find. We will learn about p-values and how to interpret "statistical significance" based on the output of a hypothesis test.

In [0]:
# TODO - during class, but please help!

In [0]:
survey_data = [0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
 1, 0, 1, 0, 1, 1, 0, 0, 0]

import numpy as np
import pandas as pd

df = pd.DataFrame(survey_data)
df.describe()

In [0]:
df.plot.hist();

In [0]:
import scipy
scipy.stats.ttest_1samp(survey_data, 0.5)

In [0]:
len(survey_data)

In [0]:
sample_mean = 0.660000
sample_stderr = 0.478518 / np.sqrt(len(survey_data))
null_hypothesis_mean = 0.5

t_stat = (sample_mean - null_hypothesis_mean) / sample_stderr

print(t_stat)

In [0]:
(df.mean() - 0.5) / (df.std() / 50**(0.5))

In [0]:
import random

def make_soda_data(n=50):
#  return pd.DataFrame([random.randint(0,1) for _ in range(n)])
  return pd.DataFrame(np.random.binomial(n=1, p=0.6, size=n))

In [0]:
make_soda_data(n=500).describe()

In [0]:
t_statistics = []
n_experiments = 10000

for _ in range(n_experiments):
  df = make_soda_data()
  ttest = scipy.stats.ttest_1samp(df,0.5)
  t_statistics.append(ttest.statistic)
  
pd.DataFrame(t_statistics).describe()

In [0]:
np.random.binomial(100,0.7)

In [0]:
random.choice([0,1,1])

In [0]:
np.random.binomial(1,0.6)

## Assignment - apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
# import libraries

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
# Load in the data, relabel the columns and view the data

voting_data = "https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data"
colnames = {0 :"classname",
            1 : "handicapped-infants",
            2 : "water-project-cost-sharing",
            3 : "adoption-of-the-budget-resolution",
            4 : "physician-fee-freeze",
            5 : "el-salvador-aid",
            6 : "religious-groups-in-schools",
            7 : "anti-satellite-test-ban",
            8 : "aid-to-nicaraguan-contras",
            9 : "mx-missile",
            10 : "immigration",
            11 : "synfuels-corporation-cutback",
            12 :"education-spending",
            13 : "superfund-right-to-sue",
            14 : "crime",
            15 : "duty-free-exports",
            16 : "export-administration-act-south-africa"}

df = pd.read_csv(voting_data, header=None)
df.rename(colnames, axis='columns', inplace=True)
df.head(15)

,classname,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y
5,democrat,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y
6,democrat,n,y,n,y,y,y,n,n,n,n,n,n,?,y,y,y
7,republican,n,y,n,y,y,y,n,n,n,n,n,n,y,y,?,y
8,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
9,democrat,y,y,y,n,n,n,y,y,y,n,n,n,n,n,?,?
10,republican,n,y,n,y,y,n,n,n,n,n,?,?,y,y,n,n
11,republican,n,y,n,y,y,y,n,n,n,n,y,?,y,y,?,?
12,democrat,n,y,y,n,n,n,y,y,y,n,n,n,y,n,?,?
13,democrat,y,y,y,n,n,y,y,y,?,y,y,?,n,n,y,?
14,republican,n,y,n,y,y,y,n,n,n,n,n,y,?,?,n,?

In [4]:
df.shape

(435, 17)

In [5]:
df.dtypes

classname                                 object
handicapped-infants                       object
water-project-cost-sharing                object
adoption-of-the-budget-resolution         object
physician-fee-freeze                      object
el-salvador-aid                           object
religious-groups-in-schools               object
anti-satellite-test-ban                   object
aid-to-nicaraguan-contras                 object
mx-missile                                object
immigration                               object
synfuels-corporation-cutback              object
education-spending                        object
superfund-right-to-sue                    object
crime                                     object
duty-free-exports                         object
export-administration-act-south-africa    object
dtype: object

In [6]:
# The "?" do not show up as NaN values
df.isnull().sum()

classname                                 0
handicapped-infants                       0
water-project-cost-sharing                0
adoption-of-the-budget-resolution         0
physician-fee-freeze                      0
el-salvador-aid                           0
religious-groups-in-schools               0
anti-satellite-test-ban                   0
aid-to-nicaraguan-contras                 0
mx-missile                                0
immigration                               0
synfuels-corporation-cutback              0
education-spending                        0
superfund-right-to-sue                    0
crime                                     0
duty-free-exports                         0
export-administration-act-south-africa    0
dtype: int64

In [7]:
# Per the data information, the "?" are not missing values, they are either a
# vote to be not against or in support (abstaining) or choosing not to vote. I 
# believe there is value in the data and several questions have >5% of total 
# instances that I believe should not be simply dropped. I have decided to make
# the values neutral numerically to average out the votes in support and against

df.replace('y', 1, inplace=True)
df.replace('n', -1, inplace=True)
df.replace('?', 0, inplace=True)
df.head()

,classname,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,-1,1,-1,1,1,1,-1,-1,-1,1,0,1,1,1,-1,1
1,republican,-1,1,-1,1,1,1,-1,-1,-1,-1,-1,1,1,1,-1,0
2,democrat,0,1,1,0,1,1,-1,-1,-1,-1,1,-1,1,1,-1,-1
3,democrat,-1,1,1,-1,0,1,-1,-1,-1,-1,1,-1,1,-1,-1,1
4,democrat,1,1,1,-1,1,1,-1,-1,-1,-1,1,0,1,1,1,1

In [0]:
# A pivot table is useful in grouping the instances by the two parties
# The mean of each party for each question is good initial indication
# of the voting outcomes and differences including the impact of 
# the abstaining votes

pd.pivot_table(df,index=['classname'])
partytable = pd.pivot_table(df,index=['classname'])

In [0]:
# Increased the display in case of viewing longer pivot table or crosstabs

pd.set_option('display.height', 100)
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 100)

In [80]:
# Took a look at the overall sum of all votes by question with the mean vote
# by party. Shows the impact of having a larger number of democrats voting

pd.pivot_table(df,index=['classname'], margins=True)

,adoption-of-the-budget-resolution,aid-to-nicaraguan-contras,anti-satellite-test-ban,crime,duty-free-exports,education-spending,el-salvador-aid,export-administration-act-south-africa,handicapped-infants,immigration,mx-missile,physician-fee-freeze,religious-groups-in-schools,superfund-right-to-sue,synfuels-corporation-cutback,water-project-cost-sharing
classname,,,,,,,,,,,,,,,,
democrat,0.756554,0.647940,0.528090,-0.288390,0.258427,-0.662921,-0.543071,0.602996,0.202247,-0.056180,0.479401,-0.865169,-0.044944,-0.397004,0.011236,0.003745
republican,-0.714286,-0.648810,-0.500000,0.922619,-0.761905,0.684524,0.886905,0.273810,-0.613095,0.113095,-0.755952,0.958333,0.785714,0.678571,-0.696429,0.011905
All,0.188506,0.147126,0.131034,0.179310,-0.135632,-0.142529,0.009195,0.475862,-0.112644,0.009195,0.002299,-0.160920,0.275862,0.018391,-0.262069,0.006897

In [81]:
# Broke down the decriptive stats for each question grouped in the pivot table
# by party

pd.pivot_table(df,index=['classname']).describe()

,adoption-of-the-budget-resolution,aid-to-nicaraguan-contras,anti-satellite-test-ban,crime,duty-free-exports,education-spending,el-salvador-aid,export-administration-act-south-africa,handicapped-infants,immigration,mx-missile,physician-fee-freeze,religious-groups-in-schools,superfund-right-to-sue,synfuels-corporation-cutback,water-project-cost-sharing
count,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,0.021134,-0.000435,0.014045,0.317115,-0.251739,0.010801,0.171917,0.438403,-0.205424,0.028458,-0.138276,0.046582,0.370385,0.140784,-0.342596,0.007825
std,1.040041,0.916940,0.726969,0.856312,0.721483,0.952788,1.011146,0.232770,0.576534,0.119696,0.873527,1.289411,0.587364,0.760546,0.500394,0.005770
min,-0.714286,-0.648810,-0.500000,-0.288390,-0.761905,-0.662921,-0.543071,0.273810,-0.613095,-0.056180,-0.755952,-0.865169,-0.044944,-0.397004,-0.696429,0.003745
25%,-0.346576,-0.324622,-0.242978,0.014363,-0.506822,-0.326060,-0.185577,0.356106,-0.409260,-0.013861,-0.447114,-0.409293,0.162721,-0.128110,-0.519512,0.005785
50%,0.021134,-0.000435,0.014045,0.317115,-0.251739,0.010801,0.171917,0.438403,-0.205424,0.028458,-0.138276,0.046582,0.370385,0.140784,-0.342596,0.007825
75%,0.388844,0.323753,0.271067,0.619867,0.003344,0.347663,0.529411,0.520700,-0.001588,0.070776,0.170562,0.502458,0.578050,0.409678,-0.165680,0.009865
max,0.756554,0.647940,0.528090,0.922619,0.258427,0.684524,0.886905,0.602996,0.202247,0.113095,0.479401,0.958333,0.785714,0.678571,0.011236,0.011905

In [94]:
# Tested code for returning the isolated row of the pivot table 
partytable.iloc[[1]]

,adoption-of-the-budget-resolution,aid-to-nicaraguan-contras,anti-satellite-test-ban,crime,duty-free-exports,education-spending,el-salvador-aid,export-administration-act-south-africa,handicapped-infants,immigration,mx-missile,physician-fee-freeze,religious-groups-in-schools,superfund-right-to-sue,synfuels-corporation-cutback,water-project-cost-sharing
classname,,,,,,,,,,,,,,,,
republican,-0.714286,-0.64881,-0.5,0.922619,-0.761905,0.684524,0.886905,0.27381,-0.613095,0.113095,-0.755952,0.958333,0.785714,0.678571,-0.696429,0.011905

In [0]:
# Split the df into two separate df by party for the ttest
dem_df = df.loc[df['classname'] == 'democrat']
rep_df = df.loc[df['classname'] == 'republican']

In [106]:
# Returned the entire t stat and pvalue for each question with a two sample test
# but in non-readable format

import scipy
scipy.stats.ttest_ind(dem_df.iloc[:,range(1,17)],rep_df.iloc[:,range(1,17)])

Ttest_indResult(statistic=array([  9.22317772,  -0.0876456 ,  22.82169304, -46.10191007,
       -20.89561712,  -9.81587626,  12.4485563 ,  17.79184842,
        16.32654022,  -1.73501664,   8.2007117 , -19.74462398,
       -13.33312969, -16.09453858,  12.62478284,   4.67562058]), pvalue=array([1.27611694e-018, 9.30198877e-001, 2.87211531e-076, 3.96714113e-169,
       1.46596592e-067, 1.14299941e-020, 1.27362959e-030, 1.49480148e-053,
       4.86326727e-047, 8.34493972e-002, 2.74340372e-015, 2.38362849e-062,
       3.20480018e-034, 5.09559045e-046, 2.49276711e-031, 3.92129260e-006]))

In [108]:
# Separated the code to look at individual stats by feature

scipy.stats.ttest_ind(dem_df['crime'],rep_df['crime'])

Ttest_indResult(statistic=-16.09453857734642, pvalue=5.09559045451787e-46)

In [0]:
# Decided to aggregate all the stat values for individual features
from scipy.stats import ttest_ind

infants_t,infants_p = ttest_ind(dem_df['handicapped-infants'],rep_df['handicapped-infants'])
water_t,water_p = ttest_ind(dem_df['water-project-cost-sharing'],rep_df['water-project-cost-sharing'])
budget_t,budget_p = ttest_ind(dem_df['adoption-of-the-budget-resolution'],rep_df['adoption-of-the-budget-resolution'])
physician_t,physician_p = ttest_ind(dem_df['physician-fee-freeze'],rep_df['physician-fee-freeze'])
elsalvador_t,elsalvador_p = ttest_ind(dem_df['el-salvador-aid'],rep_df['el-salvador-aid'])
religious_t,religious_p = ttest_ind(dem_df['religious-groups-in-schools'],rep_df['religious-groups-in-schools'])
satellite_t,satellite_p = ttest_ind(dem_df['anti-satellite-test-ban'],rep_df['anti-satellite-test-ban'])
nicaraguan_t,nicaraguan_p = ttest_ind(dem_df['aid-to-nicaraguan-contras'],rep_df['aid-to-nicaraguan-contras'])
missile_t,missile_p = ttest_ind(dem_df['mx-missile'],rep_df['mx-missile'])
immigration_t,immigration_p = ttest_ind(dem_df['immigration'],rep_df['immigration'])
synfuels_t,synfuels_p = ttest_ind(dem_df['synfuels-corporation-cutback'],rep_df['synfuels-corporation-cutback'])
education_t,education_p = ttest_ind(dem_df['education-spending'],rep_df['education-spending'])
superfund_t,superfund_p = ttest_ind(dem_df['superfund-right-to-sue'],rep_df['superfund-right-to-sue'])
crime_t,crime_p = ttest_ind(dem_df['crime'],rep_df['crime'])
exports_t,exports_p = ttest_ind(dem_df['duty-free-exports'],rep_df['duty-free-exports'])
southafrica_t,southafrica_p = ttest_ind(dem_df['export-administration-act-south-africa'],rep_df['export-administration-act-south-africa'])

In [150]:
# Put together a print out of the necessary stat values for each feature

print("Handicapped Infants t-stat = ", infants_t)
print("Handicapped Infants p-value = ", infants_p)
print("Water Project Cost Sharing t-stat = ", water_t)
print("Water Prpject Cost Sharing p-value = ", water_p)
print("Adoption of Budget Resolution t-stat = ", budget_t)
print("Adoption of Budget Resolution p-value = ", budget_p) 
print("Physician Fee Freeze t-stat = ", physician_t)
print("Physician Fee Freeze p-value = ", physician_p) 
print("El Salvador Aid t-stat = ", elsalvador_t)
print("El Salvador Aid p-value = ", elsalvador_p) 
print("Religious Groups in School t-stat = ", religious_t)
print("Religious Groups in School p-value = ", religious_p)
print("Anti Satellite Ban t-stat = ", satellite_t)
print("Anti Satellite Ban p-value = ", satellite_p) 
print("Aid to Nicaraguan Contras t-stat = ", nicaraguan_t)
print("Aid to Nicaraguan Contras p-value = ", nicaraguan_p)
print("Mx Missile t-stat = ", missile_t)
print("Mx Missile p-value = ", missile_p) 
print("Immigration t-stat = ", immigration_t)
print("Immigration p-value = ", immigration_p)
print("Synfuels Corporation Cutback t-stat = ", synfuels_t)
print("Synfuels Corporation Cutback p-value = ", synfuels_p) 
print("Education t-stat = ", education_t)
print("Education p-value = ", education_p)   
print("Superfund Right to Sue t-stat = ", superfund_t)
print("Superfund Right to Sue p-value = ", superfund_p)
print("Crime t-stat = ", crime_t)
print("Crime p-value = ", crime_p) 
print("Duty Free Exports t-stat = ", exports_t)
print("Duty Free Exports p-value = ", exports_p) 
print("Export Admin Act of South Africa t-stat = ", southafrica_t)
print("Export Admin Act of South Africa p-value = ", southafrica_p)

Handicapped Infants t-stat =  9.22317772154614
Handicapped Infants p-value =  1.2761169357253626e-18
Water Project Cost Sharing t-stat =  -0.08764559884421932
Water Prpject Cost Sharing p-value =  0.9301988772663677
Adoption of Budget Resolution t-stat =  22.8216930438848
Adoption of Budget Resolution p-value =  2.8721153143958906e-76
Physician Fee Freeze t-stat =  -46.10191006844655
Physician Fee Freeze p-value =  3.967141133302638e-169
El Salvador Aid t-stat =  -20.895617123040896
El Salvador Aid p-value =  1.4659659186479053e-67
Religious Groups in School t-stat =  -9.815876256106359
Religious Groups in School p-value =  1.1429994055042643e-20
Anti Satellite Ban t-stat =  12.448556296273836
Anti Satellite Ban p-value =  1.2736295885307941e-30
Aid to Nicaraguan Contras t-stat =  17.791848422270405
Aid to Nicaraguan Contras p-value =  1.4948014750035628e-53
Mx Missile t-stat =  16.326540222505365
Mx Missile p-value =  4.863267267891218e-47
Immigration t-stat =  -1.735016635686661
Immigration p-value =  0.08344939720307322
Synfuels Corporation Cutback t-stat =  8.20071170109401
Synfuels Corporation Cutback p-value =  2.7434037173701792e-15
Education t-stat =  -19.744623983325525
Education p-value =  2.383628490538625e-62
Superfund Right to Sue t-stat =  -13.333129686427396
Superfund Right to Sue p-value =  3.2048001788796383e-34
Crime t-stat =  -16.09453857734642
Crime p-value =  5.09559045451787e-46
Duty Free Exports t-stat =  12.624782838804377
Duty Free Exports p-value =  2.492767114523553e-31
Export Admin Act of South Africa t-stat =  4.675620576040701
Export Admin Act of South Africa p-value =  3.921292603942199e-06

### An issue Democrats supported more than Republicans with a p < 0.01

There were many issues that the Democrats supported more than Republicans with a small p-value, but the most significant one was the adoption of the budget resolution.

### An issue Republicans supported more than Democrats with a p < 0.01

Similar to the other side, there were many issues that the Republicans supported more than Democrats with a small p-value, but the most significant one was in support of the Physician fee freezing.

### An issue with a p > 0.1 between the Democrats and Republicans

The only issue that had a p value greater 0.1 was on the cost sharing of the water project where there was very little difference in voting or essentially bi-partisan support.