<a href="https://colab.research.google.com/github/ldtownsend/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/LS_DS7_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-08-21 21:23:24--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.06s

2019-08-21 21:23:24 (279 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [3]:
# Load Data
df = pd.read_csv('house-votes-84.data', 
                 header=None,
                 names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])
print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [4]:
df = df.replace({'?':np.NaN, 'n':0, 'y':1})

df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [5]:
df.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

In [6]:
rep = df[df.party == "republican"]
print(rep.shape)
rep.head()

(168, 17)

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [7]:
dem = df[df.party == "democrat"]
print(dem.shape)
dem.head()

(267, 17)

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [0]:
from scipy.stats import ttest_1samp, ttest_ind

In [0]:
?ttest_1samp

In [10]:
ttest_ind(rep['handicapped-infants'], dem['handicapped-infants'], nan_policy='omit')

Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)

In [11]:
issues = list(df.columns.values)
print(issues)

['party', 'handicapped-infants', 'water-project', 'budget', 'physician-fee-freeze', 'el-salvador-aid', 'religious-groups', 'anti-satellite-ban', 'aid-to-contras', 'mx-missile', 'immigration', 'synfuels', 'education', 'right-to-sue', 'crime', 'duty-free', 'south-africa']

In [12]:
issues.remove('party')
issues

['handicapped-infants',
 'water-project',
 'budget',
 'physician-fee-freeze',
 'el-salvador-aid',
 'religious-groups',
 'anti-satellite-ban',
 'aid-to-contras',
 'mx-missile',
 'immigration',
 'synfuels',
 'education',
 'right-to-sue',
 'crime',
 'duty-free',
 'south-africa']

In [28]:
# Goal 2, this cell and next.

rep_results= []

for n in issues:
  x = ttest_1samp(rep[n], 0, nan_policy='omit',)
  rep_results.append(x)
  
rep_results_df = pd.DataFrame(rep_results, issues)
rep_results_df
# The table below shows a that we reject the null hypothesis of no support from Republicans for each bill
# This suggests that Republicans have at least some support for all bills

                       statistic         pvalue
handicapped-infants     6.159570   5.434588e-09
water-project          12.289320   2.525483e-24
budget                  5.025288   1.310752e-06
physician-fee-freeze  115.611418  4.438624e-159
el-salvador-aid        56.731825  1.057330e-109
religious-groups       38.028627   1.475107e-83
anti-satellite-ban      7.144843   2.954237e-11
aid-to-contras          5.305693   3.790392e-07
mx-missile              4.619791   7.731593e-06
immigration            14.376541   7.541249e-31
synfuels                4.903415   2.318861e-06
education              32.241278   2.295256e-70
right-to-sue           31.153579   4.178459e-69
crime                  91.796877  2.672177e-140
duty-free               3.909180   1.380978e-04
south-africa           16.685323   1.478311e-35

In [29]:
# Goal 3, this cell and next.

dem_results= []

for n in issues:
  x = ttest_1samp(dem[n], 0, nan_policy='omit',)
  dem_results.append(x)
  
dem_results_df = pd.DataFrame(dem_results, issues)
dem_results_df
# The table below shows a that we reject the null hypothesis of no support from Democrats for each bill
# This suggests that Democrats have at least some support for all bills

                      statistic         pvalue
handicapped-infants   19.825711   1.039199e-53
water-project         15.491933   6.633847e-38
budget                45.421019  2.300569e-125
physician-fee-freeze   3.839643   1.550891e-04
el-salvador-aid        8.357631   4.230829e-15
religious-groups      15.302142   5.132677e-38
anti-satellite-ban    29.573236   7.509185e-85
aid-to-contras        35.626457  1.947251e-102
mx-missile            27.819657   4.483745e-78
immigration           15.288120   3.754506e-38
synfuels              16.125992   9.159793e-41
education              6.474218   5.068052e-10
right-to-sue          10.117467   2.108067e-20
crime                 11.745811   9.087410e-26
duty-free             20.965697   5.251662e-57
south-africa          51.504045  3.077639e-111

In [14]:
results= []

for n in issues:
  x = ttest_ind(rep[n], dem[n], nan_policy='omit',)
  results.append(x)
  
results

[Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18),
 Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485),
 Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77),
 Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177),
 Ttest_indResult(statistic=21.13669261173219, pvalue=5.600520111729011e-68),
 Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20),
 Ttest_indResult(statistic=-12.526187929077842, pvalue=8.521033017443867e-31),
 Ttest_indResult(statistic=-18.052093200819733, pvalue=2.82471841372357e-54),
 Ttest_indResult(statistic=-16.437503268542994, pvalue=5.03079265310811e-47),
 Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066),
 Ttest_indResult(statistic=-8.293603989407588, pvalue=1.5759322301054064e-15),
 Ttest_indResult(statistic=20.500685724563073, pvalue=1.8834203990450192e-64),
 Ttest_indResult(statistic=13.51064251060933, pvalue=1.2278581709672758e-34),
 Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47),
 Ttest_indResult(statistic=-12.853146132542978, pvalue=5.997697174347365e-32),
 Ttest_indResult(statistic=-6.849454815841208, pvalue=3.652674361672226e-11)]

In [25]:
all_results = pd.DataFrame(results, issues)

'''
The water project bill seems to be the only bill 
Null hypothesis: Support among the two parties is equal
Alternative: Support among the two parties is different

Goals 2 & 3:
I'm not sure which direction to interpret the signs of the T-statistic

Goal 4:
Due to a p-value of .9291557, I fail to reject the null hypothesis for the Water Project bill.

I reject the null hypothesis for all other bills and suggest support is different (for a threshold of p > 0.1)

'''
all_results

                      statistic         pvalue
handicapped-infants   -9.205264   1.613440e-18
water-project          0.088965   9.291557e-01
budget               -23.212777   2.070340e-77
physician-fee-freeze  49.367082  1.994262e-177
el-salvador-aid       21.136693   5.600520e-68
religious-groups       9.737576   2.393672e-20
anti-satellite-ban   -12.526188   8.521033e-31
aid-to-contras       -18.052093   2.824718e-54
mx-missile           -16.437503   5.030793e-47
immigration            1.735912   8.330248e-02
synfuels              -8.293604   1.575932e-15
education             20.500686   1.883420e-64
right-to-sue          13.510643   1.227858e-34
crime                 16.342086   9.952343e-47
duty-free            -12.853146   5.997697e-32
south-africa          -6.849455   3.652674e-11

In [0]:
rep_totals = []
dem_totals = []

for n in issues:
  y = rep[n].sum()
  z = dem[n].sum()
  rep_totals.append(y)
  dem_totals.append(z)

rep_totals_df = pd.DataFrame(rep_totals, issues)
dem_totals_df = pd.DataFrame(dem_totals, issues)

In [17]:
print(rep_totals_df.shape)
print(dem_totals_df.shape)

(16, 1)
(16, 1)

In [0]:
rep_totals_df.columns = ['rep_total_votes']
dem_totals_df.columns = ['dem_total_votes']
rep_totals_df['new_col'] = range(0, len(rep_totals_df))
dem_totals_df['new_col'] = range(0, len(dem_totals_df))

In [19]:
dem_totals_df.head()

                      dem_total_votes  new_col
handicapped-infants             156.0        0
water-project                   120.0        1
budget                          231.0        2
physician-fee-freeze             14.0        3
el-salvador-aid                  55.0        4

In [20]:
all_results = pd.merge(rep_totals_df, dem_totals_df)
all_results.head()

   rep_total_votes  new_col  dem_total_votes
0             31.0        0            156.0
1             75.0        1            120.0
2             22.0        2            231.0
3            163.0        3             14.0
4            157.0        4             55.0

In [21]:
# Replicating the 1 Sample T-Test from lecture
# Null Hypothesis: There is 0 support for this bill among Republicans in the house
# Alternative: There is non-0 support (some support) for the this bill
ttest_1samp(rep['handicapped-infants'], 0, nan_policy='omit')

# Conclusion: due to a t-statistic of 6.16 and a p-value of .000000000543,
# we reject the null hypothesis that there is 0 support for the H-I bill
# among Republicans in congress, and suggest the alternative that there is *some*
# support for the bill among republicans

Ttest_1sampResult(statistic=6.159569669016066, pvalue=5.434587970316366e-09)

In [22]:
# Replicating the 2 Sample T-Test from lecture

'''
Null Hypothesis: Support among the two parties is equal 
Alternative: Support among the two parties is different

'''

ttest_ind(rep['handicapped-infants'], dem['handicapped-infants'], nan_policy='omit')

Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)

In [23]:
ttest_ind(dem['handicapped-infants'], rep['handicapped-infants'], nan_policy='omit')

Ttest_indResult(statistic=9.205264294809222, pvalue=1.613440327937243e-18)

In [0]:
# Note: When using a two sample T-test, it does not matter which sample you put first.