<a href="https://colab.research.google.com/github/brucebra000/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [98]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data')
df.head()

   republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0  republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1    democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2    democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3    democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4    democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y

In [99]:
df_clean = df.replace({'?':np.NaN, 'n':0, 'y':1})
df_clean.columns = ['Class', 'Handicapped_Infants', 'Water_Project_Cost_Sharing', 'Adoption_of_the_Budget_Resolution', 'Physician_Fee_Freeze',
                   'El_Salvador_Aid', 'Religious_Groups_in_Schools', 'Anti_Satellite_Test_Ban', 'Aid_to_Nicaraguan_Contras', 'Mx_Missile',
                   'Immigration', 'Synfuels_Corporation_Cutback', 'Education_Spending', 'Superfund_Right_to_Sue', 'Crime',
                   'Duty_Free_Exports', 'Export_Administration_Act_South_Africa']
df_clean.head()

        Class  ...  Export_Administration_Act_South_Africa
0  republican  ...                                     NaN
1    democrat  ...                                     0.0
2    democrat  ...                                     1.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [100]:
df_clean.isnull().sum()

Class                                       0
Handicapped_Infants                        12
Water_Project_Cost_Sharing                 48
Adoption_of_the_Budget_Resolution          11
Physician_Fee_Freeze                       11
El_Salvador_Aid                            15
Religious_Groups_in_Schools                11
Anti_Satellite_Test_Ban                    14
Aid_to_Nicaraguan_Contras                  15
Mx_Missile                                 22
Immigration                                 7
Synfuels_Corporation_Cutback               20
Education_Spending                         31
Superfund_Right_to_Sue                     25
Crime                                      17
Duty_Free_Exports                          28
Export_Administration_Act_South_Africa    104
dtype: int64

In [0]:
dfD = df_clean[df_clean['Class'] == 'democrat']
dfR = df_clean[df_clean['Class'] == 'republican']

In [102]:
#Crime
ttest_ind(dfD['Crime'] == 1.0, dfD['Crime'] == 0.0)

Ttest_indResult(statistic=-6.952211993959104, pvalue=1.0574353747194643e-11)

In [103]:
ttest_ind(dfR['Crime'] == 1.0, dfR['Crime'] == 0.0)

Ttest_indResult(statistic=43.69486826955864, pvalue=1.0079447599357177e-139)

In [104]:
#Immigration
ttest_ind(dfD['Immigration'] == 1.0, dfD['Immigration'] == 0.0)

Ttest_indResult(statistic=-1.2979894025507712, pvalue=0.194853432298349)

In [105]:
ttest_ind(dfR['Immigration'] == 1.0, dfR['Immigration'] == 0.0)

Ttest_indResult(statistic=1.9757566798144257, pvalue=0.04901004338084549)

In [106]:
#Mx_Missile
ttest_ind(dfD['Mx_Missile'] == 1.0, dfD['Mx_Missile'] == 0.0)

Ttest_indResult(statistic=12.641316179232545, pvalue=3.2471183624009074e-32)

In [107]:
ttest_ind(dfR['Mx_Missile'] == 1.0, dfR['Mx_Missile'] == 0.0)

Ttest_indResult(statistic=-20.95446579580919, pvalue=1.02767600123062e-62)