<a href="https://colab.research.google.com/github/cicbeast/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module2-sampling-confidence-intervals-and-hypothesis-testing/LS_DS_132_Sampling_Confidence_Intervals_and_Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science Module 142
## Sampling, Confidence Intervals, and Hypothesis Testing

In [1]:
import numpy as np

np.random.seed(42)

np.random.normal(size = 10)

array([ 0.49671415, -0.1382643 ,  0.64768854,  1.52302986, -0.23415337,
       -0.23413696,  1.57921282,  0.76743473, -0.46947439,  0.54256004])

## Prepare - examine other available hypothesis tests

If you had to pick a single hypothesis test in your toolbox, t-test would probably be the best choice - but the good news is you don't have to pick just one! Here's some of the others to be aware of:

In [2]:

from scipy.stats import chisquare  # One-way chi square test

# Chi square can take any crosstab/table and test the independence of rows/cols
# The null hypothesis is that the rows/cols are independent -> low chi square
# The alternative is that there is a dependence -> high chi square
# Be aware! Chi square does *not* tell you direction/causation

ind_obs = np.array([[1, 1], [2, 2]]).T
print(ind_obs)
print(chisquare(ind_obs, axis=None))

dep_obs = np.array([[16, 18, 16, 14, 12, 12], [32, 24, 16, 28, 20, 24]]).T
print(dep_obs)
print(chisquare(dep_obs, axis=None))

[[1 2]
 [1 2]]
Power_divergenceResult(statistic=0.6666666666666666, pvalue=0.8810148425137847)
[[16 32]
 [18 24]
 [16 16]
 [14 28]
 [12 20]
 [12 24]]
Power_divergenceResult(statistic=23.31034482758621, pvalue=0.015975692534127565)

In [3]:
# Distribution tests:
# We often assume that something is normal, but it can be important to *check*

# For example, later on with predictive modeling, a typical assumption is that
# residuals (prediction errors) are normal - checking is a good diagnostic

from scipy.stats import normaltest
# Poisson models arrival times and is related to the binomial (coinflip)
sample = np.random.poisson(5, 1000)
print(normaltest(sample))  # Pretty clearly not normal

NormaltestResult(statistic=22.774697660689363, pvalue=1.1338020541271413e-05)

In [4]:
# Kruskal-Wallis H-test - compare the median rank between 2+ groups
# Can be applied to ranking decisions/outcomes/recommendations
# The underlying math comes from chi-square distribution, and is best for n>5
from scipy.stats import kruskal

x1 = [1, 3, 5, 7, 9]
y1 = [2, 4, 6, 8, 10]
print(kruskal(x1, y1))  # x1 is a little better, but not "significantly" so

x2 = [1, 1, 1]
y2 = [2, 2, 2]
z = [2, 2]  # Hey, a third group, and of different size!
print(kruskal(x2, y2, z))  # x clearly dominates

KruskalResult(statistic=0.2727272727272734, pvalue=0.6015081344405895)
KruskalResult(statistic=7.0, pvalue=0.0301973834223185)

In [0]:
# https://en.wikipedia.org/wiki/Kolmogorov%E2%80%93Smirnov_test

And there's many more! `scipy.stats` is fairly comprehensive, though there are even more available if you delve into the extended world of statistics packages. As tests get increasingly obscure and specialized, the importance of knowing them by heart becomes small - but being able to look them up and figure them out when they *are* relevant is still important.

## Live Lecture - let's explore some more of scipy.stats

Candidate topics to explore:

- `scipy.stats.chi2` - the Chi-squared distribution, which we can use to reproduce the Chi-squared test
- Calculate the Chi-Squared test statistic "by hand" (with code), and feed it into `chi2`
- Build a confidence interval with `stats.t.ppf`, the t-distribution percentile point function (the inverse of the CDF) - we can write a function to return a tuple of `(mean, lower bound, upper bound)` that you can then use for the assignment (visualizing confidence intervals)

In [5]:
import pandas as pd

df = pd.read_csv('https://math.tntech.edu/e-stat/DASL/popularkids.txt', sep='\t')
df.head()

  Gender  Grade  Age   Race Urban.Rural  ...    Goals Grades  Sports  Looks  Money
0    boy      5   11  White       Rural  ...   Sports      1       2      4      3
1    boy      5   10  White       Rural  ...  Popular      2       1      4      3
2   girl      5   11  White       Rural  ...  Popular      4       3      1      2
3   girl      5   11  White       Rural  ...  Popular      2       3      4      1
4   girl      5   10  White       Rural  ...  Popular      4       2      1      3

[5 rows x 11 columns]

In [6]:
df.isnull().sum()

Gender         0
Grade          0
Age            0
Race           0
Urban.Rural    0
School         0
Goals          0
Grades         0
Sports         0
Looks          0
Money          0
dtype: int64

In [7]:
table_observed = pd.crosstab(df['Goals'], df['Grade'])
table_observed

Grade     4   5   6
Goals
Grades   63  88  96
Popular  31  55  55
Sports   25  33  32

In [8]:
table_observed_w_margins = pd.crosstab(df['Goals'], df['Grade'], margins=True)
table_observed_w_margins

Grade      4    5    6  All
Goals
Grades    63   88   96  247
Popular   31   55   55  141
Sports    25   33   32   90
All      119  176  183  478

In [9]:
table_observed_w_margins['All']

Goals
Grades     247
Popular    141
Sports      90
All        478
Name: All, dtype: int64

In [10]:
table_observed_w_margins.T['All']

Grade
4      119
5      176
6      183
All    478
Name: All, dtype: int64

In [12]:
np.outer(table_observed_w_margins['All'].values[:-1], table_observed_w_margins.T['All'].values[:-1])/table_observed_w_margins.T['All'].values[-1]

array([[61.4916318 , 90.94560669, 94.56276151],
       [35.10251046, 51.91631799, 53.98117155],
       [22.40585774, 33.13807531, 34.45606695]])

In [13]:
goals_totals = table_observed_w_margins['All'].values[:-1]
goals_totals

array([247, 141,  90])

In [15]:
grade_totals = table_observed_w_margins.T['All'].values[:-1]
grade_totals

array([119, 176, 183])

In [0]:
assert goals_totals.sum() == grade_totals.sum()

In [18]:
grade_totals.sum()

478

In [19]:
expected = np.outer(goals_totals, grade_totals)/grade_totals.sum()
expected

array([[61.4916318 , 90.94560669, 94.56276151],
       [35.10251046, 51.91631799, 53.98117155],
       [22.40585774, 33.13807531, 34.45606695]])

In [21]:
table_expected = pd.DataFrame(expected)
table_expected.columns = table_observed.columns
table_expected.index = table_observed.index
table_expected

Grade            4          5          6
Goals
Grades   61.491632  90.945607  94.562762
Popular  35.102510  51.916318  53.981172
Sports   22.405858  33.138075  34.456067

In [22]:
table_observed

Grade     4   5   6
Goals
Grades   63  88  96
Popular  31  55  55
Sports   25  33  32

In [23]:
deviation = table_observed - table_expected
deviation

Grade           4         5         6
Goals
Grades   1.508368 -2.945607  1.437238
Popular -4.102510  3.083682  1.018828
Sports   2.594142 -0.138075 -2.456067

In [25]:
deviation_sq = deviation**2
deviation_sq

Grade            4         5         6
Goals
Grades    2.275175  8.676599  2.065654
Popular  16.830592  9.509095  1.038011
Sports    6.729574  0.019065  6.032265

In [27]:
fraction = deviation_sq/table_expected
fraction

Grade           4         5         6
Goals
Grades   0.037000  0.095404  0.021844
Popular  0.479470  0.183162  0.019229
Sports   0.300349  0.000575  0.175071

In [28]:
# Now we sum them up
fraction.values.sum()

1.3121045153815976

In [29]:
table_observed

Grade     4   5   6
Goals
Grades   63  88  96
Popular  31  55  55
Sports   25  33  32

In [30]:
from scipy.stats import chi2_contingency

chi2, p, df, expect = chi2_contingency(table_observed)
print(f'chi2 stat: {chi2}')
print(f'p-value: {p}')
print(f'df: {df}')
print(f'expected freq: {expect}')

chi2 stat: 1.3121045153815976
p-value: 0.8593185000807877
df: 4
expected freq: [[61.4916318  90.94560669 94.56276151]
 [35.10251046 51.91631799 53.98117155]
 [22.40585774 33.13807531 34.45606695]]

# **Confidence Intervals**

In [39]:
import scipy.stats as stats
import numpy as np

# confidence_interval = [lower_bound, upper_bound]

coinflips = np.random.binomial(n=1, p=.501, size = 10000000)
print(coinflips[:20])

[0 0 0 0 1 0 0 0 1 0 1 0 0 1 1 0 0 0 0 0]

In [40]:
stats.ttest_1samp(coinflips, 0.5)

Ttest_1sampResult(statistic=7.428842806783211, pvalue=1.095604838416195e-13)

In [41]:
coinflips_100 = np.random.binomial(n=1, p=.5, size=100)
coinflips_1000 = np.random.binomial(n=1, p=.5, size=1000)

print("100 Coinflips Standard Deviation:", np.std(coinflips_100, ddof=1))
print("1000 Coinflips Standard Deviation:", np.std(coinflips_1000, ddof=1))

100 Coinflips Standard Deviation: 0.49604496374885826
1000 Coinflips Standard Deviation: 0.4999939939579214

In [0]:
def my_stdev(sample_data):
  mu = sample_data.mean()
  diff = sample_data - mu
  diff_sq = diff**2
  stdev = np.sqrt(diff_sq.sum()/(len(sample_data)-1))
  return stdev

In [44]:
delta_100 = my_stdev(coinflips_100)/np.sqrt(100)
delta_100

0.04960449637488583

In [48]:
delta_1000 = my_stdev(coinflips_1000)/np.sqrt(1000)
delta_1000

0.015811198373114985

In [46]:
coinflips_1000.mean() - delta_1000

0.468188801626885

In [47]:
coinflips_1000.mean() + delta_1000

0.499811198373115

In [49]:
coinflips_100.mean() - delta_100

0.5303955036251141

In [50]:
coinflips_100.mean() + delta_100

0.6296044963748858

## Assignment - Build a confidence interval

A confidence interval refers to a neighborhood around some point estimate, the size of which is determined by the desired p-value. For instance, we might say that 52% of Americans prefer tacos to burritos, with a 95% confidence interval of +/- 5%.

52% (0.52) is the point estimate, and +/- 5% (the interval $[0.47, 0.57]$) is the confidence interval. "95% confidence" means a p-value $\leq 1 - 0.95 = 0.05$.

In this case, the confidence interval includes $0.5$ - which is the natural null hypothesis (that half of Americans prefer tacos and half burritos, thus there is no clear favorite). So in this case, we could use the confidence interval to report that we've failed to reject the null hypothesis.

But providing the full analysis with a confidence interval, including a graphical representation of it, can be a helpful and powerful way to tell your story. Done well, it is also more intuitive to a layperson than simply saying "fail to reject the null hypothesis" - it shows that in fact the data does *not* give a single clear result (the point estimate) but a whole range of possibilities.

How is a confidence interval built, and how should it be interpreted? It does *not* mean that 95% of the data lies in that interval - instead, the frequentist interpretation is "if we were to repeat this experiment 100 times, we would expect the average result to lie in this interval ~95 times."

For a 95% confidence interval and a normal(-ish) distribution, you can simply remember that +/-2 standard deviations contains 95% of the probability mass, and so the 95% confidence interval based on a given sample is centered at the mean (point estimate) and has a range of +/- 2 (or technically 1.96) standard deviations.

Different distributions/assumptions (90% confidence, 99% confidence) will require different math, but the overall process and interpretation (with a frequentist approach) will be the same.

Your assignment - using the data from the prior module ([congressional voting records](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records)):

1. Generate and numerically represent a confidence interval
2. Graphically (with a plot) represent the confidence interval
3. Interpret the confidence interval - what does it tell you about the data and its distribution?

Stretch goals:

1. Write a summary of your findings, mixing prose and math/code/results. *Note* - yes, this is by definition a political topic. It is challenging but important to keep your writing voice *neutral* and stick to the facts of the data. Data science often involves considering controversial issues, so it's important to be sensitive about them (especially if you want to publish).
2. Apply the techniques you learned today to your project data or other data of your choice, and write/discuss your findings here.
3. Refactor your code so it is elegant, readable, and can be easily run for all issues.

In [0]:
# TODO - your code!

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)