<a href="https://colab.research.google.com/github/grommitt/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/sprint3-statistical_test_and_experiments/Greg_Shaughn_DS_Unit_1_Sprint_Challenge_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

####Load the data as a pandas data frame.

In [2]:
# TODO
import pandas as pd
import numpy as np

# header=None fixes the amount of observations issue.
# 690 observations
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', 
                 header=None)

#add column names for easy identification
df.columns=['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12',
            'A13','A14','A15','A16']

# replacing the question marks with np.NaN allows missing data to be recognized
# as na
df.replace('?', np.NaN, inplace=True)
print(df.shape)
df.head()

(690, 16)

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [0]:
df.isnull().sum()

####Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

In [0]:
df.dtypes

In [0]:
df['A2'] = df['A2'].astype(float)
df['A11'] = df['A11'].astype(float)
df['A14'] = df['A11'].astype(float)
df['A15'] = df['A11'].astype(float)
df.dtypes

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

#### Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (+ and -).

In [0]:
df['A1'].value_counts()

In [0]:
df['A16'].value_counts()
df['A16'].describe()

In [0]:
a1ct = pd.crosstab(df['A1'], df['A16'])
a1ct

In [0]:
a2ct = pd.crosstab(df['A2'], df['A16'])
a2ct
df['A2'].value_counts()
df['A2'].describe()

In [0]:
df['A3'].value_counts()
df['A3'].describe()

In [0]:
df['A15'].value_counts()
df['A15'].describe()

In [0]:
a15ct = pd.crosstab(df['A15'], df['A16'])
a15ct

In [0]:
a13ct = pd.crosstab(df['A13'], df['A16'])
a13ct

In [0]:
import seaborn as sns
g = sns.pairplot(df, kind='reg', plot_kws={'line_kws':{'color':'red'}, 'scatter_kws': {'alpha': 0.1}})

In [0]:
positive = df[df['A16'] == '+']
negative = df[df['A16'] == '-']
positive.head()
positive.describe()

In [0]:
negative.describe()

#### For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is extremely different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

In [0]:
from scipy import stats
import seaborn as sns

*H0:* The means for a certain class will be the same between classes. Class does not affect the mean of a category.

*Ha:* The means for a certain class will be different between classes. Class does affect the mean of a category.

In [0]:
a2_positive = positive['A2']
a3_positive = positive['A3']
a8_positive = positive['A8']
a11_positive = positive['A11']
a15_positive = positive['A15']
a2_negative = negative['A2']
a3_negative = negative['A3']
a8_negative = negative['A8']
a11_negative = negative['A11']
a15_negative = negative['A15']

In [0]:
a2_positive.describe()

In [0]:
a15_positive.describe()

In [0]:
# the first sample mean is higher than the second sample mean.
# the means are different at the 95% confidence level
stats.ttest_ind(a3_positive, a11_positive, nan_policy='omit')

In [0]:
# the mean of a3_positive is highest between these two
# the means are different at the 95% confidence level
stats.ttest_ind(a3_positive, a3_negative, nan_policy='omit')

In [0]:
a3_positive.describe()

In [0]:
a3_negative.describe()

In [0]:
# the mean of a3_positive is highest between these two
# the means are different at the 95% confidence level
stats.ttest_ind(a2_positive, a2_negative, nan_policy='omit')

In [0]:
a2_positive.describe()

In [0]:
a2_negative.describe()

In [0]:
positive.hist()

In [0]:
negative.hist()

In [0]:
a2_positive.plot()

In [0]:
a3_positive.plot()

In [0]:
a3_negative.plot()

In [0]:
a2_negative.plot()

#### For the categorical features, explore by creating "cross tabs" (aka contingency tables) between them and the class label, and apply the Chi-squared test to them. pandas.crosstab can create contingency tables, and scipy.stats.chi2_contingency can calculate the Chi-squared statistic for them.

*H0:* A15 and A16 are independent. They have similar patterns by chance.

*Ha:* A15 and A16 are not independent. They are directly related to each other.

In [0]:
df.corr()

In [0]:
a15ct = pd.crosstab(df['A15'], df['A16'])
a15_bin = pd.cut(df['A15'], 5)
a15ct = pd.crosstab(a15_bin, df['A16'])
a15ct

In [0]:
a15ct.plot()

In [0]:
chi_squared, p_value, dof, expected = stats.chi2_contingency(a15ct)

print(f"Chi-Squared: {chi_squared}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}") 
print("Expected: \n", np.array(expected))

In [0]:
# Calculate the p-value from the chi_squared and dof
p_value = stats.chi2.sf(chi_squared, dof)
print(f"P-value: {p_value}")

I reject the null hypothesis that A15 and A16 are indpendent.

In [0]:
a2ct = pd.crosstab(df['A2'], df['A16'] )
a2_bin = pd.cut(df['A2'], 5)
a2ct = pd.crosstab(a2_bin, df['A16'] )
a2ct

In [0]:
a2ct.plot()

In [0]:
# less extreme
chi_squared, p_value, dof, expected = stats.chi2_contingency(a2ct)

print(f"Chi-Squared: {chi_squared}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}") 
print("Expected: \n", np.array(expected))

In [0]:
# Calculate the p-value from the chi_squared and dof
p_value = stats.chi2.sf(chi_squared, dof)
print(f"P-value: {p_value}")

Reject the null hypothesis that A2 and A16 are independent, but they are less extreme than A15 and A16.

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

**- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?**

1.
Because of the t-statistic score ( about 5.53) and a p-value (about - 4.55), I reject the null hypothesis that the mean of A3 with a positive class  is equal to the mean of A3 with a negative class. I can be sure that the at the 95% confidence level that the mean for A3 with a positive class is higher than than the mean for A3 with a negative class because of the positive t-statistic.

2.
Because of the t-statistic score (about 4.29) and a p-value (about - 2.03), I reject the null hypothesis that the mean of A2 with a positive class  is equal to the mean of A2 with a negative class. I can be sure that the at the 95% confidence level that the mean for A2 with a positive class is higher than than the mean for A2 with a negative class because of the positive t-statistic. However, it is noticeably less different be A2 positive and A2 negative than it is between A3 positive and A3 negative.



**- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?**

1.
Here are the results for the Chi-square test between A15(category) and A16(class label):


*   Chi-Squared: 25.232020957107316
*   P-value: 1.3808333653917482e-05
*   Degrees of Freedom: 3


The negative p-value suggest there is only a 1.3808333653917482e-05 chance that a Chi-squared score of 25.232020957107316 or larger could be reached. I can reject the null hypothesis that  A15 and A16 are independent. Class clearly has an impact on categorical variables.

2.
Here are the results for the Chi-square test between A2(category) and A16(class label):

*   Chi-Squared: 20.262750124144546
*   P-value: 0.0004431477337025627
*   Degrees of Freedom: 4

The p-value suggest there is only a 0.0004431477337025627 chance that a Chi-squared score of  20.262750124144546 or larger could be reached. I can reject the null hypothesis that  A2 and A16 are independent. Class clearly has an impact on categorical variables.

***- What was the most challenging part of this sprint challenge? ***

I can say writing out these explainations is probably the most difficult part of the test. Steps are easy, but understanding is not a given, without effort. I believe I have a fundamental understanding of how chi-squared test, p-values, and t-tests tell a story about data, but I know I have a lot more to learn.

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*