<a href="https://colab.research.google.com/github/iesous-kurios/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module1-statistics-probability-and-inference/GJW_LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [198]:
pd.read_csv('/content/Index')

                     Index of voting-records
0                 02 Dec 1996      135 Index
1  30 Jun 1993     6868 house-votes-84.names
2   30 May 1989    18171 house-votes-84.data

In [0]:
df = pd.read_csv('/content/house-votes-84.data', header=None)

In [200]:
df.shape

(435, 17)

In [201]:
df.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [0]:
df = df.replace('?', np.NaN)
df = df.replace('n', 0)
df = df.replace('y', 1)
df = df.dropna()

In [203]:
df.head()

            0    1    2    3    4    5    6   ...   10   11   12   13   14   15   16
5     democrat  0.0  1.0  1.0  0.0  1.0  1.0  ...  0.0  0.0  0.0  1.0  1.0  1.0  1.0
8   republican  0.0  1.0  0.0  1.0  1.0  1.0  ...  0.0  0.0  1.0  1.0  1.0  0.0  1.0
19    democrat  1.0  1.0  1.0  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  0.0  1.0  1.0
23    democrat  1.0  1.0  1.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  1.0  1.0
25    democrat  1.0  0.0  1.0  0.0  0.0  0.0  ...  1.0  0.0  0.0  0.0  0.0  1.0  1.0

[5 rows x 17 columns]

Class Name: 2 (democrat, republican)
   2. handicapped-infants: 2 (y,n)
   3. water-project-cost-sharing: 2 (y,n)
   4. adoption-of-the-budget-resolution: 2 (y,n)
   5. physician-fee-freeze: 2 (y,n)
   6. el-salvador-aid: 2 (y,n)
   7. religious-groups-in-schools: 2 (y,n)
   8. anti-satellite-test-ban: 2 (y,n)
   9. aid-to-nicaraguan-contras: 2 (y,n)
  10. mx-missile: 2 (y,n)
  11. immigration: 2 (y,n)
  12. synfuels-corporation-cutback: 2 (y,n)
  13. education-spending: 2 (y,n)
  14. superfund-right-to-sue: 2 (y,n)
  15. crime: 2 (y,n)
  16. duty-free-exports: 2 (y,n)
  17. export-administration-act-south-africa: 2 (y,n)

In [0]:
df.rename(columns={0:'party', 1:'handicapped_infants', 2:'water_project_cost_sharing', 
           3:'adoption_of_the_budget_resolution', 4:'physician_fee_freeze', 
           5:'el_salvador_aid', 6:'religious_groups_in_schools', 7:'anti_satellite_test_ban',
           8:'aid_to_nicaraguan_contras', 9:'mx_missle', 10:'immigration',
           11:'synfuels_corporation_cutback', 12:'education_spending', 13:'superfund_right_to_sue',
           14:'crime', 15:'duty_free_exports', 16:'export_administration_act_south_africa'}, inplace=True)

In [205]:
df.head()

         party  ...  export_administration_act_south_africa
5     democrat  ...                                     1.0
8   republican  ...                                     1.0
19    democrat  ...                                     1.0
23    democrat  ...                                     1.0
25    democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
dem = ['democrat']
df_democrat = df[df['party'].isin(dem)]

repub = ['republican']
df_repub = df[df['party'].isin(repub)]

In [207]:
df_democrat.head()

       party  ...  export_administration_act_south_africa
5   democrat  ...                                     1.0
19  democrat  ...                                     1.0
23  democrat  ...                                     1.0
25  democrat  ...                                     1.0
26  democrat  ...                                     1.0

[5 rows x 17 columns]

In [221]:
df_repub.head()

         party  ...  export_administration_act_south_africa
8   republican  ...                                     1.0
28  republican  ...                                     1.0
30  republican  ...                                     0.0
33  republican  ...                                     1.0
35  republican  ...                                     0.0

[5 rows x 17 columns]

In [209]:
pd.crosstab(index=df['party'], columns=df['adoption_of_the_budget_resolution'])

adoption_of_the_budget_resolution  0.0  1.0
party
democrat                            18  106
republican                          91   17

## Null-Hypothesis: Republicans and Democrats are bi-partisan when considering the adoption of the budget resolution

## Hypothesis: Republicans are more likely to support the adoption of the budget resolution than Democrats

### In order to reject the null hypothesis, I will set a p-value of .02

In [0]:
partisan_vote = np.random.randint(1,3)

In [211]:
partisan_vote

1

In [0]:
N = 435
partisan_votes1 = [np.random.randint(1,3) for _ in range(N)]
partisan_votes2 = [np.random.randint(1,3) for _ in range(N)]

In [0]:
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [214]:
ttest_ind(df_repub['handicapped_infants'], df_democrat['handicapped_infants'])

Ttest_indResult(statistic=-6.240907554031057, pvalue=2.0722024876891192e-09)

In [220]:
df_repub.head()

         party  ...  export_administration_act_south_africa
8   republican  ...                                     1.0
28  republican  ...                                     1.0
30  republican  ...                                     0.0
33  republican  ...                                     1.0
35  republican  ...                                     0.0

[5 rows x 17 columns]

In [0]:
df_repub = df_repub.drop(columns=['party'])
df_dems = df_democrat.drop(columns=['party'])

In [255]:
#try this 
for col in df_repub.columns:
  print(col)

handicapped_infants
water_project_cost_sharing
adoption_of_the_budget_resolution
physician_fee_freeze
el_salvador_aid
religious_groups_in_schools
anti_satellite_test_ban
aid_to_nicaraguan_contras
mx_missle
immigration
synfuels_corporation_cutback
education_spending
superfund_right_to_sue
crime
duty_free_exports
export_administration_act_south_africa

In [0]:
def ttest(df):
  for col in df_repub.columns:
    print(ttest_ind(df_democrat[col],df_repub[col]))

In [277]:
ttest(df_democrat)

Ttest_indResult(statistic=6.240907554031057, pvalue=2.0722024876891192e-09)
Ttest_indResult(statistic=-0.3128208943045492, pvalue=0.7547001979801332)
Ttest_indResult(statistic=14.742943396634677, pvalue=4.458031105913572e-35)
Ttest_indResult(statistic=-41.94745401614099, pvalue=9.726393032601933e-110)
Ttest_indResult(statistic=-17.42676222846621, pvalue=6.337148100603545e-44)
Ttest_indResult(statistic=-7.51827419959023, pvalue=1.2327152712646607e-12)
Ttest_indResult(statistic=8.700290514400237, pvalue=6.437744771734974e-16)
Ttest_indResult(statistic=14.107516419917083, pvalue=5.607962900152492e-33)
Ttest_indResult(statistic=12.975290759761135, pvalue=2.967051309761917e-29)
Ttest_indResult(statistic=-0.6366340860076748, pvalue=0.5249963080040427)
Ttest_indResult(statistic=6.002047990918205, pvalue=7.520282442196167e-09)
Ttest_indResult(statistic=-15.863268313976928, pvalue=8.813480542491443e-39)
Ttest_indResult(statistic=-10.07761089413504, pvalue=5.101593219793468e-20)
Ttest_indResult(statistic=-13.34079793707258, pvalue=1.8791646941359472e-30)
Ttest_indResult(statistic=8.792682717575486, pvalue=3.483731546112177e-16)
Ttest_indResult(statistic=5.766892862845301, pvalue=2.586695370969073e-08)

In [0]:
def ttestcolumns(columns):
  ttest_ind(df_rupub[columns], df_democrats[columns])

In [0]:
df['partisan_votes1'] = partisan_votes1
df['partisan_votes2'] = partisan_votes2

In [0]:
df['partisan_votes1'].value_counts()

In [0]:
df['partisan_votes2'].value_counts()

p-value is much higher than the established limit, plus the distrubution of random 1's and 2's in two sample sets of equal size is sufficient evidence to 
reject the null hypothesis that republicans and democrats are bi-partisan when it comes to the adoption of a budget resolution