<a href="https://colab.research.google.com/github/iesous-kurios/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module1-statistics-probability-and-inference/GJW_LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
pd.read_csv('/content/Index')

                     Index of voting-records
0                 02 Dec 1996      135 Index
1  30 Jun 1993     6868 house-votes-84.names
2   30 May 1989    18171 house-votes-84.data

In [0]:
df = pd.read_csv('/content/house-votes-84.data', header=None)

In [19]:
df.shape

(435, 17)

In [12]:
df.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [0]:
df = df.replace('?', np.NaN)

In [16]:
df.head()

        party  ... export_administration_act_south_africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

Class Name: 2 (democrat, republican)
   2. handicapped-infants: 2 (y,n)
   3. water-project-cost-sharing: 2 (y,n)
   4. adoption-of-the-budget-resolution: 2 (y,n)
   5. physician-fee-freeze: 2 (y,n)
   6. el-salvador-aid: 2 (y,n)
   7. religious-groups-in-schools: 2 (y,n)
   8. anti-satellite-test-ban: 2 (y,n)
   9. aid-to-nicaraguan-contras: 2 (y,n)
  10. mx-missile: 2 (y,n)
  11. immigration: 2 (y,n)
  12. synfuels-corporation-cutback: 2 (y,n)
  13. education-spending: 2 (y,n)
  14. superfund-right-to-sue: 2 (y,n)
  15. crime: 2 (y,n)
  16. duty-free-exports: 2 (y,n)
  17. export-administration-act-south-africa: 2 (y,n)

In [0]:
df.rename(columns={0:'party', 1:'handicapped_infants', 2:'water_project_cost_sharing', 
           3:'adoption_of_the_budget_resolution', 4:'physician_fee_freeze', 
           5:'el_salvador_aid', 6:'religious_groups_in_schools', 7:'anti_satellite_test_ban',
           8:'aid_to_nicaraguan_contras', 9:'mx_missle', 10:'immigration',
           11:'synfuels_corporation_cutback', 12:'education_spending', 13:'superfund_right_to_sue',
           14:'crime', 15:'duty_free_exports', 16:'export_administration_act_south_africa'}, inplace=True)

In [17]:
df.head()

        party  ... export_administration_act_south_africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [18]:
pd.crosstab(index=df['party'], columns=df['adoption_of_the_budget_resolution'])

adoption_of_the_budget_resolution    n    y
party
democrat                            29  231
republican                         142   22

## Hypothesis: Republicans and Democrats are bi-partisan when considering the adoption of the budget resolution

## Null Hypothesis: Republicans are more likely to support the adoption of the budget resolution than Democrats

### In order to reject the null hypothesis, I will set a p-value of .02

In [0]:
partisan_vote = np.random.randint(1,3)

In [64]:
partisan_vote

1

In [0]:
N = 435
partisan_votes1 = [np.random.randint(1,3) for _ in range(N)]
partisan_votes2 = [np.random.randint(1,3) for _ in range(N)]

In [0]:
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [100]:
ttest_ind(partisan_votes1, partisan_votes2)

Ttest_indResult(statistic=-0.6776078265817191, pvalue=0.4982009513094867)

In [0]:
df['partisan_votes1'] = partisan_votes1
df['partisan_votes2'] = partisan_votes2

In [107]:
df['partisan_votes1'].value_counts()

1    227
2    208
Name: partisan_votes1, dtype: int64

In [108]:
df['partisan_votes2'].value_counts()

2    218
1    217
Name: partisan_votes2, dtype: int64

p-value is much higher than the established limit, plus the distrubution of random 1's and 2's in two sample sets of equal size is sufficient evidence to 
reject the null hypothesis that republicans and democrats are bi-partisan when it comes to the adoption of a budget resolution