<a href="https://colab.research.google.com/github/maximematerno/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module1-statistics-probability-and-inference/LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
import numpy as np
# import seaborn as sns
# from matplotlib import style
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel
from scipy import stats

In [37]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', 
                 header=None,
                 names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])
print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [38]:
df= df.replace({'?':np.NaN, 'n':0, 'y':1})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [39]:
df.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

In [40]:
rep = df[df.party == 'republican']
print(rep.shape)
rep.head()

(168, 17)

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [41]:
dem = df[df.party=='democrat']
print(dem.shape)
dem.head()

(267, 17)

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [42]:
df.party.value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [43]:
# Null Hypothesis: There is 0 support for the Budget by the democrat
# Alternative: There is some support for the budget by the democrat



ttest_1samp(dem['budget'], .5, nan_policy='omit')


# Conclusion: Due to a t-statistic of 45.42 and a p-value of 2.3005685556379574e-125, 
# we reject the null hypothesis that there is 0 support for the Budget by the democrat
# there is somesupport for the Budget by the democrat

Ttest_1sampResult(statistic=19.859406568628835, pvalue=5.75931504660857e-54)

In [46]:
rep['budget'].mean()

0.13414634146341464

In [47]:
dem['budget'].mean()

0.8884615384615384

In [51]:
# Null Hypothesis: There is more support for the Budget by the republican	
# Alternative: There is more support for the budget by the democrat


stats.ttest_ind(dem['budget'],rep['budget'], nan_policy='omit')


# Conclusion: Due to a t-statistic of 23.21 and a p-value of 2.0703402795404463e-77, 
# we reject the null hypothesis that there is more support for the Budget by the republican
# There is more support for the budget by the democrat

Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)

In [54]:
dem['education'].mean()

0.14457831325301204

In [55]:
rep['education'].mean()

0.8709677419354839

In [56]:
# Null Hypothesis: There is more support for the education by the democrat	
# Alternative: There is more support for the education by the republican


stats.ttest_ind(dem['education'],rep['education'], nan_policy='omit')


# Conclusion: Due to a t-statistic of 20.50 and a p-value of 1.8834203990450192e-64, 
# we reject the null hypothesis that there is more support for the education by the democrat	
# There is more support for the education by the republican

Ttest_indResult(statistic=-20.500685724563073, pvalue=1.8834203990450192e-64)

In [65]:
# Null Hypothesis: The support is equal for the two parties.
# Alternative: The support is equal for the two parties. 


ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')


# Conclusion: Due to a t-statistic of .08896 and a p-value of 0.9291556823993485, 
# we don't reject the null hypothesis, there is equal support for the water-project by the democrat and the republican

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [60]:
rep.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [61]:
dem.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]