<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
df = pd.read_csv('house-votes-84.data', names=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17))
print(df.shape)
df.head()

(435, 17)

           1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16 17
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [26]:
df = df.rename(columns={
1: 'Class Name',
2: 'handicapped-infants',
3: 'water-project-cost-sharing',
4: 'adoption-of-the-budget-resolution',
5: 'physician-fee-freeze',
6: 'el-salvador-aid',
7: 'religious-groups-in-schools',
8: 'anti-satellite-test-ban',
9: 'aid-to-nicaraguan-contras',
10: 'mx-missile',
11: 'immigration',
12: 'synfuels-corporation-cutback',
13: 'education-spending',
14: 'superfund-right-to-sue',
15: 'crime',
16: 'duty-free-exports',
17: 'export-administration-act-south-africa'
})
df.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [27]:
df.dtypes

Class Name                                object
handicapped-infants                       object
water-project-cost-sharing                object
adoption-of-the-budget-resolution         object
physician-fee-freeze                      object
el-salvador-aid                           object
religious-groups-in-schools               object
anti-satellite-test-ban                   object
aid-to-nicaraguan-contras                 object
mx-missile                                object
immigration                               object
synfuels-corporation-cutback              object
education-spending                        object
superfund-right-to-sue                    object
crime                                     object
duty-free-exports                         object
export-administration-act-south-africa    object
dtype: object

In [28]:
df = df.replace('n', 0)
df = df.replace('y', 1)
df = df.replace('?', 2)
df = df.replace('republican', 0)
df = df.replace('democrat', 1)
df = df.astype('int32')
df['Class Name'] = df['Class Name'].replace(0, 'republican')
df['Class Name'] = df['Class Name'].replace(1, 'democrat')
df.head()

   Class Name  ...  export-administration-act-south-africa
0  republican  ...                                       1
1  republican  ...                                       2
2    democrat  ...                                       0
3    democrat  ...                                       1
4    democrat  ...                                       1

[5 rows x 17 columns]

In [37]:
print('handicapped-infants', (df['handicapped-infants'].value_counts()))
print('water-project-cost-sharing', (df['water-project-cost-sharing'].value_counts()))
print('adoption-of-the-budget-resolution', (df['adoption-of-the-budget-resolution'].value_counts()))
print('physician-fee-freeze', (df['physician-fee-freeze'].value_counts()))
print('el-salvador-aid', (df['el-salvador-aid'].value_counts()))
print('religious-groups-in-schools', (df['religious-groups-in-schools'].value_counts()))
print('anti-satellite-test-ban', (df['anti-satellite-test-ban'].value_counts()))
print('aid-to-nicaraguan-contras', (df['aid-to-nicaraguan-contras'].value_counts()))
print('mx-missile', (df['mx-missile'].value_counts()))
print('immigration', (df['immigration'].value_counts()))
print('synfuels-corporation-cutback', (df['synfuels-corporation-cutback'].value_counts()))
print('education-spending', (df['education-spending'].value_counts()))
print('superfund-right-to-sue', (df['superfund-right-to-sue'].value_counts()))
print('crime', (df['crime'].value_counts()))
print('duty-free-exports', (df['duty-free-exports'].value_counts()))
print('export-administration-act-south-africa', (df['export-administration-act-south-africa'].value_counts()))

handicapped-infants 0    236
1    187
2     12
Name: handicapped-infants, dtype: int64
water-project-cost-sharing 1    195
0    192
2     48
Name: water-project-cost-sharing, dtype: int64
adoption-of-the-budget-resolution 1    253
0    171
2     11
Name: adoption-of-the-budget-resolution, dtype: int64
physician-fee-freeze 0    247
1    177
2     11
Name: physician-fee-freeze, dtype: int64
el-salvador-aid 1    212
0    208
2     15
Name: el-salvador-aid, dtype: int64
religious-groups-in-schools 1    272
0    152
2     11
Name: religious-groups-in-schools, dtype: int64
anti-satellite-test-ban 1    239
0    182
2     14
Name: anti-satellite-test-ban, dtype: int64
aid-to-nicaraguan-contras 1    242
0    178
2     15
Name: aid-to-nicaraguan-contras, dtype: int64
mx-missile 1    207
0    206
2     22
Name: mx-missile, dtype: int64
immigration 1    216
0    212
2      7
Name: immigration, dtype: int64
synfuels-corporation-cutback 0    264
1    150
2     21
Name: synfuels-corporation-cutback, dtype: int64
education-spending 0    233
1    171
2     31
Name: education-spending, dtype: int64
superfund-right-to-sue 1    209
0    201
2     25
Name: superfund-right-to-sue, dtype: int64
crime 1    248
0    170
2     17
Name: crime, dtype: int64
duty-free-exports 0    233
1    174
2     28
Name: duty-free-exports, dtype: int64
export-administration-act-south-africa 1    269
2    104
0     62
Name: export-administration-act-south-africa, dtype: int64