<a href="https://colab.research.google.com/github/mikvikpik/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module1-statistics-probability-and-inference/LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd

In [7]:
# nan_policy='omit' is to omit nan values for stats.ttest_ind()

# load data, no head, dataframe not indexed
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data',
                 header=None, index_col=None, 
                 names=['party', 'h_infants', 'water', 'budget', 'physician_fee',
                        'el_slavador', 'religious', 'anti_sat', 'nicaragua', 
                        'missle', 'immigration', 'synfuels', 'education', 
                        'superfund', 'crime', 'duty_free', 'south_africa'],
                 )
                                                   
df.head()

        party h_infants water budget  ... superfund crime duty_free south_africa
0  republican         n     y      n  ...         y     y         n            y
1  republican         n     y      n  ...         y     y         n            ?
2    democrat         ?     y      y  ...         y     y         n            n
3    democrat         n     y      y  ...         y     n         n            y
4    democrat         y     y      y  ...         y     y         y            y

[5 rows x 17 columns]

In [8]:
# replace values to use numerically
df = df.replace(to_replace='n', value=0)
df = df.replace(to_replace='y', value=1)
df = df.replace(to_replace='?', value='NaN')
df.head()

        party h_infants water budget  ... superfund crime duty_free south_africa
0  republican         0     1      0  ...         1     1         0            1
1  republican         0     1      0  ...         1     1         0          NaN
2    democrat       NaN     1      1  ...         1     1         0            0
3    democrat         0     1      1  ...         1     0         0            1
4    democrat         1     1      1  ...         1     1         1            1

[5 rows x 17 columns]

In [9]:
# building republican sample rep
rep = df[df['party'] == 'republican']
# building democrat sample dem
dem = df[df['party'] != 'republican']
dem.head()

      party h_infants water budget  ... superfund crime duty_free south_africa
2  democrat       NaN     1      1  ...         1     1         0            0
3  democrat         0     1      1  ...         1     0         0            1
4  democrat         1     1      1  ...         1     1         1            1
5  democrat         0     1      1  ...         1     1         1            1
6  democrat         0     1      0  ...       NaN     1         1            1

[5 rows x 17 columns]

In [0]:
def ttesterfiftyfifty(dataframe):
    from scipy.stats import ttest_1samp
    columns = dataframe.columns.array
    for column in columns:
        ttest_1samp(dataframe[str(column)], .5, nan_policy='omit')
    return

In [61]:
ttesterfiftyfifty(dem)

TypeError: ignored

In [46]:
demlist = dem.columns.array

demlist

<PandasArray>
[        'party',     'h_infants',         'water',        'budget',
 'physician_fee',   'el_slavador',     'religious',      'anti_sat',
     'nicaragua',        'missle',   'immigration',      'synfuels',
     'education',     'superfund',         'crime',     'duty_free',
  'south_africa']
Length: 17, dtype: object