<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import style
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [118]:
df = pd.read_csv('house-votes-84.data',header=None, na_values='?')
df.head()

           0    1  2  3    4    5  6  7  8  9  10   11   12 13 14 15   16
0  republican    n  y  n    y    y  y  n  n  n  y  NaN    y  y  y  n    y
1  republican    n  y  n    y    y  y  n  n  n  n    n    y  y  y  n  NaN
2    democrat  NaN  y  y  NaN    y  y  n  n  n  n    y    n  y  y  n    n
3    democrat    n  y  y    n  NaN  y  n  n  n  n    y    n  y  n  n    y
4    democrat    y  y  y    n    y  y  n  n  n  n    y  NaN  y  y  y    y

In [119]:
df.shape

(435, 17)

In [120]:
df = df[df != '?']

In [121]:
df.isna().sum()

0       0
1      12
2      48
3      11
4      11
5      15
6      11
7      14
8      15
9      22
10      7
11     21
12     31
13     25
14     17
15     28
16    104
dtype: int64

In [122]:
df.dropna(inplace=True)

In [123]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
dtype: int64

In [124]:
df.head()

            0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
5     democrat  n  y  y  n  y  y  n  n  n  n  n  n  y  y  y  y
8   republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  y
19    democrat  y  y  y  n  n  n  y  y  y  n  y  n  n  n  y  y
23    democrat  y  y  y  n  n  n  y  y  y  n  n  n  n  n  y  y
25    democrat  y  n  y  n  n  n  y  y  y  y  n  n  n  n  y  y

In [127]:
df.shape

(232, 17)

In [125]:
df.columns.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [126]:
df = df.rename(columns={
    0: 'Party',
    1: 'handicapped-infants',
    2: 'water-project-cost-sharing',
    3: 'adoption-of-the-budget-resolution',
    4: 'physician-fee-freeze',
    5: 'el-salvador-aid',
    6: 'religious-groups-in-schools',
    7: 'anti-satellite-test-ban',
    8: 'aid-to-nicaraguan-contras',
    9: 'mx-missile',
    10: 'immigration',
    11: 'synfuels-corporation-cutback',
    12: 'education-spending',
    13: 'superfund-right-to-sue',
    14: 'crime',
    15: 'duty-free-exports',
    16: 'export-administration-act-south-africa',
})
df.head()

,Party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
5,democrat,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y
8,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
19,democrat,y,y,y,n,n,n,y,y,y,n,y,n,n,n,y,y
23,democrat,y,y,y,n,n,n,y,y,y,n,n,n,n,n,y,y
25,democrat,y,n,y,n,n,n,y,y,y,y,n,n,n,n,y,y

In [131]:
df = df.replace(['y','n'], [1,0])
df.head()

,Party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
5,democrat,0,1,1,0,1,1,0,0,0,0,0,0,1,1,1,1
8,republican,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,1
19,democrat,1,1,1,0,0,0,1,1,1,0,1,0,0,0,1,1
23,democrat,1,1,1,0,0,0,1,1,1,0,0,0,0,0,1,1
25,democrat,1,0,1,0,0,0,1,1,1,1,0,0,0,0,1,1

In [138]:
democrats = df[df['Party']=='democrat']
republicans = df[df['Party']=='republican']

In [167]:
republicans['handicapped-infants'].describe()

count    108.000000
mean       0.212963
std        0.411310
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: handicapped-infants, dtype: float64

In [187]:
stat, pvalue = ttest_ind(democrats['handicapped-infants'], republicans['handicapped-infants'])
print('{}, {}'.format(stat, pvalue))
#2.0722024876891192e-09

6.240907554031057, 2.0722024876891192e-09

In [208]:
def ttest(title, sample1, sample2, alpha):
    stat, pvalue = ttest_ind(sample1, sample2)
    title = title.replace('-',' ').title()
    result = {'title':title,'stat':stat, 'pvalue':pvalue,'alpha':alpha}
    return result

columns = df.columns.tolist()
columns = columns[1:]

for col in columns: 
    result = ttest(col,democrats[col],republicans[col],0.01)
    if result['pvalue'] < result['alpha']: 
        if republicans[col].mean() > democrats[col].mean():
            print('The Republicans support the {} issue more than the Democrats'.format(result['title']))
        else: 
            print('The Democrats support the {} issue more than the Republican'.format(result['title']))
    else: 
        print('The difference between parties on the {} issue is not statistically significant.'.format(result['title']))

The Democrats support the Handicapped Infants issue more than the Republican
The difference between parties on the Water Project Cost Sharing issue is not statistically significant.
The Democrats support the Adoption Of The Budget Resolution issue more than the Republican
The Republicans support the Physician Fee Freeze issue more than the Democrats
The Republicans support the El Salvador Aid issue more than the Democrats
The Republicans support the Religious Groups In Schools issue more than the Democrats
The Democrats support the Anti Satellite Test Ban issue more than the Republican
The Democrats support the Aid To Nicaraguan Contras issue more than the Republican
The Democrats support the Mx Missile issue more than the Republican
The difference between parties on the Immigration issue is not statistically significant.
The Democrats support the Synfuels Corporation Cutback issue more than the Republican
The Republicans support the Education Spending issue more than the Democrats
The Republicans support the Superfund Right To Sue issue more than the Democrats
The Republicans support the Crime issue more than the Democrats
The Democrats support the Duty Free Exports issue more than the Republican
The Democrats support the Export Administration Act South Africa issue more than the Republican