<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

## Importing data and changing column names

In [1]:
# importing and loadin in data along with renamning the missing values
import pandas as pd

df = pd.read_csv("house-votes-84.data", header=None, na_values ="?")
print(df.shape)
df.head()

(435, 17)

           0    1  2  3    4    5  6  7  8  9  10   11   12 13 14 15   16
0  republican    n  y  n    y    y  y  n  n  n  y  NaN    y  y  y  n    y
1  republican    n  y  n    y    y  y  n  n  n  n    n    y  y  y  n  NaN
2    democrat  NaN  y  y  NaN    y  y  n  n  n  n    y    n  y  y  n    n
3    democrat    n  y  y    n  NaN  y  n  n  n  n    y    n  y  n  n    y
4    democrat    y  y  y    n    y  y  n  n  n  n    y  NaN  y  y  y    y

In [2]:
# renaming column names
df = df.rename(columns={0: "party", 
                        1: "handicapped_infants", 
                        2: "water_project_cost_sharing",
                        3: "adoption_of_the_budget_resolution",
                        4: "physician_fee_freeze",
                        5: "el_salvador_aid",
                        6: "religious_groups_in_schools",
                        7: "anti_satellite_test_ban",
                        8: "aid_to_nicaraguan_contras",
                        9: "mx_missile",
                        10: "immigration",
                        11: "synfuels_corporation_cutback",
                        12: "education_spending",
                        13: "superfund_right_to_sue",
                        14: "crime",
                        15: "duty_free_exports",
                        16: "export_administration_act_south_africa"})
df.head()

        party  ... export_administration_act_south_africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

## Looking at missing values and filling them in

In [48]:
# Finding total missing values
df.isna().sum()

party                                       0
handicapped_infants                         3
water_project_cost_sharing                 48
adoption_of_the_budget_resolution          11
physician_fee_freeze                       11
el_salvador_aid                            15
religious_groups_in_schools                11
anti_satellite_test_ban                    14
aid_to_nicaraguan_contras                  15
mx_missile                                 22
immigration                                 7
synfuels_corporation_cutback               21
education_spending                         31
superfund_right_to_sue                     25
crime                                      17
duty_free_exports                          28
export_administration_act_south_africa    104
dtype: int64

In [0]:
# Splitting the data frames into republican and democrat
red = df[df["party"] == 'republican']
blue = df[df["party"] == 'democrat']

In [0]:
# Making a fuction that fills the nan values with the mode
def fill_values(x):
    for col in x.columns:
      x[col].fillna(x[col].mode()[0], inplace=True)
    return x

In [0]:
# Filling in the nan values for republicans
republican = fill_values(red)

In [0]:
# Filling in the nan values for democrats

democrat = fill_values(blue)

In [91]:
# concatenating the republicans and democrats back into one dataframe 
df = pd.concat([republican,democrat])
df.head()

         party  ... export_administration_act_south_africa
0   republican  ...                                      y
1   republican  ...                                      y
7   republican  ...                                      y
8   republican  ...                                      y
10  republican  ...                                      n

[5 rows x 17 columns]

In [97]:
# Looking to see if there are any missing values now
df.isna().sum()

party                                     0
handicapped_infants                       0
water_project_cost_sharing                0
adoption_of_the_budget_resolution         0
physician_fee_freeze                      0
el_salvador_aid                           0
religious_groups_in_schools               0
anti_satellite_test_ban                   0
aid_to_nicaraguan_contras                 0
mx_missile                                0
immigration                               0
synfuels_corporation_cutback              0
education_spending                        0
superfund_right_to_sue                    0
crime                                     0
duty_free_exports                         0
export_administration_act_south_africa    0
dtype: int64

## Finding an issue that democrats support more than republicans with p < 0.01

In [96]:
# Replacing all yes and no with numerical values
df = df.replace('y',1).replace('n',0)
df.head()

         party  ...  export_administration_act_south_africa
0   republican  ...                                       1
1   republican  ...                                       1
7   republican  ...                                       1
8   republican  ...                                       1
10  republican  ...                                       0

[5 rows x 17 columns]

In [95]:
# Gathering descriptive stats for each column
df.describe()

       handicapped_infants  ...  export_administration_act_south_africa
count           435.000000  ...                              435.000000
mean              0.450575  ...                                0.857471
std               0.498124  ...                                0.349994
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               0.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]