<a href="https://colab.research.google.com/github/jordantcarlisle/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module1-statistics-probability-and-inference/LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [0]:
votedata = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

In [0]:
vote_record = pd.read_csv(votedata, header=None)
vote_record.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [0]:
columns = ['Class Name', 'handicapped-infants', 
           'water-project-cost-sharing',
           'adoption-of-the-budget-resolution',
           'physician-fee-freeze',
           'el-salvador-aid',
           'religious-groups-in-schools',
           'anti-satellite-test-ban', 
           'aid-to-nicaraguan-contras',
           'mx-missile',
           'immigration',
           'synfuels-corporation-cutback',
           'education-spending',
           'superfund-right-to-sue',
           'crime',
           'duty-free-exports',
           'export-administration-act-south-africa']
vote_record.columns = columns

In [0]:
vote_record.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
#use to_replace to replace "?" string with a NaN value using np.NaN
vote_record = vote_record.replace(to_replace = '?', value = np.NaN)
vote_record.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
#replace 'y' and 'n' to 1 and 0 so that it has the oppropriate type in order to pass arguments into t-test 
vote_record = vote_record.replace(('y','n'), (1, 0))

In [0]:
#checking shape to confirm that the dataset still has the right number of observations and variables
vote_record.shape

(435, 17)

In [0]:
#use value_counts() method to see the number of missing values between democrats and republicans
vote_record['Class Name'].value_counts()

democrat      267
republican    168
Name: Class Name, dtype: int64

In [0]:
#sum of null values for each observation to determine which issues have the most missing data points
vote_record.isnull().sum()

Class Name                                  0
handicapped-infants                        12
water-project-cost-sharing                 48
adoption-of-the-budget-resolution          11
physician-fee-freeze                       11
el-salvador-aid                            15
religious-groups-in-schools                11
anti-satellite-test-ban                    14
aid-to-nicaraguan-contras                  15
mx-missile                                 22
immigration                                 7
synfuels-corporation-cutback               21
education-spending                         31
superfund-right-to-sue                     25
crime                                      17
duty-free-exports                          28
export-administration-act-south-africa    104
dtype: int64



###Null Hypothesis
The 'yes' votes on 'immigration' will be the same between Democrats and Republicans.

###Alternate Hypothesis 
The votes on 'immigration' will be different on average for Democrats and Republicans.

#####Note
*Testing immigration because it has the least amount of missing values*

In [0]:
# 1 = yes, 0 = no 
vote_record['immigration'].value_counts()

1.0    216
0.0    212
Name: immigration, dtype: int64

In [0]:
dem_filter = vote_record['Class Name'] == 'democrat'
vote_record_dems = vote_record[dem_filter]
repub_filter = vote_record['Class Name'] == 'republican'
vote_record_repubs = vote_record[repub_filter]

In [0]:
vote_record_dems.head()

  Class Name  ...  export-administration-act-south-africa
2   democrat  ...                                     0.0
3   democrat  ...                                     1.0
4   democrat  ...                                     1.0
5   democrat  ...                                     1.0
6   democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
vote_record_repubs.head()

    Class Name  ...  export-administration-act-south-africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

In [0]:
ttest_ind(vote_record_dems['immigration'], vote_record_repubs['immigration'], nan_policy='omit')

Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)

Since the pvalue is .083 we fail to reject the null-hypothesis because the error rate is greater than .05, meaning that there is too much noise to know if we can say that if we were to continue to sample republicans versus democrats on this issue that it wouldn't trend toward having the same average outcome. It doesn't mean that we would trend towards the same average outcome, but it's not enough to say we know it can't.


###Null Hypothesis
The 'yes' votes on 'religious-groups-in-schools' will be the same between Democrats and Republicans.

###Alternate Hypothesis 
The votes on 'religious-groups-in-schools' will be different on average for Democrats and Republicans.

In [0]:
ttest_ind(vote_record_dems['religious-groups-in-schools'], vote_record_repubs['religious-groups-in-schools'], nan_policy='omit')

Ttest_indResult(statistic=-9.737575825219457, pvalue=2.3936722520597287e-20)

Since the pvalue is significantly low, we reject the null hypothesis that Democrats and Republicans vote the same on religious groups in school.