<a href="https://colab.research.google.com/github/deanhadzi/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module1-statistics-probability-and-inference/LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE

import pandas as pd
import numpy as np

In [0]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.names

In [0]:
column_names = ['Party', 'Vote 1', 'Vote 2', 'Vote 3',
                'Vote 4', 'Vote 5', 'Vote 6', 'Vote 7', 
                'Vote 8', 'Vote 9', 'Vote 10', 'Vote 11',
                'Vote 12', 'Vote 13', 'Vote 14', 'Vote 15', 
                'Vote 16']

In [38]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', header=None, names=column_names, na_values='?')
print(df.shape)
df.head()

(435, 17)

        Party Vote 1 Vote 2 Vote 3  ... Vote 13 Vote 14 Vote 15 Vote 16
0  republican      n      y      n  ...       y       y       n       y
1  republican      n      y      n  ...       y       y       n     NaN
2    democrat    NaN      y      y  ...       y       y       n       n
3    democrat      n      y      y  ...       y       n       n       y
4    democrat      y      y      y  ...       y       y       y       y

[5 rows x 17 columns]

In [40]:
df.replace({'y': 1, 'n': -1, np.NaN: 0}, inplace=True)
df.head()

        Party  Vote 1  Vote 2  Vote 3  ...  Vote 13  Vote 14  Vote 15  Vote 16
0  republican      -1       1      -1  ...        1        1       -1        1
1  republican      -1       1      -1  ...        1        1       -1        0
2    democrat       0       1       1  ...        1        1       -1       -1
3    democrat      -1       1       1  ...        1       -1       -1        1
4    democrat       1       1       1  ...        1        1        1        1

[5 rows x 17 columns]

In [44]:
pd.value_counts(df['Party'])

democrat      267
republican    168
Name: Party, dtype: int64