<a href="https://colab.research.google.com/github/Johnnyr81/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module1-statistics-probability-and-inference/LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data')

import numpy as np

In [2]:
df.head()

   republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0  republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1    democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2    democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3    democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4    democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y

In [3]:
df['y.1'].value_counts()

n    247
y    176
?     11
Name: y.1, dtype: int64

In [4]:
df = df.replace(to_replace=['n', 'y', '?'], value=[0, 1, np.nan])
df.head()

   republican    n    y  n.1  y.1  y.2  y.3  ...  y.4    ?  y.5  y.6  y.7  n.5  y.8
0  republican  0.0  1.0  0.0  1.0  1.0  1.0  ...  0.0  0.0  1.0  1.0  1.0  0.0  NaN
1    democrat  NaN  1.0  1.0  NaN  1.0  1.0  ...  0.0  1.0  0.0  1.0  1.0  0.0  0.0
2    democrat  0.0  1.0  1.0  0.0  NaN  1.0  ...  0.0  1.0  0.0  1.0  0.0  0.0  1.0
3    democrat  1.0  1.0  1.0  0.0  1.0  1.0  ...  0.0  1.0  NaN  1.0  1.0  1.0  1.0
4    democrat  0.0  1.0  1.0  0.0  1.0  1.0  ...  0.0  0.0  0.0  1.0  1.0  1.0  1.0

[5 rows x 17 columns]

In [5]:
df.columns = ['Party',
'handicapped-infants',
'water-project',
'adoption',
'physician',
'el-salvador' ,
'religious',
'anti-satellite',
'nicaraguan',
'mx-missile',
'immigration',
'synfuels',
'education',
'superfund' ,
'crime',
'duty' ,
'export']

df.head()

        Party  handicapped-infants  water-project  ...  crime  duty  export
0  republican                  0.0            1.0  ...    1.0   0.0     NaN
1    democrat                  NaN            1.0  ...    1.0   0.0     0.0
2    democrat                  0.0            1.0  ...    0.0   0.0     1.0
3    democrat                  1.0            1.0  ...    1.0   1.0     1.0
4    democrat                  0.0            1.0  ...    1.0   1.0     1.0

[5 rows x 17 columns]

In [6]:
#1
rep = df[df['Party'] == 'republican']
rep.head()

         Party  handicapped-infants  water-project  ...  crime  duty  export
0   republican                  0.0            1.0  ...    1.0   0.0     NaN
6   republican                  0.0            1.0  ...    1.0   NaN     1.0
7   republican                  0.0            1.0  ...    1.0   0.0     1.0
9   republican                  0.0            1.0  ...    1.0   0.0     0.0
10  republican                  0.0            1.0  ...    1.0   NaN     NaN

[5 rows x 17 columns]

In [7]:
#1
dem = df[df['Party'] == 'democrat']
dem.head()

      Party  handicapped-infants  water-project  ...  crime  duty  export
1  democrat                  NaN            1.0  ...    1.0   0.0     0.0
2  democrat                  0.0            1.0  ...    0.0   0.0     1.0
3  democrat                  1.0            1.0  ...    1.0   1.0     1.0
4  democrat                  0.0            1.0  ...    1.0   1.0     1.0
5  democrat                  0.0            1.0  ...    1.0   1.0     1.0

[5 rows x 17 columns]

In [8]:
df.dtypes

Party                   object
handicapped-infants    float64
water-project          float64
adoption               float64
physician              float64
el-salvador            float64
religious              float64
anti-satellite         float64
nicaraguan             float64
mx-missile             float64
immigration            float64
synfuels               float64
education              float64
superfund              float64
crime                  float64
duty                   float64
export                 float64
dtype: object

In [0]:
from scipy.stats import ttest_ind

In [27]:
#2
print("Democrat Support: ", dem['duty'].mean())
print("Republican Support: ", rep['duty'].mean())

Democrat Support:  0.6374501992031872
Republican Support:  0.09032258064516129

In [28]:
#2
ttest_ind(rep['duty'], dem['duty'], nan_policy='omit')

Ttest_indResult(statistic=-12.798995602145252, pvalue=1.0119714485045595e-31)

In [23]:
#3
print("Democrat Support: ", dem['crime'].mean())
print("Republican Support: ", rep['crime'].mean())

Democrat Support:  0.35019455252918286
Republican Support:  0.98125

In [24]:
#3
ttest_ind(rep['crime'], dem['crime'], nan_policy='omit')

Ttest_indResult(statistic=16.288201256755894, pvalue=1.796481827173887e-46)

In [10]:
#4
print("Democrat Support: ", dem['water-project'].mean())
print("Republican Support: ", rep['water-project'].mean())

Democrat Support:  0.502092050209205
Republican Support:  0.5034013605442177

In [15]:
#4
ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.02491808700047811, pvalue=0.9801332440121653)