<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [6]:
import pandas as pd
import scipy.stats as stats
import numpy as np

In [20]:
df = pd.read_csv('house-votes-84.data',header=None)

In [27]:
df.replace('?',np.nan,inplace=True)

In [29]:
cols = ['dem/rep','handicapped_infants','water-project-cost-sharing','adoption-of-the-budget-resolution',
'physician-fee-freeze','el-salvador-aid','religious-groups-in-schools','anti-satellite-test-ban',
'aid-to-nicaraguan-contras','mx-missile','immigration','synfuels-corporation-cutback','education-spending',
'superfund-right-to-sue','crime','duty-free-exports','export-administration-act-south-africa']

In [35]:
df.columns = cols

In [34]:
df.isnull().sum()

dem/rep                                     0
handicapped_infants                        12
water-project-cost-sharing                 48
adoption-of-the-budget-resolution          11
physician-fee-freeze                       11
el-salvador-aid                            15
religious-groups-in-schools                11
anti-satellite-test-ban                    14
aid-to-nicaraguan-contras                  15
mx-missile                                 22
immigration                                 7
synfuels-corporation-cutback               21
education-spending                         31
superfund-right-to-sue                     25
crime                                      17
duty-free-exports                          28
export-administration-act-south-africa    104
dtype: int64

In [40]:
df.head()

,dem/rep,handicapped_infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN
2,democrat,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y

## Filling NaN values with mode depending on dem/rep

In [53]:
# Let's try imputing missing data instead of deleting. We'll assume NaNs will vote with their party's majority

In [42]:
rep = df[df['dem/rep'] == 'republican']
dem = df[df['dem/rep'] == 'democrat']

In [86]:
def fill_with_mode(df):
    for col in df.columns:
        df[col].fillna(df[col].mode()[0], inplace=True)
    return df

In [87]:
rep = fill_with_mode(rep)

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [88]:
dem = fill_with_mode(dem)

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [90]:
# merging back into one df

In [91]:
df = pd.concat([rep,dem]).sort_index()

## Running t-tests

### Dems supporting more than rep

In [95]:
dem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 2 to 431
Data columns (total 17 columns):
dem/rep                                   267 non-null object
handicapped_infants                       267 non-null object
water-project-cost-sharing                267 non-null object
adoption-of-the-budget-resolution         267 non-null object
physician-fee-freeze                      267 non-null object
el-salvador-aid                           267 non-null object
religious-groups-in-schools               267 non-null object
anti-satellite-test-ban                   267 non-null object
aid-to-nicaraguan-contras                 267 non-null object
mx-missile                                267 non-null object
immigration                               267 non-null object
synfuels-corporation-cutback              267 non-null object
education-spending                        267 non-null object
superfund-right-to-sue                    267 non-null object
crime                                     267 non-null object
duty-free-exports                         267 non-null object
export-administration-act-south-africa    267 non-null object
dtypes: object(17)
memory usage: 47.5+ KB

In [96]:
rep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168 entries, 0 to 434
Data columns (total 17 columns):
dem/rep                                   168 non-null object
handicapped_infants                       168 non-null object
water-project-cost-sharing                168 non-null object
adoption-of-the-budget-resolution         168 non-null object
physician-fee-freeze                      168 non-null object
el-salvador-aid                           168 non-null object
religious-groups-in-schools               168 non-null object
anti-satellite-test-ban                   168 non-null object
aid-to-nicaraguan-contras                 168 non-null object
mx-missile                                168 non-null object
immigration                               168 non-null object
synfuels-corporation-cutback              168 non-null object
education-spending                        168 non-null object
superfund-right-to-sue                    168 non-null object
crime                                     168 non-null object
duty-free-exports                         168 non-null object
export-administration-act-south-africa    168 non-null object
dtypes: object(17)
memory usage: 23.6+ KB

In [93]:
df.describe()

,dem/rep,handicapped_infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
count,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435
unique,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,democrat,n,y,y,n,n,y,y,y,y,y,n,n,y,y,n,y
freq,267,239,243,260,255,220,274,247,246,226,219,273,251,219,255,245,373

In [94]:
stats.ttest_rel(dem['water-project-cost-sharing'],rep['water-project-cost-sharing'])

/usr/local/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:248: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

ValueError: unequal length arrays

In [ ]:
### YOUR CODE STARTS HERE