<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import style
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [118]:
df = pd.read_csv('house-votes-84.data',header=None, na_values='?')
df.head()

           0    1  2  3    4    5  6  7  8  9  10   11   12 13 14 15   16
0  republican    n  y  n    y    y  y  n  n  n  y  NaN    y  y  y  n    y
1  republican    n  y  n    y    y  y  n  n  n  n    n    y  y  y  n  NaN
2    democrat  NaN  y  y  NaN    y  y  n  n  n  n    y    n  y  y  n    n
3    democrat    n  y  y    n  NaN  y  n  n  n  n    y    n  y  n  n    y
4    democrat    y  y  y    n    y  y  n  n  n  n    y  NaN  y  y  y    y

In [119]:
df.shape

(435, 17)

In [120]:
df = df[df != '?']

In [121]:
df.isna().sum()

0       0
1      12
2      48
3      11
4      11
5      15
6      11
7      14
8      15
9      22
10      7
11     21
12     31
13     25
14     17
15     28
16    104
dtype: int64

In [122]:
df.dropna(inplace=True)

In [123]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
dtype: int64

In [124]:
df.head()

            0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
5     democrat  n  y  y  n  y  y  n  n  n  n  n  n  y  y  y  y
8   republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  y
19    democrat  y  y  y  n  n  n  y  y  y  n  y  n  n  n  y  y
23    democrat  y  y  y  n  n  n  y  y  y  n  n  n  n  n  y  y
25    democrat  y  n  y  n  n  n  y  y  y  y  n  n  n  n  y  y

In [127]:
df.shape

(232, 17)

In [125]:
df.columns.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [126]:
df = df.rename(columns={
    0: 'Party',
    1: 'handicapped-infants',
    2: 'water-project-cost-sharing',
    3: 'adoption-of-the-budget-resolution',
    4: 'physician-fee-freeze',
    5: 'el-salvador-aid',
    6: 'religious-groups-in-schools',
    7: 'anti-satellite-test-ban',
    8: 'aid-to-nicaraguan-contras',
    9: 'mx-missile',
    10: 'immigration',
    11: 'synfuels-corporation-cutback',
    12: 'education-spending',
    13: 'superfund-right-to-sue',
    14: 'crime',
    15: 'duty-free-exports',
    16: 'export-administration-act-south-africa',
})
df.head()

,Party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
5,democrat,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y
8,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
19,democrat,y,y,y,n,n,n,y,y,y,n,y,n,n,n,y,y
23,democrat,y,y,y,n,n,n,y,y,y,n,n,n,n,n,y,y
25,democrat,y,n,y,n,n,n,y,y,y,y,n,n,n,n,y,y

In [131]:
df = df.replace(['y','n'], [1,0])
df.head()

,Party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
5,democrat,0,1,1,0,1,1,0,0,0,0,0,0,1,1,1,1
8,republican,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,1
19,democrat,1,1,1,0,0,0,1,1,1,0,1,0,0,0,1,1
23,democrat,1,1,1,0,0,0,1,1,1,0,0,0,0,0,1,1
25,democrat,1,0,1,0,0,0,1,1,1,1,0,0,0,0,1,1

In [138]:
democrats = df[df['Party']=='democrat']
republicans = df[df['Party']=='republican']

In [167]:
republicans['handicapped-infants'].describe()

count    108.000000
mean       0.212963
std        0.411310
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: handicapped-infants, dtype: float64

In [165]:
def ttest(title, sample1, sample2):
    stat, pvalue = ttest_ind(sample1, sample2)
    print('{}:\nstat: {} \np-value: {}\nIs p-value < 0.01? {}\n'.format(title,stat,pvalue,pvalue < 0.01))
    
columns = df.columns.tolist()
columns = columns[1:]

for col in columns: 
    ttest(col,democrats[col],republicans[col])

handicapped-infants:
stat: 6.240907554031057
p-value: 2.0722024876891192e-09
Is p-value < 0.01? True

water-project-cost-sharing:
stat: -0.3128208943045492
p-value: 0.7547001979801332
Is p-value < 0.01? False

adoption-of-the-budget-resolution:
stat: 14.742943396634677
p-value: 4.458031105913572e-35
Is p-value < 0.01? True

physician-fee-freeze:
stat: -41.94745401614099
p-value: 9.726393032601933e-110
Is p-value < 0.01? True

el-salvador-aid:
stat: -17.42676222846621
p-value: 6.337148100603545e-44
Is p-value < 0.01? True

religious-groups-in-schools:
stat: -7.51827419959023
p-value: 1.2327152712646607e-12
Is p-value < 0.01? True

anti-satellite-test-ban:
stat: 8.700290514400237
p-value: 6.437744771734974e-16
Is p-value < 0.01? True

aid-to-nicaraguan-contras:
stat: 14.107516419917083
p-value: 5.607962900152492e-33
Is p-value < 0.01? True

mx-missile:
stat: 12.975290759761135
p-value: 2.967051309761917e-29
Is p-value < 0.01? True

immigration:
stat: -0.6366340860076748
p-value: 0.5249963080040427
Is p-value < 0.01? False

synfuels-corporation-cutback:
stat: 6.002047990918205
p-value: 7.520282442196167e-09
Is p-value < 0.01? True

education-spending:
stat: -15.863268313976928
p-value: 8.813480542491443e-39
Is p-value < 0.01? True

superfund-right-to-sue:
stat: -10.07761089413504
p-value: 5.101593219793468e-20
Is p-value < 0.01? True

crime:
stat: -13.34079793707258
p-value: 1.8791646941359472e-30
Is p-value < 0.01? True

duty-free-exports:
stat: 8.792682717575486
p-value: 3.483731546112177e-16
Is p-value < 0.01? True

export-administration-act-south-africa:
stat: 5.766892862845301
p-value: 2.586695370969073e-08
Is p-value < 0.01? True