# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data' 
names = ['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13','A14','A15','approval']
data = pd.read_csv(url, na_values='?', names=names)

In [82]:
data.replace(['+','-'],[True,False], inplace=True)
data.replace(['t','f'],[True,False], inplace=True)

# Validate that it has the appropriate number of observations
data.shape # Expected observations: 690

(690, 16)

In [83]:
# Check for missing data, compare to source. Already changed "?" to NA.
data.isnull().sum()

A1          12
A2          12
A3           0
A4           6
A5           6
A6           9
A7           9
A8           0
A9           0
A10          0
A11          0
A12          0
A13          0
A14         13
A15          0
approval     0
dtype: int64

In [84]:
# Make sure that the loaded features are of the types described above 
# (continuous values should be treated as float), 
# and correct as necessary

[type(data[col][0]) for col in data.columns]

[str,
 numpy.float64,
 numpy.float64,
 str,
 str,
 str,
 str,
 numpy.float64,
 numpy.bool_,
 numpy.bool_,
 numpy.int64,
 numpy.bool_,
 str,
 numpy.float64,
 numpy.int64,
 numpy.bool_]

In [85]:
# A11 and A15 are int64; let's turn them into float64
data2 = data.astype({'A11':np.float64, 'A15':np.float64})

[type(data2[col][0]) for col in data2.columns]

[str,
 numpy.float64,
 numpy.float64,
 str,
 str,
 str,
 str,
 numpy.float64,
 numpy.bool_,
 numpy.bool_,
 numpy.float64,
 numpy.bool_,
 str,
 numpy.float64,
 numpy.float64,
 numpy.bool_]

In [86]:
# Data2 looks good, so I'll backpropagate
data = data2

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" between them and the class label, and apply the Chi-squared test to them. There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end. This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [170]:
continuous_columns = ['A2','A3','A8','A11','A14','A15']

cont_groups = data.groupby('approval')[continuous_columns]

# How do the mean values for each column compare between the classes?
cont_groups.mean()

                 A2        A3        A8       A11         A14          A15
approval
False     29.808231  3.839948  1.257924  0.631854  199.699468   198.605744
True      33.720492  5.904951  3.427899  4.605863  164.421927  2038.859935

In [171]:
cont_groups.std()

                 A2        A3        A8       A11         A14          A15
approval
False     10.919291  4.337662  2.120481  1.900049  181.564835   671.608839
True      12.809641  5.471485  4.120792  6.320242  161.770675  7659.763941

In [172]:
# Here I test the difference between both values of approval, 
# for all of the continuous features. Better than continuing to look
# at descriptive statistics like the above.


# Iterate through the continuous columns
for col in continuous_columns:
    # Create a dataframe with 2 columns: the continuous one and 'approval',
#     then group it by approval
    grouped_column = data[[col,'approval']].groupby('approval')
    
    # Create an array with just the data for each value of 'approval'
    yes_approved = grouped_column.get_group(True)[col]
    not_approved = grouped_column.get_group(False)[col]
    
    # Figure out whether they're statistically different
    t_stat, p_val = stats.ttest_ind(yes_approved,
                                    not_approved, 
                                    nan_policy='omit')
    print('{:3} >>   t-Stat: {:5.3},   P-val: {:.4}'.format(col, 
                                                          t_stat, 
                                                          p_val))

A2  >>   t-Stat:  4.29,   P-val: 2.028e-05
A3  >>   t-Stat:  5.53,   P-val: 4.552e-08
A8  >>   t-Stat:  8.94,   P-val: 3.671e-18
A11 >>   t-Stat:  11.7,   P-val: 7.958e-29
A14 >>   t-Stat: -2.64,   P-val: 0.008586
A15 >>   t-Stat:  4.68,   P-val: 3.452e-06

In [174]:
categorical_columns = ['A1','A4','A5','A6','A7','A9','A10','A12','A13']

for col in categorical_columns:
    local_set = pd.crosstab(data[col], data['approval'])
    chi2_stat, p_val, dof, ex = stats.chi2_contingency(local_set)

    print('{:3} >>   Chi2-Stat: {:10.3},   P-val: {:.4}'.format(col, 
                                                          chi2_stat, 
                                                          p_val))

A1  >>   Chi2-Stat:      0.311,   P-val: 0.5769
A4  >>   Chi2-Stat:       26.2,   P-val: 2.011e-06
A5  >>   Chi2-Stat:       26.2,   P-val: 2.011e-06
A6  >>   Chi2-Stat:       98.3,   P-val: 3.5e-15
A7  >>   Chi2-Stat:       45.0,   P-val: 3.625e-07
A9  >>   Chi2-Stat:   3.55e+02,   P-val: 3.119e-79
A10 >>   Chi2-Stat:   1.43e+02,   P-val: 5.676e-33
A12 >>   Chi2-Stat:      0.568,   P-val: 0.4509
A13 >>   Chi2-Stat:       9.19,   P-val: 0.01009

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

### Interpret and explain the two t-tests you ran 
I ran the t-test for every continuous feature in the dataset, comparing the class labels against each other. The t-statistic was really significant for all of them.  The least significant was A14, with P = 0.0086 (still above 99% confidence).

Each of these significant results tells us that the two groups (approved and not-approved) had different mean values of that feature.  Our null hypothesis is that the values of a feature are being sampled from the same distribution for both values of the class label (i.e., that the two groups were indistinguishable by that feature). The P-value is the probability that we would get values at least as extreme as we observed just by chance, if the null hypothesis were true.  Because those P-values are all very small (except maye 0.0086), we reject hte null hypothesis and say that the two groups (approved and not approved) were drawn from different distributions.  That is, the people that were and weren't approved showed significantly different values of that one continuous feature.

### Interpret and explain the two Chi-squared tests you ran
I also ran the Chi2 test on all the features (specifically, a Chi-square test of independence of variables in a contingency table). For each feature, I created a crosstable of that feature against the class feature ('approval).

chi2_contingency is a test of the null hypothesis that the differences between the frequencies observed in the contingency table arose by chance.  You'd expect the null hypothesis if the frequencies observed for the values of that feature did **not** affect the loan decision.  Whenever the test yielded a really low p-value, we reject the null hypothesis and conclude that that feature **did** have an effect on approval.

Looking at the results, it seems that most categorical variables strongly affected the decision.  The exceptions are A1 (P-val: 0.5769), A12 (P-val: 0.4509), and arguably A13 (P-val: 0.01). 

### What was the most challenging part of this sprint challenge?
Groupby and crosstab.  Again.  In retrospect, I didn't even need to use groupby at all.  For these few values of the class feature, I should've manually divided the dataset into approved and rejected.  I guess I know what to go back and study.