# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [108]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [109]:
rawdata = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', header = None, na_values='?' )
rawdata.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0  +

In [110]:
### Null values have been processed out by read_csv, and dropped as there were less than 40
prodf = rawdata.dropna()

#prodf[1] = prodf[1].replace({'?' : 0 })
#prodf[1] = prodf[1].astype('float64')

In [111]:
### Verified all Data types are proper types for the data.
prodf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 653 entries, 0 to 689
Data columns (total 16 columns):
0     653 non-null object
1     653 non-null float64
2     653 non-null float64
3     653 non-null object
4     653 non-null object
5     653 non-null object
6     653 non-null object
7     653 non-null float64
8     653 non-null object
9     653 non-null object
10    653 non-null int64
11    653 non-null object
12    653 non-null object
13    653 non-null float64
14    653 non-null int64
15    653 non-null object
dtypes: float64(4), int64(2), object(10)
memory usage: 86.7+ KB

In [115]:
prodf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 653 entries, 0 to 689
Data columns (total 16 columns):
0     653 non-null object
1     653 non-null float64
2     653 non-null float64
3     653 non-null object
4     653 non-null object
5     653 non-null object
6     653 non-null object
7     653 non-null float64
8     653 non-null object
9     653 non-null object
10    653 non-null int64
11    653 non-null object
12    653 non-null object
13    653 non-null float64
14    653 non-null int64
15    653 non-null object
dtypes: float64(4), int64(2), object(10)
memory usage: 106.7+ KB

In [117]:
approved = prodf.set_index(15).loc['+']
denied= prodf.set_index(15).loc['-']

In [118]:
deniedreshape = denied.sample(296)

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [119]:
### Here I looked at the describe for approved and denied
## The numbers total rows look right given we dropped rows
# to account for removal of missing data
denied.describe()

,1,2,7,10,13,14
count,357.000000,357.000000,357.000000,357.000000,357.000000,357.000000
mean,29.562269,3.882325,1.223725,0.666667,193.408964,187.974790
std,10.719168,4.393079,2.029272,1.958368,172.057953,632.781715
min,15.170000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.920000,0.835000,0.125000,0.000000,100.000000,0.000000
50%,26.920000,2.210000,0.455000,0.000000,160.000000,1.000000
75%,34.830000,5.000000,1.500000,0.000000,260.000000,67.000000
max,74.830000,26.335000,13.875000,20.000000,2000.000000,5552.000000

In [120]:
### Two features to perform t-tests on
### Continuious cols 1,2,7,10,13,14
### Selecting 1 and 2 first run.
# Stats vs col1
print(stats.ttest_ind(approved[1], denied[1]))
print(stats.ttest_ind(approved[1], denied[2]))
print(stats.ttest_ind(approved[1], denied[7]))
print(stats.ttest_ind(approved[1], denied[10]))
print(stats.ttest_ind(approved[1], denied[13]))
print(stats.ttest_ind(approved[1], denied[14]))

Ttest_indResult(statistic=4.675662433767456, pvalue=3.5636710933835225e-06)
Ttest_indResult(statistic=41.70770888725881, pvalue=4.8343631550153686e-186)
Ttest_indResult(statistic=47.84869801510857, pvalue=2.504675918200311e-215)
Ttest_indResult(statistic=48.71587246269441, pvalue=2.6769205487671732e-219)
Ttest_indResult(statistic=-15.917363365420258, pvalue=1.998528849011954e-48)
Ttest_indResult(statistic=-4.189361651980531, pvalue=3.1833621024781186e-05)

In [121]:
# Stats vs col2
print(stats.ttest_ind(approved[2], denied[1]))
print(stats.ttest_ind(approved[2], denied[2]))
print(stats.ttest_ind(approved[2], denied[7]))
print(stats.ttest_ind(approved[2], denied[10]))
print(stats.ttest_ind(approved[2], denied[13]))
print(stats.ttest_ind(approved[2], denied[14]))

Ttest_indResult(statistic=-34.3094252154283, pvalue=4.2364338388163675e-148)
Ttest_indResult(statistic=5.400813416576192, pvalue=9.310154396147606e-08)
Ttest_indResult(statistic=15.137034390012895, pvalue=1.4321769909454175e-44)
Ttest_indResult(statistic=16.99562205464368, pvalue=6.911436499141369e-54)
Ttest_indResult(statistic=-18.73208816459629, pvalue=5.95814002536821e-63)
Ttest_indResult(statistic=-4.947656863930696, pvalue=9.574240748916835e-07)

In [122]:
# Stats vs col7
print(stats.ttest_ind(approved[7], denied[1]))
print(stats.ttest_ind(approved[7], denied[2]))
print(stats.ttest_ind(approved[7], denied[7]))
print(stats.ttest_ind(approved[7], denied[10]))
print(stats.ttest_ind(approved[7], denied[13]))
print(stats.ttest_ind(approved[7], denied[14]))

Ttest_indResult(statistic=-39.46650475763361, pvalue=7.59839619468712e-175)
Ttest_indResult(statistic=-1.2066404343386705, pvalue=0.2280089363557633)
Ttest_indResult(statistic=9.002392498622463, pvalue=2.4079238505859142e-18)
Ttest_indResult(statistic=11.31654040035709, pvalue=3.1425211938241377e-27)
Ttest_indResult(statistic=-18.985008152963744, pvalue=2.7025329665436104e-64)
Ttest_indResult(statistic=-5.015596391322104, pvalue=6.826706199757547e-07)

In [123]:
# Stats vs col10
print(stats.ttest_ind(approved[10], denied[1]))
print(stats.ttest_ind(approved[10], denied[2]))
print(stats.ttest_ind(approved[10], denied[7]))
print(stats.ttest_ind(approved[10], denied[10]))
print(stats.ttest_ind(approved[10], denied[13]))
print(stats.ttest_ind(approved[10], denied[14]))

Ttest_indResult(statistic=-35.03580998767144, pvalue=6.046316600019918e-152)
Ttest_indResult(statistic=1.966332728198669, pvalue=0.04968465285777108)
Ttest_indResult(statistic=9.741039442583531, pvalue=5.054078383012518e-21)
Ttest_indResult(statistic=11.336964562239809, pvalue=2.5864649620278843e-27)
Ttest_indResult(statistic=-18.854744381818552, pvalue=1.3313487699183008e-63)
Ttest_indResult(statistic=-4.981737662086176, pvalue=8.084120229480945e-07)

In [124]:
# Stats vs col13
print(stats.ttest_ind(approved[13], denied[1]))
print(stats.ttest_ind(approved[13], denied[2]))
print(stats.ttest_ind(approved[13], denied[7]))
print(stats.ttest_ind(approved[13], denied[10]))
print(stats.ttest_ind(approved[13], denied[13]))
print(stats.ttest_ind(approved[13], denied[14]))

Ttest_indResult(statistic=15.661059191190134, pvalue=3.7721515589055855e-47)
Ttest_indResult(statistic=18.6794399397254, pvalue=1.1326148625744884e-62)
Ttest_indResult(statistic=18.99497562060533, pvalue=2.3918025109112593e-64)
Ttest_indResult(statistic=19.05985665836937, pvalue=1.0795566182342852e-64)
Ttest_indResult(statistic=-2.18221936438708, pvalue=0.029450100409286473)
Ttest_indResult(statistic=-0.6181886755632993, pvalue=0.5366671847142042)

In [125]:
# Stats vs col14
print(stats.ttest_ind(approved[14], denied[1]))
print(stats.ttest_ind(approved[14], denied[2]))
print(stats.ttest_ind(approved[14], denied[7]))
print(stats.ttest_ind(approved[14], denied[10]))
print(stats.ttest_ind(approved[14], denied[13]))
print(stats.ttest_ind(approved[14], denied[14]))

Ttest_indResult(statistic=4.8845093354832105, pvalue=1.3064482158960774e-06)
Ttest_indResult(statistic=4.9478594168996635, pvalue=9.564647277077762e-07)
Ttest_indResult(statistic=4.954418215669766, pvalue=9.258969044913453e-07)
Ttest_indResult(statistic=4.9557923394975365, pvalue=9.196132155619521e-07)
Ttest_indResult(statistic=4.478987792063757, pvalue=8.857162269574647e-06)
Ttest_indResult(statistic=4.475369764700449, pvalue=9.003915641872878e-06)

In [126]:
### Alright, Now that we have all the t-test stats we can begin to compare
# Approved 1, approved 2, approved 10, and approved 14 show no statistic correlation to any of the denied columns
# Approved 7, and 13 show signifigance to denied columns 2 and 14 respectively.
# Approved 7 vs Denied 2
# Approved 13 vs denied 14

In [127]:
pd.crosstab(rawdata[15],rawdata[0])

    __dummy__  __dummy__
15
+          98        206
-         112        262

In [128]:
pd.crosstab(rawdata[15],rawdata[3])

3   l    u    y
15
+   2  256   45
-   0  263  118

In [129]:
pd.crosstab(rawdata[15],rawdata[4])

4     g  gg    p
15
+   256   2   45
-   263   0  118

In [130]:
pd.crosstab(rawdata[15],rawdata[5])

5   aa   c  cc   d   e  ff   i  j   k   m   q  r   w   x
15
+   19  62  29   7  14   7  14  3  14  16  51  2  33  32
-   35  75  12  23  11  46  45  7  37  22  27  1  31   6

In [131]:
pd.crosstab(rawdata[15],rawdata[6])

6   bb  dd  ff   h  j  n  o    v  z
15
+   25   2   8  87  3  2  1  169  6
-   34   4  49  51  5  2  1  230  2

In [132]:
pd.crosstab(rawdata[15],rawdata[8])

8     f    t
15
+    23  284
-   306   77

In [133]:
pd.crosstab(rawdata[15],rawdata[9])

9     f    t
15
+    98  209
-   297   86

In [134]:
pd.crosstab(rawdata[15],rawdata[11])

11    f    t
15
+   161  146
-   213  170

In [135]:
pd.crosstab(rawdata[15],rawdata[12])

12    g  p   s
15
+   287  5  15
-   338  3  42

In [136]:
pd.crosstab(rawdata[15],rawdata[11])

11    f    t
15
+   161  146
-   213  170

In [137]:
### Categorical 0,3,4,5,6,8,9,11,12

In [138]:
### Going through the Data, I found a correlation between approved and denied and col 11
# The P value is over .05, it is .45 showing us there is a correlation between col 11
# and approval, and denial.

In [139]:
stats.chi2_contingency(pd.crosstab(rawdata[15],rawdata[9]))

(143.06956205083145,
 5.675727374527571e-33,
 1,
 array([[175.74637681, 131.25362319],
        [219.25362319, 163.74637681]]))

In [140]:
stats.chi2_contingency(pd.crosstab(rawdata[15],rawdata[8]))

(355.2038167412799,
 3.1185900878457007e-79,
 1,
 array([[146.38115942, 160.61884058],
        [182.61884058, 200.38115942]]))

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

The T-Tests I ran
=================
I ran a lot more than 2 t-tests, inorder to account for all variables at once.
I set them up so I could easily go back and get info about what was what.
The T-Tests that showed the highest correlation were between approved A8 and 
denied A3, and approvd A14 and denied A15.
This tells us that there is a strong correlation between these 2 sets of data.

Chi Squared
===========
I pulled several crosstabs, all of them shown. The strongest corrolation was 
in A9, and A10.
When I ran the Chi squared tests, I saw that the P value was very low, rejecting
the null hypothesis that there is no corrolation.
I have the Data for the Chi tests for A9, and A10 executed above.


Most Challangenging part of sprint challange
============================================
I personally don't like Crosstabs!!!!!!